@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{ 
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-size: 14px; 
    font-weight: 400;
} 

h1, h2, h3, h4, h5, h6{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #212121;
    line-height: normal;
}

h2{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px;
}

input, select, textarea, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
a{color: #42bbac; text-decoration: none; transition: all ease 0.4s;}
a:hover{ color: #12BDA3; text-decoration: none;}
a:focus{ outline:none; box-shadow:none;}
strong{font-weight: 700;}
button:focus,
input:focus{ outline:none; box-shadow:none; }
/*Btn-primary*/
.btn{font-size: 12px; padding: 8px 20px; font-weight: 400; transition: all ease 0.4s; border-radius: 4px;  }
.btn:focus{outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}

.btn-primary{ background-color: #42bbac; border-color:#42bbac; }
.btn-primary:hover, .btn-primary:focus{ background-color: #12BDA3; border-color: #12BDA3; outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{ background-color: #42bbac;  border-color: #42bbac; outline: none; box-shadow: none!important; -moz-box-shadow: none; -webkit-box-shadow: none;}

.btn-primary-bordered{ border:#42bbac solid 1px; color:#42bbac; background-color: transparent;}
.btn-primary-bordered:hover, .btn-primary-bordered:focus{ background-color:#42bbac; color:#ffffff;}

.btn-default-bordered{ border:#757575 solid 1px; color:#757575; background-color: transparent;}
.btn-default-bordered:hover, .btn-primary-bordered:focus{ background-color:#757575; color:#ffffff;}

/*Primary Btn*/
.btn-default{border: 1px solid #eeeeee; background-color: #ffffff; color: #212121;}

/*Form fields*/
.form-group{ margin-bottom: 20px;} 
.form-control::placeholder{ color: #9e9e9e;}
.form-control:focus{box-shadow:none; outline: none;border-color: #999999;}

/*Normal Fields*/
.form-control,
.form-control.gj-textbox-md{ background-color:#ffffff; color: #000000; padding:8px 14px; font-size: 12px; border:none; border: 1px solid #e0e0e0; border-radius: 2px;  transition: all ease 0.4s; appearance: none; -webkit-appearance: none; font-family: 'Poppins', sans-serif; line-height: inherit;}
.form-control:focus,
.form-control.gj-textbox-md:focus{box-shadow:none; outline: none;border-color: #999999; border-width: 1px;}

/*Normal Dropdown Field*/
select.form-control:focus{box-shadow:none; outline: none;border-color: #999999;}
select.form-control:not([size]):not([multiple]){height:auto; background-image: url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position: calc(100% - 12px) center;}


/*Plugin Datepicker field*/
.form-group .gj-datepicker-md [role=right-icon]{ font-size: 20px; background-image: url(../images/svg-icons/calendar-icon.svg); background-repeat: no-repeat; background-position: center; width: 20px; height: 20px; text-indent: -9999px; overflow: hidden; top: 50%; transform: translateY(-50%); right: 10px;}



/* label floating style */
.floating-field{ position: relative;}
.floating-label { position: absolute; top:10px; left: 0; user-select: none; z-index: 1; display: block; margin: 0; color:#757575; font-size: 12px; padding: 0 14px; transition: all ease 0.4s;} 

/*Input*/
.floating-field input.form-control::placeholder {color: transparent;} 
.floating-field input.form-control:focus,
.floating-field input.form-control:not(:placeholder-shown){box-shadow:none; outline: none;border-color: #999999;}
.floating-field input.form-control:focus + .floating-label,
.floating-field input.form-control:not(:placeholder-shown) + .floating-label{ transform: translate(0, -18px);   font-size: 10px; padding:0 5px; margin-left:5px; background-color:#ffffff; } 
.floating-field input.form-control:invalid{ border-color: rgba(255, 71, 87, .3);} 

/*textarea*/
.floating-field textarea{ resize: none; height: 90px;}
.floating-field textarea.form-control::placeholder {color: transparent;} 
.floating-field textarea.form-control:focus,
.floating-field textarea.form-control:not(:placeholder-shown){box-shadow:none; outline: none;border-color: #999999;}
.floating-field textarea.form-control:focus + .floating-label,
.floating-field textarea.form-control:not(:placeholder-shown) + .floating-label{transform: translate(0, -18px);   font-size: 10px; padding:0 5px; margin-left:5px; background-color:#ffffff} 
.floating-field textarea.form-control:invalid{ border-color: rgba(255, 71, 87, .3);} 

/*Calendar Field*/
.floating-field .form-calendar{ background-image:url(../images/svg-icons/calendar-icon.svg); background-repeat: no-repeat; background-position: 94% center;}
.floating-field .form-calendar2{ height:36px;}

.floating-field .form-time{ background-image:url(../images/time-icon.png); background-repeat: no-repeat; background-position: 99% center;}

/*Dropdown Field*/
.floating-field select.form-control:focus{box-shadow:none; outline: none;border-color: #999999;}
.floating-field select.form-control:focus~label,
.floating-field select.form-control:not([value=""]):valid~label { transform: translate(0, -18px);   font-size: 10px; padding:0 5px; margin-left:5px; background-color:#ffffff;   }
.floating-field select.form-control:not([size]):not([multiple]){height:auto; background-image: url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position: calc(100% - 12px) center;}

/*Single border field*/
.singleBorder.floating-field .form-control{ padding: 10px 0; border-top: none; border-left: none; border-right: none; }
.singleBorder.floating-field .floating-label{ padding: 0;}
.singleBorder.floating-field input.form-control:focus + .floating-label, 
.singleBorder.floating-field input.form-control:not(:placeholder-shown) + .floating-label{  padding: 0; margin: 0; }

/*Checkbox Switch btn*/
.customCheckBtn{ display: inline-block; position: relative;}
.customCheckBtn input{ position: absolute; cursor: pointer; opacity: 0;}
.customCheckBtn label{ width: 39px; height: 22px; border-radius: 11px; background-color: #fc7070; position: relative; cursor: pointer; transition: all ease 0.4s; margin: 0; }
.customCheckBtn label::after{ display: block; content:''; width: 16px; height: 16px; background-color: #ffffff; border-radius: 100%; position: absolute; top: 3px; left: 3px; transition: all ease 0.4s; background-image: url(../images/svg-icons/checkbox-cross.svg); background-repeat: no-repeat; background-position: center;}
.customCheckBtn input:checked~label{ background-color: #64f1a2; }
.customCheckBtn input:checked~label::after{ left: 20px; background-image: url(../images/svg-icons/checkbox-tick.svg);}

/*Custom Radio Btns*/
.customRadioBtn{ position: relative;} 
.customRadioBtn input{ position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;}
.customRadioBtn label{ display: inline-block; margin: 0; cursor: pointer; position: relative; padding-left:20px; color: #777777; font-size: 14px; font-weight: 500;}
.customRadioBtn label::before{ width:13px; height:13px; display: block; content:''; border:#cfcccc solid 1px; border-radius: 100%; position: absolute; top:4px; left: 0;}
.customRadioBtn input:checked ~ label::before{ border-color: #42bbac;}
.customRadioBtn input:checked ~ label::after{ width:7px; height: 7px; display: block; content:'';  border-radius: 100%; position: absolute; top:7px; left: 3px; background-color: #42bbac;}

 
/*************************************** 
Custom-radio Css
****************************************/
.custom-radio .custom-control-label::before {border-radius: 50% !important;}
.custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #ffffff;}
.custom-radio .custom-control-input:checked~.custom-control-label::after {background-image: url(../images/svg-icons/radio-check-icon.svg); background-size: auto;}
.custom-control-input:focus~.custom-control-label::before {box-shadow: unset;}
.custom-control-label::before {background-color: #ffffff; border: 1px solid #9e9e9e; border-radius: 2px !important;}
 
/*************************************** 
Custom file label css
****************************************/
.custom-file-label {position: absolute; top: 0; right: 0; left: 0; z-index: 1; height: calc(2.25rem + 2px); padding: .375rem .75rem .375rem 0; line-height: 1.5; color: #212121; font-size: 14px; font-weight:400px; background-color: #fff; border: 0; border-bottom: 1px solid #bdbdbd; border-radius: 0;}
.custom-file-label::after {color: #00dfbe; background-color: #ffffff; border-left: 0px solid #ced4da; border-radius: 0 .25rem .25rem 0; font-size: 14px; font-weight: 500;}
.multisteps-form__content .custom-file {margin-bottom: 30px;}
.custom-file-label + span {color: #9e9e9e; font-size: 12px; font-weight: 400;  line-height: normal; text-align: left;}


/*************************************** 
Custom Checkbox
****************************************/ 
.customCheckbox{ position: relative;}
.customCheckbox input{ position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;}
.customCheckbox label{ display: inline-block; margin: 0; cursor: pointer; position: relative; padding-left:24px; color: #757575; font-size: 14px;}
.customCheckbox label::before{ width:16px; height:16px; display: block; content:''; border:#9e9e9e solid 1px; border-radius: 2px; position: absolute; top:3px; left: 0;}
.customCheckbox input:checked ~ label::before{ border-color: #42bbac; background-color: #42bbac; background-image: url(../images/svg-icons/checked-icon.svg); background-repeat: no-repeat; background-position: center;}


/******************************
Custom Scrollbar Css 
*******************************/
/* width */
.customScrollbar::-webkit-scrollbar {width: 5px;}  
/* Track */
.customScrollbar::-webkit-scrollbar-track {box-shadow: inset 0 0 0px rgb(131, 104, 104); border-radius: 10px;}
/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {background: #d9d9d9; border-radius: 10px;}
/* Handle on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {background: #d9d9d9;}

.no-data{ font-size: 12px; text-align: center; margin: 0;}
.no-content-msg{ text-align: center; font-size: 12px; font-weight: 500; padding: 20px; }

.font-11{ font-size: 11px;}
.font-12{ font-size: 12px;}
.error-span{ font-size: 12px;}

.wrapper{ min-height: 100vh; /*display: flex; flex-wrap: wrap;*/}
.main{ /*max-width: calc(100% - 250px); flex: 0 0 calc(100% - 250px);*/ padding-left:250px; }
.pageContainer{ padding: 25px 40px 30px; min-height: 100vh;}
.pageTitle{ margin-bottom: 12px;}
.pageTitle h1{ font-size: 16px; font-weight: 500;}
.pageTitle h2{ font-size: 16px; font-weight: 500; margin: 0;}

.sortDropdown{ margin-left: auto; display: flex; align-items: center;}
.sortDropdown label{ color: #757575; font-size: 12px; font-weight: 500; margin: 0 5px 0 0;}
.sortDropdown select{border-radius: 5px; border: 1px solid #e0e0e0; background-color: #ffffff; color: #757575; font-size: 12px; font-weight: 400; padding: 3px 5px 3px 5px;}
.sortDropdown select:focus{ box-shadow: none; outline: none;}

a.hamburgerMenu{ width:30px; height: 30px; display: block; border: 1px solid #ebebeb; background-color: #ffffff; background-image: url(../images/svg-icons/humburger-icon.svg); background-repeat: no-repeat; background-position: center; border-radius: 100%;} 

.custom-dropdown a.dropdown-toggle {border-radius: 5px; border: 1px solid #e0e0e0; background-color: #ffffff; color: #757575; font-size: 12px; text-align: left; padding: 5px 10px; min-width: 80px; display: block; opacity: 1; position: relative;}
.custom-dropdown a.dropdown-toggle.min-w-60{ min-width: 60px;}
.custom-dropdown a.dropdown-toggle::after{ box-sizing: border-box; width: 6px; height: 6px; border-style: solid; border-color: #757575; border-width: 0px 1px 1px 0px; transform: rotate(45deg); transition: border-width 150ms ease-in-out; position: absolute; right: 8px; top: 35%; background-image: unset;}
.custom-dropdown .dropdown-menu{box-shadow: 0 10px 20px #e5e5e5; border-radius: 8px; background-color: #ffffff; border: none; padding: 10px; min-width: 130px;}
.custom-dropdown a.dropdown-toggle.min-w-60 ~ .dropdown-menu{ min-width: 60px; padding: 10px 5px;}
.custom-dropdown .dropdown-menu a{ display: block; color: #757575; font-size: 12px;  padding: 5px 10px;}
.custom-dropdown .dropdown-menu a:hover{ color: #00e4bd;}



/*************************************** 
Calendar Css 
****************************************/
.gj-picker-md div[role=navigator] {background-color: #00dfbe;}
.gj-picker-md table tr td div, .gj-picker-md table tr th div {width: 30px; height: 30px; line-height: 30px;}
.gj-picker-md table tr th div {color: #212121;}
.gj-picker-md table tr td.today {background-color: #00dfbe; border-radius: 50%; color: #ffffff;}
.gj-picker-md table tr td.today div {color: #ffffff;}
.gj-picker-md table tr td.selected.gj-cursor-pointer div {background-color: #00dfbe;}
.gj-picker-md div[role=navigator] div i.gj-icon, 
.gj-picker-md div[role=navigator] div i.material-icons {background-position: 0  0; background-repeat: no-repeat; background-size: 70%; left: 10px; top: 15px; color: transparent;}
.gj-picker-md div[role=navigator] div:first-child i.gj-icon, 
.gj-picker-md div[role=navigator] div:first-child i.material-icons {background-image: url(../images/svg-icons/left-arrow.svg); background-position: center;}
.gj-picker-md div[role=navigator] div:last-child i.gj-icon, 
.gj-picker-md div[role=navigator] div:last-child i.material-icons {right: 12px; background-image: url(../images/svg-icons/right-arrow.svg); background-position: center;}

/*************************************** 
Clock Css 
****************************************/
body .gj-picker-bootstrap [role=header] {background-color: #00dfbe;color: #ffffff95;}
body .gj-picker-bootstrap .selected {color: #ffffff;}
body .gj-picker [role=body] [role=dial] {background: #f8f9fa;}
body .gj-picker [role=body] [role=dial] {color:#212121;}
body .gj-picker-bootstrap .arrow-begin, .gj-picker-bootstrap [role=body] [role=arrow] {background-color: #212121;}
body .gj-picker-bootstrap .arrow-end {border: 16px solid #00dfbe;}
body .modal-footer .btn-default {border: 1px solid #00dfbe; background-color: #00dfbe; color: #fff;}

body .gj-timepicker-bootstrap .input-group-addon{ position: absolute; top: 2px; right: 0; }

/***************************
Header
****************************/
header.header{ padding: 10px 40px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); background-color: #ffffff; height: 60px; display: flex; align-items: center; position: relative; }
header a.hamburgerMenu{ border:none; display: none; padding: 0; margin-right: 15px; width:12px; height: 12px; border-radius: 0;}

.mobileLogo{ width:42px; display: none;}
.mobileLogo img{ width: 42px;}

.headSearhBar{ width:350px; display: flex; position: relative;}
.headSearhBar .form-control{ height: 36px; border:none;border: 1px solid #e0e0e0; background-color: #fafafa; border-radius: 0; color: #444444; font-size: 12px; padding: 5px 10px;}

.headSearhBar select.form-control:not([size]):not([multiple]){   max-width: 125px; flex: 0 0 125px; height: 36px; appearance: none; -moz-appearance: none; -webkit-appearance: none; background-image: url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position:calc(100% - 8px) center;}
.headSearhBar input.form-control{ flex: 1; border-left: none; padding-right: 50px; background-image: url(../images/svg-icons/search-icon.svg); background-repeat: no-repeat; background-position: calc(100% - 10px) center;}
.headSearhBar button{ width:36px; height: 36px; position: absolute; right: 0; top: 0; cursor: pointer; opacity: 0;}

.headRightLinks{ margin-left: auto; display: flex;}
.headRightLinks a{color: #424242; font-size: 12px; display: flex; position: relative; align-items: center; position: relative;}
.headRightLinks a em{ font-style: normal;}
.headRightLinks a img{ margin-right:8px; width:16px;}

.headRightLinks a.notificationLink{ margin-right: 20px;}
.headRightLinks a.notificationLink span{ width: 18px; height: 18px; display: block; position: absolute; top: -7px; left: 5px; background-color: #ff5757; color:#ffffff; font-size: 9px; text-align: center; line-height: 18px; border-radius: 100%; }


/***************************
Sidebar Nav
****************************/ 
.sidebar{ width:250px; /*flex: 0 0 250px;*/ padding: 16px 30px; box-shadow: 1px 0 0 rgba(0, 0, 0, 0.06), inset -40px 0 20px rgba(0, 0, 0, 0.01); background-color: #ffffff; position: relative; z-index: 1; position: fixed; height:100vh; }
.sidebar a.hamburgerMenu{ position: absolute; top: 83px; right: -15px; width:30px; } 

.sidebarLogo { position: relative; margin-bottom: 30px;}
.sidebarLogo a{  display: flex; align-items: center; color: #000000; font-size: 15px; font-weight: 600;}
.sidebarLogo img { width: 42px; display: block; margin-right: 12px;}

.sideNavigation{ padding: 0; margin: 0 -30px 60px; max-height: calc(100vh - 74px); overflow-y: auto;}
.sideNavigation ul{ margin: 0; padding: 0;}
.sideNavigation ul li{ list-style: none; margin-bottom: 20px;}
.sideNavigation ul li a{ display: block; padding: 5px; padding-left: 65px; color: #212121; font-size: 12px; background-repeat: no-repeat; background-position: 30px center; border-left: 5px solid transparent; transition: none;} 
.sideNavigation ul li a.active{ color:#00e9bb; border-color: #42bbac; }

.sideNavigation ul li a.nav_dashboard{ background-image: url(../images/sidebarNav-icons/dashboard.svg);}
.sideNavigation ul li a.nav_appoint{ background-image: url(../images/sidebarNav-icons/appointments.svg);}
.sideNavigation ul li a.nav_reports{ background-image: url(../images/sidebarNav-icons/reports.svg);}
.sideNavigation ul li a.nav_land{ background-image: url(../images/sidebarNav-icons/land-listing.svg);}
.sideNavigation ul li a.nav_experts{ background-image: url(../images/sidebarNav-icons/experts.svg);}
.sideNavigation ul li a.nav_payments{ background-image: url(../images/sidebarNav-icons/payments.svg);}
.sideNavigation ul li a.nav_rating{ background-image: url(../images/sidebarNav-icons/rating.svg);}
.sideNavigation ul li a.nav_msg{ background-image: url(../images/sidebarNav-icons/message.svg);}
.sideNavigation ul li a.nav_profile{ background-image: url(../images/sidebarNav-icons/your-profile.svg);}
.sideNavigation ul li a.nav_logout{ background-image: url(../images/sidebarNav-icons/logout.svg);}

.sideNavigation ul li a.active.nav_dashboard{ background-image: url(../images/sidebarNav-icons/dashboard-active.svg);}
.sideNavigation ul li a.active.nav_appoint { background-image: url(../images/sidebarNav-icons/appointments-active.svg);}
.sideNavigation ul li a.active.nav_reports{ background-image: url(../images/sidebarNav-icons/reports-active.svg);}
.sideNavigation ul li a.active.nav_land{ background-image: url(../images/sidebarNav-icons/land-listing-active.svg);}
.sideNavigation ul li a.active.nav_experts{ background-image: url(../images/sidebarNav-icons/experts-active.svg);}
.sideNavigation ul li a.active.nav_payments{ background-image: url(../images/sidebarNav-icons/payments-active.svg);}
.sideNavigation ul li a.active.nav_rating{ background-image: url(../images/sidebarNav-icons/rating-active.svg);}
.sideNavigation ul li a.active.nav_msg{ background-image: url(../images/sidebarNav-icons/message-active.svg);}
.sideNavigation ul li a.active.nav_profile{ background-image: url(../images/sidebarNav-icons/your-profile-active.svg);}
.sideNavigation ul li a.active.nav_logout{ background-image: url(../images/sidebarNav-icons/logout-active.svg);}
.addSecondAdminBtn a.btn{ width:100%; border-radius: 50px;}

/***************************
Footer
****************************/ 
.footer{ box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06); background-color: #ffffff; padding: 15px 40px; text-align: center; color: #bdbdbd; font-size: 12px; line-height: 20px;}
.footer a{ color:#212121; }
.footer a:hover{ color: #42bbac;}
.footer p{ margin: 0;}

/*Global Tabs Styling*/
/*.reportTabs{ overflow-x: auto; width: 100%;}*/
.exceedoTabs .nav-tabs { display: flex; flex-wrap: nowrap; overflow-x: auto; border: none; /*white-space: nowrap; flex-wrap: nowrap;*/ }
.exceedoTabs .nav-tabs li { list-style: none; display: block; margin-right: 20px;}
.exceedoTabs .nav-tabs li a{  color: #9e9e9e; font-size: 12px; padding: 12px 15px; font-weight: 500; border:none; border-bottom: transparent solid 3px; text-transform: uppercase; display: block; white-space: nowrap; }
.exceedoTabs .nav-tabs li a.active { border-color: #00eeb8; color: #212121;}
.tab-content{ padding: 20px 0;}

/*Pagination*/
/* .pagination{ justify-content: center; padding: 20px 0;}
.pagination ul{ display: flex; padding:0; margin: 0; overflow-x: auto; flex-wrap: wrap; justify-content: center;  }
.pagination ul li{ list-style: none; margin: 0 5px;}
.pagination ul li a{ width:24px; height:24px; line-height: 24px; color: #212121; font-size: 12px; text-align: center; border-radius: 100%; display: block;}
.pagination ul li a:hover{ background-color: #eeeeee;}
.pagination ul li a.active{ background-color: #42bbac; color:#ffffff;}
.pagination ul li.text-btn a {width:inherit; border-radius: 2px; padding: 0px 8px;} */

/*New code Pagination style*/
/*Pagination*/ 
ul.pagination { display: flex; padding:0; margin: 0; overflow-x: auto; flex-wrap: wrap; justify-content: center;  }
ul.pagination li.page-item span.page-link{ padding: 0; margin: 0; background-color: transparent; border-radius: 0; border: none;  font-size: 12px;  line-height: 24px;}
ul.pagination li.page-item{ list-style: none; margin: 0 5px;}
ul.pagination li.page-item a{ width:24px; height:24px; text-align: center; padding: 0; background-color: transparent; border: none; line-height: 24px; color: #212121; font-size: 12px; border-radius: 100%; display: block; }
ul.pagination li.page-item a:focus{ box-shadow: none; outline: none;}
ul.pagination li.page-item a:hover{ background-color: #eeeeee;}
ul.pagination li.page-item.active span { margin: 0; border: none;  padding: 0; background-color: #42bbac; color:#ffffff; text-align: center; border-radius: 100%; display: block;  width:24px; height:24px; line-height: 24px; font-size: 12px; } 
ul.pagination li.page-item a.pag-ctr-btn {width:inherit; border-radius: 2px; padding: 0px 8px;}


/*Global Table styling*/
.commonTableContainer{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06); border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; }
table.customTable{ padding: 0; border: none; margin: 0; width: 100%;}
table.customTable tr th{border-top: none; border-bottom: 1px solid #eeeeee; background-color: #fafafa; padding: 20px 10px 20px 30px; color: #212121; font-size: 12px; font-weight: 500;}
table.customTable tr td{ padding: 20px 10px 20px 30px; border-bottom: 1px solid #eeeeee; color: #212121; font-size: 12px;}
table.customTable tr td strong{ font-weight: 500;}
.m_tableTitle{ display:none; margin-right: 15px; }

/*Table icon buttons*/
.icon-btn{ display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat; background-position: center;}
.icon-delete{ background-image: url(../images/svg-icons/delete-icon.svg);}

/*Table Status labels*/
.statusLabel{ border-radius: 9px; padding: 2px 10px; display: inline-block; font-size: 10px; font-weight: 500; text-transform: uppercase; min-width: 80px; text-align: center; }
.inprogress{background-color: #ffe5e8; color: #ff2c4e;}
.done{background-color: #cfffdd; color: #23ce7a;}


.row_20 { margin: 0 -10px;}
.row_20 [class*="col-"]{ padding:0 10px;}

/***************************
Your Land Report page
****************************/
.countCards{ margin-bottom: 20px;}
.countCards .row{ margin: 0 -10px;}
.countCards .row [class*="col-"]{ padding:0 10px;}

.countCards [class*="col-"]{ margin-bottom: 10px;}
.countCards .col-lg-3{ margin-bottom: 10px;}
.countCards .col-lg-4{ margin-bottom: 10px;}
.countCards a.nav-link{ padding: 0;}
.countCards a.active .countCardArt{ border-color: #42bbac; box-shadow: 0 0 0px 1px #42bbac;}
.countCardArt { display: flex; align-items: center; padding: 22px 20px; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff;}
.countCardArt .coutRepIcon{ max-width: 45px; flex: 0 0 45px; margin-right: 20px;}
.countCardArt .countRepDetail{  flex: 1; color: #757575; font-size: 13px; line-height: 24px;}
.countCardArt .countRepDetail-170{ max-width: 170px; flex: 0 0 170px; }
.countCardArt .countRepDetail strong{color: #212121; font-size: 24px; font-weight: 500;}
.countCardArt .countRepDetail p{ margin:0;}

.filterFormSection { margin-bottom: 20px;}
.filterForm { padding: 0;}
.filterForm .form-group{ margin-bottom: 10px;}
.filterForm .row{ margin: 0 -10px; }
.filterForm .row [class*="col-"] { padding: 0 10px;}
.filterForm button.btn{ width: 100%;}

.filterFormSection a.mobileFilterBtn{ background-color: #ffffff; color: #000000; padding: 8px 14px; font-size: 14px; border: 1px solid #e0e0e0; text-decoration: none; display:none; background-image: url(../images/svg-icons/search-icon.svg); background-repeat: no-repeat; background-position: calc(100% - 15px) center;}
.filterForm h2{ display: none; position: relative;}
.filterForm h2 a.m_filterCloseBtn{ width: 16px; height: 16px; display: block; background-image: url(../images/close-icon-dark.png); background-repeat: no-repeat; background-position: center; background-size: 100%; position: absolute; top: -10px; right:0px; z-index: 1;}

.reportNavBar{ display: flex; flex-direction: row-reverse; align-items: center;}
.genReportLink{ margin-left: auto; padding-bottom: 3px;}
.genReportLink a{ color: #42bbac; font-size: 12px; font-weight: 500; display: inline-block; padding-left: 25px; background-image: url(../images/svg-icons/plus-icon.svg); background-repeat: no-repeat; background-position: left center;}

.reportsListing{ padding: 0;}
.reportsListing .col-md-6{ margin-bottom: 20px;}

.reportArticle{ display: flex; padding: 20px; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff;}
.reportArticle .repArtImg{ max-width: 124px; flex: 0 0 124px; margin-right: 20px;}
.repArtContent{ flex: 1; position: relative; color: #757575; font-size: 12px; }
a.moreOptLink{ width: 16px; height: 16px; display: block; position: absolute; top: 0; right: 0; background-image: url(../images/svg-icons/moreOpt-icon.svg); background-repeat: no-repeat; background-position: center; z-index: 1;}
.repArtImg img{ display: block; width: 100%; border:#eeeeee solid 1px; border-radius: 4px;} 

.repArtContent h2{font-size: 14px; font-weight: 500; margin: 0 0 5px; padding-right: 25px;}
.repArtContent h3{font-size: 12px; font-weight: 400;  margin: 0 0 5px;}
.repArtContent p{ margin-bottom: 5px; line-height: 20px;}
.repArtContent p.repOneLine{ padding-left: 25px; background-repeat: no-repeat; background-position: left center; line-height: 23px;}
.repArtContent p.repTitleIcon{ background-image: url(../images/svg-icons/rep-icon.svg);}
.repArtContent p.repLocIcon{ background-image: url(../images/svg-icons/loc-icon.svg);}

.repArtAdditional{ padding-top: 10px; margin-top: 10px; border-top: 1px solid #eeeeee;}
p.ArtAuthor span{ color: #212121; }
p.timeDetail{color: #9e9e9e; margin: 0;}


/***************************************
Your profile page
****************************************/
.profileSection{ padding: 25px 30px; background-color: #ffffff; border: 1px solid #eeeeee;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06); border-radius: 8px; display: flex; flex-wrap: wrap; }
.profileUserImg{ max-width: 105px; flex: 0 0 105px; margin-right: 30px; position: relative; }
.profileUserImg img{ display: block; width: 100%; border-radius: 4px;}

.cameraIcon{ position: absolute; bottom: -12px; left: 50%; transform: translateX(-50%); width:24px; height: 24px; display: block; background-image: url(../images/svg-icons/camera-icon.svg); background-repeat: no-repeat; background-position: center; }
.cameraIcon input{ width:24px; height: 24px; opacity: 0; cursor: pointer;}


.profileUserDetail{ flex: 1; color: #212121; font-size: 12px; }
.profileUserDetail span{color: #757575; }

.editProfileBtn{ max-width: 145px; flex: 0 0 145px; text-align: right;}
.editProfileBtn .btn{ border-radius: 50px; padding: 9px 13px 9px 36px; font-size: 12px; font-weight: 500; background-image: url(../images/svg-icons/edit-icon.svg); background-repeat: no-repeat; background-position: 15px center;}


/***************************************
Modal popup
****************************************/
.modal-backdrop.show {opacity: .8;}
.modal-content{ border:none; border-radius: 10px;}

.w-300 .modal-dialog {width: 300px; max-width: calc(100% - 50px); margin: 40px auto; } 
.w-330 .modal-dialog {width: 330px; max-width: calc(100% - 50px); margin: 40px auto; } 
.w-380 .modal-dialog {width: 400px; max-width: calc(100% - 50px); margin: 40px auto; } 
.w-400 .modal-dialog {width: 400px; max-width: calc(100% - 50px); margin: 40px auto; } 
.w-500 .modal-dialog {width: 500px; max-width: calc(100% - 50px); margin: 40px auto; } 
.w-630 .modal-dialog {width: 630px; max-width: calc(100% - 50px); margin: 40px auto; } 

a.closeBtn {width: 21px;height: 21px;display: block;background-image: url(../images/svg-icons/close-icon.svg);background-repeat: no-repeat;background-position: center;background-size: 100%;position: absolute;top: 0;
            right: -30px; z-index: 1;}

.popupHeading{ margin: 0 0 35px;}
.popupHeading h2{font-size: 18px; font-weight: 600; margin:0 0 5px; text-align: center;} 
.popupForm{ padding: 35px 50px;}  
.popupForm .form-group{ margin-bottom: 35px;} 
.formBtn .btn{ width: 100%; padding: 12px 15px; border-radius: 50px;} 


/***************************************
Your Land listing
****************************************/
.graphSection{ margin-bottom: 30px;}
.graphBox{ border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; padding: 20px;}
.graphBox img{display: block; width: 100%;}

.landArtCont .customCheckBtn{ margin-right: 25px; position: relative; top: -2px; }
.landArtCont h2{ margin: 0 0 3px; display: flex; align-items: center;}
.landArtCont h2 em.featureIcon { max-width: 18px; height: 18px; flex: 0 0 18px; display: inline-block; background-image: url(../images/svg-icons/verified-icon.svg); background-repeat: no-repeat; background-position: center; margin-left: 5px;}
.landArtPrice{color: #212121; font-size: 16px; font-weight: 600;}
.expDetail{color: #ff6161; font-size: 11px; font-weight: 500;}
.landCost{ padding: 5px 0 0px;}

.featFaciRow{margin-top:9px; padding-top:9px; border-top:#e0e0e0 solid 1px;display: flex; flex-wrap: wrap;align-items: center;  }
.featFacilities{ display: flex; flex-wrap: wrap; align-items: center; flex: 1;}
.featFacilities span.featFaTitle{ font-size: 12px; margin-right: 5px;}
.featFacilities span.faci-icon{width: 27px; height: 27px; border-radius: 4px; background-repeat: no-repeat; background-position: center; margin:0 3px; opacity: 0.39;}
.featFacilities span.parking-icon{ background-image: url(../images/svg-icons/Parking-icon.svg);}
.featFacilities span.noSmooking-icon{ background-image: url(../images/svg-icons/no-smoking-icon.svg);}
.featFacilities span.wifi-icon{ background-image: url(../images/svg-icons/wifi-icon.svg);}
.landArtviews{color: #9e9e9e; font-size: 11px; max-width: 125px; flex: 0 0 125px; text-align: right;}

.moreLink-menu{box-shadow: 0 10px 20px #e5e5e5; border-radius: 8px; background-color: #ffffff; border: none; padding: 10px; left: -16px!important; margin-top: -20px;}
.moreLink-menu a{ display: block; padding: 5px 10px; color: #212121; font-size: 12px;}
.moreLink-menu a:hover{ color:#42bbac;}

/*Interested people list*/
.interPeople_modal{ padding: 0;}
.interPeople_modal h2{font-size: 16px; font-weight: 500; padding: 15px 30px; margin: 0; border-bottom: #e0e0e0 solid 1px;}
.intPeopleList { max-height: 340px; overflow-y: auto; padding:0 30px; margin: 10px 0 30px;}
.intPeopleList article { padding: 12px 0; border-bottom: #e0e0e0 solid 1px; color: #757575; font-size: 12px;}
.intPeopleList article h3 {font-size: 14px; font-weight: 400; margin: 0 0 5px;}
.intPeopleList article p { margin: 0;}
.intPeopleList article p span{ margin: 0 10px;}

/*Inactive Popup*/
.inactive_modal{ padding: 30px 50px;}
.inactive_modal h2{ text-align: center; font-size: 16px; font-weight: 500; line-height: 30px; margin: 0 0 15px;}

.optionalBtns{ display: flex; justify-content: center; margin-bottom: 25px;}
.optionalBtns .customRadioBtn{ margin: 0 20px;}
.inactive_modal textarea{ border-radius: 12px; background-color: #f6f6f6; border: none; padding: 15px; width: 100%; height: 116px; font-size: 11px; font-weight: 500; color: #424242; margin-bottom: 20px; resize: none;}
.inactive_modal textarea:focus{ outline: none; box-shadow: none;}


/***************************************
Dashboard page
****************************************/
.countCardArt .countRepDetail a.dotmark { color:#ff444f; text-decoration: none; font-size: 24px; font-weight: 500;}
.countCardArt .countRepDetail.dashCounSepBox{ flex: 1; max-width: inherit; padding-left: 20px; border-left: #eeeeee solid 1px;}

.dasboard_appArticles{ margin-bottom: 35px;}

.dasboard_appArticles .reportArticle{ margin: 15px 0 20px; transition: all ease 0.4s;}
.dasboard_appArticles .reportArticle:hover{box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);}

.appointmentArticle{ padding:20px; margin: 15px 0 20px; position: relative; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; transition: all ease 0.4s;}
.appointmentArticle:hover{box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);}
.app_userRow{ padding-right: 30px; display: flex; align-items: center; margin: 0 0 10px; position: relative;}
.app_userPic{ max-width: 46px; flex: 0 0 46px; margin-right: 15px;}
.app_userPic img{ display: block; width: 100%; width:46px; height: 46px; object-fit: cover; border-radius: 100%; }
.app_userName{ flex: 1; }
.app_userName h3{ color: #212121; font-size: 14px; font-weight: 500; margin: 0 0 2px;}
.app_userName h4{ color: #757575; font-size: 11px; font-weight: 400; margin: 0;}
.app_discussion{ color: #212121; font-size: 12px; line-height: 23px; margin: 0 0 5px;}
.app_discussion h3{color: #8e8e8e; font-size: 11px; font-weight: 400; margin: 0;}
.app_discussion p { margin: 0;}
.app_time{ padding-left: 25px; background-image: url(../images/svg-icons/clock-icon.svg); background-repeat: no-repeat; background-position: left center; line-height: 23px; color: #757575; font-size: 12px; font-weight: 400;}

.pageTitle .genReportLink{ text-align: left;}

.dashCarouselCtrl{ margin-left: 15px; display: flex;}
.dashCarouselCtrl a{ width: 24px; height: 24px; display: block; margin: 0 5px; background-image: url(../images/svg-icons/dash-slider-ctrl.svg); background-repeat: no-repeat; background-position: center;}
.dashCarouselCtrl a.d_prev{ transform: rotate(180deg);}

.dasboard_appArticles .owl-carousel .owl-nav button{text-indent: -999px; overflow:hidden;  width: 24px; height: 24px; display: block; margin: 0 5px; background-image: url(../images/svg-icons/dash-slider-ctrl.svg); background-repeat: no-repeat; background-position: center; background-color: transparent; position: absolute; top:50%; margin-top:-12px;}
.dasboard_appArticles .owl-carousel .owl-nav button.disabled{ opacity:0.5}
.dasboard_appArticles .owl-carousel .owl-nav button.owl-prev{ left:-20px; transform: rotate(180deg);}
.dasboard_appArticles .owl-carousel .owl-nav button.owl-next{ right:-20px; }

.notificationDropdown{max-width: 281px; padding:10px 20px; box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; border: 1px solid #e0e0e0; background-color: #ffffff;     margin-left: -51px;}
.notiData{ padding: 8px 0; border-bottom: #eeeeee solid 1px; color: #424242; font-size: 11px; font-weight: 500; line-height: 20px;}
.notificationDropdown::before{ content:''; display: block; width: 0; height: 0; border-bottom: #fff solid 10px; border-left: transparent solid 7px; border-right: transparent solid 7px; position: absolute; top: -10px; left:50px; }
.notiData:last-child{ border: none;}
.notiData a{ color: #42bbac;}

/*header notification*/
.headRightLinks .notificationDropdown{margin-left: -50px; margin-top: 20px;}


/***************************************
Appointments
****************************************/
.appointmentTopLinks { display: flex;}
.appointmentTopLinks a{ margin-right: 20px; color: #9e9e9e; font-size: 12px;  font-weight: 600; text-transform: uppercase;}
.appointmentTopLinks a:hover{ color: #212121;}

/*Add appointment model*/
.termsCheck{  display: flex; align-items: flex-start;}
.termsCheck .customCheckbox{ max-width: 16px; flex: 0 0 16px; margin-right: 14px; margin-top:3px; }
.termsCheck span{ flex: 1; display: block; color: #757575; font-size: 12px; line-height: 26px;}
.addAppBottomBox{ padding: 20px 50px; background-color: #000000; border-radius: 0 0 8px 8px;}
.reportTotalVal{color: #ffffff; font-size: 24px; font-weight: 600;}
.reportTotalVal span{ display: block; opacity: 0.59; font-weight: 400; font-size: 13px; margin-bottom: 4px;}
.addAppBottomBox .btn{ border-radius: 30px; padding: 8px 25px; width:100%;}

/*Add appointment 2 model*/
.addAppointmentOptions{ padding: 30px 35px;}
.addAppointmentOptions h2{ text-align: center; margin-bottom: 20px;}

.custom-meet-radio{ position: relative; width: 33.333%; padding:0 5px 10px;}
.custom-meet-radio input{ position: absolute; cursor: pointer; opacity: 0;} 
.custom-meet-radio label{padding:10px 15px; font-size: 12px; font-weight: 500; display: block; border-radius: 20px; border: 1px solid #e0e0e0; cursor: pointer; position: relative; text-align: center; }
.custom-meet-radio input:checked~label{border-color: #00e4bd; color: #00e4bd;}
.custom-meet-radio input~label::before{ display: none;}
.custom-meet-radio input:checked~label::after {background-image: url(../images/svg-icons/checked-icon.svg); background-position: 0 0; background-repeat: no-repeat; background-size: auto; width:18px; height:18px; left: 20px; top: 11px; position: absolute; display: none; content: '';}  

.appNextBtn{ text-align: right;}
.appNextBtn .btn{ border-radius: 30px; width:104px;}

.rebookExpert{color: #212121; font-size: 13px; font-weight: 500; margin-bottom: 35px;}
.rebookExpert span{color: #757575;}


/*Thank you model*/
.thankyouBox{ padding: 30px; text-align: center;}
.thankyouBox h2{ color: #212121;  font-size: 14px; font-weight: 500; margin:0 0 2px}
.thankyouBox p{ margin:0 0 15px; color: #757575; font-size: 12px; font-weight: 400; line-height: 27px;}
.thankIcon { margin-bottom: 20px;}
.thankBtn .btn{ border-radius: 30px; width:104px;}

/*Canel Appointment model*/
.cancelAppBox{ padding: 30px; text-align: center;}
.cancelAppBox h2{ color: #212121;  font-size: 14px; font-weight: 500; margin:0 0 8px}
.cancelAppBox p{ margin:0 0 15px; color: #757575; font-size: 12px; font-weight: 400; line-height: 27px;}
.cancelAppBox .btn{ border-radius: 30px; width:130px; margin: 0 5px;}

/*Join Meeting*/
.joinMeetingBox {padding: 10px 20px; }
.joinMeetHeader{padding: 10px 0 10px; padding-left: 10px; border-bottom: 1px solid #e0e0e0; position: relative;} 
.joinMeetHeader::before {position:absolute; top:13px; left:0; width: 2px; height: 33px; background-color: #63e8e9; content:"";}
.joinMeetingBox.approval-appointment .joinMeetHeader::before {background-color: #ff91a0;}
.joinMeetHeader h2 {color: #212121; font-size: 14px; font-weight: 500; margin: 0;}
.joinMeetHeader .dropdown {top: 5px; right: -9px; position: absolute;}
.joinMeetHeader .dropdown button{ padding:0 ; background-color:transparent; border:none; width: 25px;}
.joinMeetHeader .dropdown button::before { cursor: pointer; color: #9e9e9e;  content: '\2807'; font-size: 24px; padding: 0;}
.dateTime {color: #757575; font-size: 12px; font-weight: 400;}
.joinMeetBody{padding: 10px 0 0px; position: relative;}
.meetingLink{ padding-bottom: 10px; margin-bottom: 10px;  border-bottom: 1px solid #e0e0e0;}
.meetingLink span {display: block;color: #757575; font-size: 13px; font-weight: 400;}
.meetingLink a {color: #1d6be5; font-size: 12px; font-weight: 400;}
.meetingDetails label {color: #424242; font-size: 12px; font-weight: 400; display: block; margin:0; line-height: 24px;}
.joinMeetingFooter {border-radius: 0 0 12px 12px; background-color: #f4f4f4; color: #9e9e9e; font-size: 11px; font-weight: 500;  padding: 12px 20px; border-top:#e0e0e0 solid 1px;}
.waitingData{color: #424242; font-size: 12px; font-weight: 400; padding-bottom: 10px;}

/********************* RATING STAR CSS *************************/
:root {
    --star-size: 25px;
    --star-color: #e0e0e0;
    --star-background: #fc0;
}
.Stars { --percent: calc(var(--rating) / 5 * 100%); display: inline-block; font-size: 32px; font-family: Times; line-height: 15px; display: inline-block;}
.Stars::before { content: '★★★★★';letter-spacing: 3px; background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent)); -webkit-background-clip: text;  -webkit-text-fill-color: transparent;}
/********************* RATING STAR CSS *************************/


.feedbackModelBody{ padding: 20px 25px; border-bottom: #e0e0e0 solid 1px;}
.feedbackRating{ margin-bottom: 10px; text-align: center;}
.feedbackModelBody h2{color: #212121; font-size: 16px; font-weight: 600; margin: 0 0 15px; text-align: center;}
.feedbackModelBody textarea{ height: 116px; width: 100%; padding:15px 20px; border-radius: 12px; background-color: #f6f6f6; color: #424242; font-size: 11px; font-weight: 500; border: none;}
.feedbackModelBody textarea:focus{ outline: none; box-shadow: none;}

.feedbackModelFooter{ padding: 20px 25px;} 
.feedbackModelFooter h4{ color: #212121; font-size: 14px;  font-weight: 500; margin: 0 0 15px; text-align: center;}
.feedbackModelFooter .optionalBtns{ margin-bottom: 15px;}
.feedbackModelFooter .customRadioBtn { margin: 0 0 10px; display: block;}
.feedbackModelFooter .customRadioBtn label{ font-size: 11px; line-height: 20px;}
.feedbackModelFooter .customRadioBtn input:checked ~ label { color: #42bbac;}
#photoLoader{
    position: absolute;
    display: none;
}

.activeLand .badge-success {
    margin-right: 25px;
    border-radius: 11px;
    background-color: #64f1a278;
    color: #30d779;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 15px;
}
.activeLand .badge-danger{
    margin-right: 25px;
    border-radius: 11px;
    background-color: #ff9a9a78;
    color: #ee5e5e;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 15px;
}
.activeLand .badge-warning{
    margin-right: 25px;
    border-radius: 11px;
    background-color: #f9ecc3;
    color: #856404;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 15px;
    border-color: #ffeeba;
}

/************************************
CSS FOR ADD LAND LISTING
*************************************/
.searchForm {position: relative;}
.addLandListing-btn {font-size: 12px; font-weight: 500; text-transform: uppercase; position: absolute; right: 0; top: -52px;} 
.w-600 {padding-right: 0 !important;}
.w-600 .modal-dialog {width: 600px; max-width: calc(100% - 50px); margin-left: auto; margin-right: 0; margin-top: auto; margin-bottom: auto;}
.w-600 .modal-dialog .modal-content {min-height: 100vh; border-radius: 0;}
.w-600 .modal-dialog .modal-content .popupForm {padding: 0 30px 30px;}
.addLandListing .popupHeading {height: 60px; box-shadow: inset 0 -1px 0 #eeeeee; background-color: #fafafa; color: #424242; font-size: 18px; font-weight: 600; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; margin-left: -30px; margin-right: -30px;}
.addLandListing .popupHeading h2 {text-align: left; line-height: 58px; padding-left: 30px;}
.addLandListing a.closeBtn {width: 16px; height: 16px; top: 23px; right: 20px; background-image: url(../images/svg-icons/dark-close-icon.svg);}
.addLandListing .modal-content {box-shadow: 0 6px 6px rgba(0, 0, 0, 0.02); background-color: #ffffff;}
.addLand {display: flex; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; -ms-flex-pack: justify !important; justify-content: space-between !important;}
.addLand div {flex: 0 0 48%;}
div.flex-100 {flex: 0 0 100%;}
.addLand .form-group {margin-bottom: 26px;}
.addLand .form-group label {color: #212121; display: block; font-size: 12px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; padding: 3px 0; }
.addLand .form-control {border-radius: 2px; border: 1px solid #e0e0e0; background-color: #fafafa; padding: .375rem .75rem .375rem 10px; height: 42px;}
.land_price input.form-control {width: 75%; float: left;}
.land_price select.form-control {width: 25%; float: left; height: 42px !important;} 
.land_price select.form-control:not([size]):not([multiple]) {background-position: 85% center;}
.landSize {position: relative;}
.landSize span {color: #9e9e9e; font-size: 12px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: normal; text-align: right; position: absolute; right: 10px; bottom: 10px;}
textarea.form-control {height: 112px !important;}
.addLand select.form-control {height: 42px !important;}
.uploadPhoto {height: 112px; border-radius: 2px; border: 1px dashed #e9e9e9; background-color: #fafafa; position: relative; background-image: url(../images/svg-icons/upload-img-icon.svg); background-position: 30px center; background-repeat: no-repeat; background-size: auto; display: flex; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; -ms-flex-line-pack: center !important; align-content: center !important;  text-align: center;}
.uploadPhoto input[type="file"] {width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; opacity: 0;}
.uploadPhoto h4 {color: #757575; font-size: 13px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: normal; width: 100%; margin: 0;}
.uploadPhoto h5 {color: #9e9e9e; font-size: 12px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; width: 100%; margin: 0;}
.uploadImgSection {display: flex; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; -ms-flex-pack: justify !important; justify-content: space-between !important; margin-top: 20px;}
.uploadImgSection div {flex: 0 0 30%; min-height: 112px; position: relative; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); border: 2px solid #ffffff; background: #fff; margin-bottom: 25px;}
.uploadImgSection div a.close_div {position: absolute; right: -13px; top: -10px; width: 20px; height: 20px;}
.uploadImgSection div img {object-fit: cover; width: 100%;}
.addLandListing .formBtn .btn {float: right; margin-bottom: 30px; width: auto; padding: 12px 35px;}



/****************** urban-planning-popup css ******************/
.urban-planning-popup .popup-body {width: 460px; height:auto; border-radius: 12px; background-color: #ffffff;}
.urban-planning-popup ul {padding: 10px 20px 0; margin: 0;}
.urban-planning-popup ul li {padding: 10px 0 10px; margin: 0; list-style: none; border-bottom: 1px solid #e0e0e0; position: relative;}
.urban-planning-popup ul li:first-child {padding-left: 10px;}
.urban-planning-popup ul li:first-child::before {position:absolute; top:13px; left:0; width: 2px; height: 33px; background-color: #63e8e9; content:"";}
.urban-planning-popup h2 {color: #212121; font-size: 14px; font-weight: 500; margin: 0;}
.dateTime {color: #757575; font-size: 12px; font-weight: 400;}
.joinMeeting {display: block;color: #757575; font-size: 13px; font-weight: 400;}
.urban-planning-popup a {color: #1d6be5; font-size: 12px; font-weight: 400;}
.urban-planning-popup label {color: #424242; font-size: 12px; font-weight: 400; display: block;}
.urban-planning-popup footer {border-radius: 0 0 12px 12px; background-color: #f4f4f4; color: #9e9e9e; font-size: 11px; font-weight: 500; line-height:40px; padding-left: 20px;}
.urban-planning-popup .dropdown {top: 5px; right: -9px;}
.urban-planning-popup .dropdown ul li {padding: 0 !important; border:0 !important;}
.urban-planning-popup .dropdown ul li:before {display: none !important;}
.urban-planning-popup.approval-appointment ul li:first-child::before {background-color: #ff91a0;}
.confirmAppointment {display: flex; padding: 10px 20px 20px !important; margin: 0;border-bottom:0;}
.confirmAppointment li {padding: 0 !important; margin: 0 !important; list-style: none; flex:1 0 43%; border-bottom:0 !important; color: #212121; font-size: 12px; font-weight: 400;}
.confirmAppointment li::before {display: none;}
.confirmAppointment li:last-child {flex:1 0 20%;}
.confirmAppointment li a {color: #00dfbe;}
.confirmAppointment li a.btn {padding: 3px 20px; color: #fff;border-radius: 12px;}



/******************************
Magnific Popup CSS3
*******************************/
/* ====== Zoom effect ====== */
.mfp-zoom-in {
    /* start state */
    /* animate in */
    /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
.popup-body {position: relative; background: #fff; border-radius: 16px; padding: 0; width: 1069px; height: 580px; margin: 10px auto;}
button.mfp-close{ display: block; width:22px; height:22px; position: absolute; right: -40px; top: 5px; background-image: url(../images/svg-icons/close-icon.svg); background-repeat: no-repeat; background-position: center; background-size: 100%; opacity: 1;}
button.mfp-close:active {top: 5px;}

/******************* Search *******************/ 
.searchForm ul {padding:0; margin:0; margin-top: 20px;}
.searchForm ul li {padding:0 20px 0 0; margin:0; list-style:none; width:22.5%;}
.searchForm ul li:last-child {width:10%; padding-right: 0;}
.searchForm ul li .form-group {margin-bottom: 30px;}
.searchForm ul li .btn {padding: 8px 3px;border-radius: 4px; width: 100%;}
.searchForm form .closeSearch {display: none;}
.searchForm.searchForm-sm ul li {width: 18%;}
.searchForm.searchForm-sm ul li:last-child {width: 10%;}

/******************* view-all-appointments-popup *******************/
.viewAll-appointment .popup-body { max-width: 626px; width: 100%;height:auto; border-radius: 12px; background-color: #ffffff;}
.viewAll-appointment .popup-body h2 {padding: 15px 20px 0;}
.viewAll-appointment .searchForm {padding: 15px 40px 15px 20px; background-color: #f0f0f0;height: auto; background-image: none;}
.viewAll-appointment .searchForm ul {margin-top: 0;}
.viewAll-appointment .searchForm ul li .form-group {margin-bottom: 0;}
.viewAll-appointment .searchForm ul li {width: 30%; padding-right:10px;}
.viewAll-appointment .searchForm .btn-primary {background-image: url(../images/svg-icons/white-search-icon.svg); background-position: center; width: 56px;  background-repeat: no-repeat; background-size: auto; color: transparent;}
/******************* appointments-list *******************/
.appointments {padding: 15px 11px 15px 20px; height: 280px;}
.appointments-list {display: flex; padding: 0 0 15px; margin: 0 0 15px; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; border-bottom: 1px solid #eeeeee;}
.appointments-list li {list-style: none; flex: 1 0 33.33%; font-size: 12px; font-weight: 400;}
.appointments-list li h3 {padding: 0; margin: 0;     font-size: 14px;}
.appointments-list li:last-child {flex: 1 0 100%;}
.appointments-list .form-group {margin-bottom: 0px; float: right;}
.appointments-list .form-control {padding: 4px 30px 4px 10px; height: auto !important;}
.not-accepted {color: #ff444f; font-size: 12px; font-weight: 500;}
/******************* suggestAnotherTime *******************/
.suggestAnotherTime .popup-body {width: 409px; height:auto; border-radius: 12px; background-color: #ffffff;padding: 35px 50px;}
.suggestAnotherTime h2 {font-size: 16px; font-weight: 600; text-align: center; margin-bottom: 50px;}
.suggestAnotherTime .popup-body .btn-primary {width: 100%; border-radius: 21px; margin-top:25px;}
.suggestAnotherTime .gj-unselectable .form-control {padding: .375rem .75rem .375rem 0px; border-bottom: 1px solid #bdbdbd !important;}
.suggestAnotherTime .gj-datepicker-md [role=right-icon] {top: .4em !important;}



/******************************
Appointment Calendar - CSS
******************************/
.fc-event-container .fc-event{ font-size: 11px!important; color: #fff!important; line-height: normal!important;}
.fc-event-container .fc-day-grid-event{ padding:1px 3px!important;}

.customStyleCalendar .fc-view-container{ background-color: #ffffff;}

/*Head control*/
.customStyleCalendar .fc .fc-toolbar.fc-header-toolbar{display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 15px; }
.customStyleCalendar .fc-header-toolbar .fc-left { max-width: 33.333%; flex: 0 0 33.333%; order: 1; }
.customStyleCalendar .fc-header-toolbar .fc-right {  max-width: 33.333%; flex: 0 0 33.333%; order: 3; display: flex; justify-content: flex-end;}
.customStyleCalendar .fc-header-toolbar .fc-center {  max-width: 33.333%; flex: 0 0 33.333%; order: 2; display: flex; justify-content: center; }
.customStyleCalendar .fc .fc-button-group{ background: none; }
.customStyleCalendar .fc .fc-button{ background: none; background-color: #fff; border:#42bbac solid 1px; color:#42bbac; box-shadow: none; border-radius: 3px; margin: 0 1px; height: 30px; min-width: 60px; font-size: 12px; text-shadow: none; }
.customStyleCalendar .fc .fc-button.fc-state-active{ background-color: #42bbac; color: #ffffff;}
.customStyleCalendar .fc .fc-button:focus{ outline: none; box-shadow: none;}
.customStyleCalendar .fc .fc-button.fc-state-disabled{ background-color: transparent; border-color: transparent; color: #333; opacity: 1; cursor: default;}
.customStyleCalendar .fc .fc-button.fc-prev-button,
.customStyleCalendar .fc .fc-button.fc-next-button{ width: 30px; height: 30px; padding: 0; min-width: inherit;}
.customStyleCalendar .fc .fc-button .fc-icon:after{ font-size: 22px; top: -20%; color: #42bbac;}


.customStyleCalendar .fc .fc-head-container th{ font-size: 14px; color: #424242;  font-weight: 500;}
.customStyleCalendar .fc .fc-head-container th, 
.customStyleCalendar .fc .fc-widget-content td{ padding: 10px; }

.customStyleCalendar .fc .fc-widget-content td.fc-axis{ font-size: 11px;}





