@media only screen and (min-width : 1025px) {  
    /*Sidebar css for Desktop only*/    
    /*Collapse sidebar*/ 
    .collapseSidebar .sidebar{ max-width: 64px; flex: 0 0 64px; padding: 16px 11px;}
    .collapseSidebar .main{ /*max-width: calc(100% - 64px); flex: 0 0 calc(100% - 64px);*/ padding-left:64px;}
    .collapseSidebar .sidebarLogo a span{ display: none;}
    .collapseSidebar .sideNavigation{ margin: 0 -11px 60px;}
    .collapseSidebar .sideNavigation ul li a{  text-indent: -300px; overflow:hidden; padding: 5px; background-position: 19px center;}
    .collapseSidebar .addSecondAdminBtn { display: none;}
}


@media only screen and (max-width : 1024px) {   
    /*Header and sidebar*/
    header.header{ padding: 10px 25px;}
    .pageContainer{ padding: 25px;}
    .main {/* max-width: 100%; flex: 0 0 100%;*/ padding-left: 0; }
    header a.hamburgerMenu{ display: block;}
    .sidebar a.hamburgerMenu{ display: none;}
    .headSearhBar{ display: none;}
    .mobileLogo{ display: block;}
    .headRightLinks a em{ display: none;}
    .headRightLinks a em.headerUserName { display: block; max-width: 100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
    .headRightLinks a.notificationLink{ margin-right: 10px;} 
    .sidebar{ max-width: inherit; flex: inherit; width: 250px; height: 100vh; overflow-y: auto; position: fixed; left: -250px; }
    
    .sideNavigation{ max-height: inherit; overflow-y: inherit;}
    
    .headRightLinks .notificationDropdown{ max-width: 200px;}
    
    /*Mobile expand collapse CSS*/
    .collapseSidebar .sidebar{ left: 0;}
    .collapseSidebar .main{ transform: translateX(250px);}    
    .wrapper.collapseSidebar { overflow: hidden;}
    .collapseSidebar .main{ /*max-width: 100%; flex: 0 0 100%;*/ padding-left: 0;}
    
    /*Tabs with side btns*/
    .reportNavBar{ display: block; flex-direction: inherit;}
    .genReportLink{ padding:0; margin-bottom: 15px; text-align: right; }
    .genReportLink a{border: #00dfbe solid 1px; padding: 5px 15px 5px 33px; border-radius: 20px; background-position: 7px center;}
    .reportNavBar .nav-tabs { display: flex; flex-wrap: nowrap; overflow-x: auto; border: none; }


    /*Report page*/
    .exceedoTabs .nav-tabs li{ margin-right: 10px;}
    .exceedoTabs .nav-tabs li a{ padding: 8px 10px;}
    .reportNavBar{ display: block; flex-direction: inherit;}
    .genReportLink{ padding:0; margin-bottom: 15px; text-align: right; }
    /*Land page*/
    .landArtCont .customCheckBtn{ right: 6px; top: -2px; }
    .landArtviews{ max-width: 100%; flex: 0 0 100%; margin-top: 10px; text-align: left;}

    /*Payment page*/
    .custom-table-responsive table.customTable thead{ display: none;}
    .custom-table-responsive table.customTable tr { display: block; border-bottom: 1px solid #eeeeee; padding:15px 20px; position: relative;}
    .custom-table-responsive table.customTable tr td { display: flex; border: none; padding:5px 0; padding-right: 15px;}
    .custom-table-responsive table.customTable tr td .icon-delete{ position: absolute; top: 20px; right: 20px;}
    .custom-table-responsive table.customTable tr td .m_tableTitle{ display: block; max-width: 100px; flex: 0 0 100px; font-weight: 600; }
}

@media only screen and (max-width : 991px) {   
}

@media only screen and (max-width : 767px) { 
    .reportArticle .repArtImg{ max-width: 80px; flex: 0 0 80px;}

    /*Profile page*/
    .profileSection{ padding: 20px; display: block;}
    .profileUserImg{ margin: 0 0 20px;}
    .profileUserDetail{  margin: 0 0 20px; }

    .dashCarouselCtrl{ display: none;}
    .pageTitle h2{ flex: 1;}
    .pageTitle .genReportLink {max-width: 170px; flex: 0 0 170px; text-align: right; margin: 0;}
    .notificationDropdown{ max-width: 180px;}
    
    /*Report page*/
    .repArtImg{ display: none;}

    /*Modals*/
    .popupForm{ padding: 25px;}
    a.closeBtn{top: -30px; right: 0px;}
    .cancelAppBox .btn{ width: 105px; }
    
    .inactive_modal{ padding: 20px;}

    /*Mobile Filter */
    .filterForm .form-group{ margin-bottom: 30px;}
    .filterFormSection a.mobileFilterBtn{ display: block;}
    .filterForm{ display: none; position: fixed; top: 0; left: 0; right: 0; z-index: 100; background-color: #ffffff; padding:30px 20px; height:100vh; overflow-y: auto;}
    .filterForm.shown{ display: block;}
    .filterForm h2{ display: block; text-align: center; margin: 0 0 20px;}

    .viewAll-appointment .searchForm ul li{ width: auto; padding: 0;}
    .viewAll-appointment .searchForm .btn-primary{ margin-left: 10px;}
    button.mfp-close{right: 0; top: -33px;}

    /*Appointment page*/
    .appointmentTopLinks{ overflow-x: auto; padding-bottom: 10px;}
    .appointmentTopLinks a{margin-right:20px; font-size: 14px; white-space: nowrap;}

    .customStyleCalendar .fc .fc-button{ min-width: 50px; font-size: 11px;}

    .customStyleCalendar .fc-header-toolbar .fc-left { max-width: 45%; flex: 0 0 45%; order: 1; }
    .customStyleCalendar .fc-header-toolbar .fc-right {  max-width: 55%; flex: 0 0 55%; order: 2;}
    .customStyleCalendar .fc-header-toolbar .fc-center {  max-width: 100%; flex: 0 0 100%; order: 3; padding-top: 10px;}
    .customStyleCalendar .fc .fc-head-container th, 
    .customStyleCalendar .fc .fc-widget-content td{ padding: 5px; font-size: 12px; }

}

@media only screen and (max-width : 640px) {   
}


@media only screen and (max-width : 575px) {  
    .custom-meet-radio{ width:50%; }
    .countCardArt .countRepDetail, 
    .countCardArt .countRepDetail-170 { flex: 1; max-width: inherit;}
}

@media only screen and (max-width : 480px) { 

}

@media only screen and (max-width : 320px) {

} 