
/* BELOW MEDIA QUERY BASED ON MIN WIDTH - ONLY FOR SIDEBAR COLLAPSE IN DESKTOP */
@media only screen and (min-width : 1025px) {  
    /*Sidebar css for Desktop only*/    
    /*Collapse sidebar*/ 
    .collapseSidebar .sidebar{ max-width: 64px; flex: 0 0 64px; padding: 16px 11px;}
    .collapseSidebar .main{ /*max-width: calc(100% - 64px); flex: 0 0 calc(100% - 64px);*/ padding-left:64px;}
    .collapseSidebar .sidebarLogo a span{ display: none;}
    .collapseSidebar .sideNavigation{ margin: 0 -11px 60px;}
    .collapseSidebar .sideNavigation ul li a{  text-indent: -300px; overflow:hidden; padding: 5px; background-position: 19px center;}
    .collapseSidebar .addSecondAdminBtn { display: none;}
}




/********BELOW MEDIA QUERY BASED ON MAX WIDTH*******/
@media only screen and (max-width : 1365px) {
    .flexBox p {font-size: 11px; font-weight: 600;}
    .reportFine {font-size: 11px;}
    /* .dataTable div.data:first-child {min-width: 33%;} */
}

@media only screen and (max-width : 1024px) {   
    /*Header and sidebar*/
    header.header{ padding: 10px 25px;}
    .pageContainer{ padding: 15px;}
    .main {/* max-width: 100%; flex: 0 0 100%;*/ padding-left: 0; }

    header a.hamburgerMenu{ display: block;}
    .sidebar a.hamburgerMenu{ display: none;}
    .headSearhBar{ display: none;}
    .mobileLogo{ display: block;}
    .headRightLinks a em{ display: none;}
    .headRightLinks a em.headerUserName { display: block; max-width: 100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
    .headRightLinks a.notificationLink{ margin-right: 10px;}

    .headRightLinks .notificationDropdown{ max-width: 200px;}

    .sidebar{ max-width: inherit; flex: inherit; width: 250px; height: 100vh; overflow-y: auto; position: fixed; left: -250px; }
    
    .sideNavigation{ max-height: inherit; overflow-y: inherit;}
    
    /*Tabs with side btns*/
    .reportNavBar{ display: block; flex-direction: inherit;}
    .genReportLink{ padding:0; margin-bottom: 15px; text-align: right; }
    .genReportLink a{border: #00dfbe solid 1px; padding: 5px 15px 5px 33px; border-radius: 20px; background-position: 7px center;}
    .reportNavBar .nav-tabs { display: flex; flex-wrap: nowrap; overflow-x: auto; border: none; }

    /*Mobile expand collapse CSS*/
    .collapseSidebar .sidebar{ left: 0;}
    .collapseSidebar .main{ transform: translateX(250px);}    
    .wrapper.collapseSidebar { overflow: hidden;}
    .collapseSidebar .main{ /*max-width: 100%; flex: 0 0 100%;*/ padding-left: 0;}

}    


@media only screen and (max-width : 991px) {   
    .wrapper {min-height: 100vh; display: block;}
    .showBy .dropdown .dropdown-toggle::after {height: .8vw; width: .8vw;}

    .nav-tabs {display: inline-block; white-space: nowrap; overflow-x: scroll; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; box-shadow: none; margin-bottom: 0; width: 100%; margin-left: 0; padding: 2px 0;} 
    .nav-tabs .nav-item {width: auto; margin-right: 0; display: inline-block;}

    /******************* view-all-appointments-popup *******************/
    .viewAll-appointment .searchForm ul li {width: 29.3%; padding-right:10px;} 

    /******************************
    Report Body Section
    *******************************/
    .searchForm ul li {width: 22%;}
    .searchForm ul li:last-child {width: 12%;}
    .data .btn {padding: 4px 8px;}

    /******************************
    Land Report Body Section
    *******************************/
    .reportBox {margin-bottom: 15px;}
    .reportBox .blockquote.uploadYoourReport p {line-height: normal;}
    .reportsBody .card-deck .container {padding-right: 0; padding-left: 0;}
    .reportsBody .card-deck .row.w100 {width: auto;}
    .reportsBody .card.accepted-box p {line-height: 22px;}
    
    /******************************
    Payments Page
    *******************************/
    .payment-table-desktop {display: none;}
    .payment-table-Mobile {display:block; background-color: #ffffff; padding-top: 15px;}
    .payment-list {border-bottom: 1px solid #eeeeee; padding: 0 15px 8px; margin-bottom: 15px;}
    .payment-list div {color: #757575; font-size: 12px; font-weight: 400; margin-bottom: 8px;}
    .payment-list b {color: #212121; font-size: 12px; font-weight: 500;}

    /******************************
    Experts Page
    *******************************/
    .expertPage.paymentsBody .flexBox {width: 48.9%;}
    .valueAddedServices .card-deck .card {flex: 0 0 47%;}

    /******************************
    Rating & Reviews Page
    *******************************/
    .comments-review div+div {min-width: 50% !important; margin-bottom: .5rem;}
    .comments-review label {display: block;}

    /******************************
    Report Body Section
    *******************************/
    .dataTable div.data:last-child {min-width: unset; max-width: unset; padding: 0;}

    /******************************
    Land Listing Page
    *******************************/
    .land-listing .valueAddedServices .card-body div:first-child {flex: 1 0 100%;}
    .land-listing .valueAddedServices .card-body {min-height: auto;}
    .activeLand .badge-success,
    .inactiveLand .badge-success, span.landPrice, span.listingExpiring {margin: 10px 0 0;}
    .land-listing .three-dots:after {top: 15px;}

    .seeGraph-popup .popup-body {width: auto; height: auto; padding: 15px;}
    .seeGraph-popup button.mfp-close {top: -30px; right: 10px;} 
}

@media only screen and (max-width : 767px) {     
    .showBy .dropdown .dropdown-toggle::after {height: 1.4vw; width: 1.4vw;}
    button.mfp-close {right: 9px; top: -30px;}

    .reportArticle .repArtImg{ max-width: 80px; flex: 0 0 80px;}
    /*Report page*/
    .repArtImg{ display: none;}
    /*Mobile Filter */
    .filterForm .form-group{ margin-bottom: 30px;}
    .filterFormSection a.mobileFilterBtn{ display: block;}
    .filterForm{ display: none; position: fixed; top: 0; left: 0; right: 0; z-index: 100; background-color: #ffffff; padding:30px 20px; height:100vh; overflow-y: auto;}
    .filterForm.shown{ display: block;}
    .filterForm h2{ display: block; text-align: center; margin: 0 0 20px;}
    
    /***************************************
    input-group has-float-label
    ****************************************/
    select.form-control:not([size]):not([multiple]) {background-position: 97% center;}

    /******************************
    Dashboard Body Section
    *******************************/
    .secondary-Admin-popup .popup-body .row {margin: 0;}
    .secondary-Admin-popup .popup-body .row [class*="col-"] {padding: 0;}
    .secondary-Admin-popup .popup-body {width: 100%;}
    .secondary-Admin-popup ul {-ms-flex-wrap: wrap !important; flex-wrap: wrap !important; padding-bottom: 0;}
    .secondary-Admin-popup ul li {flex: 1 0 60%; padding: 0; margin-bottom: 10px;}
    .secondary-Admin-popup ul li:last-child {flex: 1 0 40%;}
    .secondary-Admin-popup ul.addSecondaryAdmin li {flex: 1 0 100%;}
    .addSecondaryAdmin .btn-primary {width: 100%;}
     /****************** urban-planning-popup css ******************/
     .urban-planning-popup .popup-body .row {margin: 0;}
     .urban-planning-popup .popup-body .row [class*="col-"] {padding: 0;}
     .urban-planning-popup .popup-body {width: 100%;}
    /******************* view-all-appointments-popup *******************/
    .viewAll-appointment .popup-body {width: 100%;}
    .viewAll-appointment .searchForm {padding: 15px 20px;}
    .viewAll-appointment .searchForm form {display: block;}
    .viewAll-appointment .searchForm ul li {width: 50%; padding-right: 10px; margin-bottom: 10px;}   
    .viewAll-appointment .searchForm .btn-primary {color: #fff; background-image: none;} 
    .appointments-list li:nth-child(2) {flex:1 0 100%; margin-bottom: 5px; margin-top: 5px;} 

    /******************************
    Report Body Section
    *******************************/
    /***************************** SEARCH FORM START *****************/
    .searchForm .open-mobile-search {display: block; background-color: transparent; opacity:1; position: absolute; top: 0px; left: 0; width: 100%; height: 36px; line-height: 32px; padding-left: 15px;}
    .searchForm form {display: none;}
    .searchForm span {display: block; line-height: 36px; text-align: center; font-size: 20px; font-weight: 500; position: absolute; top: 13px; width: 100%; left: 0;}
    .searchForm {background-color: #FFFF; width: 100%; height:36px; margin: 20px 0 30px; background-image: url(../images/svg-icons/search-icon.svg); background-repeat: no-repeat; background-position: 95% center; background-size: auto; border: 1px solid #eeeeee; position: relative;}
    .searchForm form.searchMobile {display: block; width:100%; height: 100vh; background-color: #FFFFFF; position: fixed; top:0; left: 0; z-index: 2; padding: 60px 15px 0;}
    .searchForm form.searchMobile ul li {width: 100% !important; padding:0;}
    .searchForm form.searchMobile ul li:last-child a {width: inherit;}
    .searchForm form .closeSearch {display: inline-block; position: absolute; top: 20px; left: 88%; z-index: 2;}
    .searchForm form .closeSearch img {width: 20px;}

    /******************** Report Page Popup Css **********************/
    .deliveredReport .popup-body {width: 100%;}
    .deliveredReport .popup-body .row {margin: 0;}
    .deliveredReport .popup-body .row [class*="col-"]  {padding: 0;}
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-prev, 
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-next {top: unset; bottom: -30px;}
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-prev {left: 330px;}
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-next {right: 330px;}
    .deliveredReport.viewReportPopup .popup-body .owl-carousel .owl-nav button.owl-prev, 
    .deliveredReport.viewReportPopup .popup-body .owl-carousel .owl-nav button.owl-next {top: 500px;}

    /******************************
    Land Report Body Section
    *******************************/
    .notificationCard {margin-bottom: 15px;}
    .reportBox .media img {width: 20%; display: none !important;}
    .reportBox .uploadReport {max-width: 20%; width: 20%; min-height: auto; height: auto; display: none !important;}
    .uploadBtn {margin-bottom: 45px;}
    .reportBox .uploadReport span {line-height: 15px; margin-bottom: 8px;}
    .reportBox .uploadReport .custom-file-label {margin-top: 30px;}
    .reportBox .uploadReport .custom-file-label img {width: 30%;}
    .media-body span {display: block; width: 100%;}
    .expartUpdate h6 {margin-bottom: 5px; flex: 1 0 65%;}
    .reportBox .blockquote.uploadYoourReport p img {width: 5%;}
    .reportsBody .card-deck {margin-bottom: 0px;}
    .reportsBody .card-deck .card {margin-bottom: 15px;}

    /******************************
    Experts Page
    *******************************/
    .expertPage.paymentsBody .flexBox {width: 100%;}
    .expertPage .searchForm ul li:last-child, .expertPage .searchForm ul li:nth-last-child(2) {width: 100%; margin-bottom: 30px;}
    .valueAddedServices .card-deck .card {margin-right: 0; margin-left:0;}

    /******************************
    Rating & Reviews Page
    *******************************/ 
    .comments-review div+div {margin-bottom: .7rem; padding-right: 0 !important;}

    /******************************
    Message to Admin Page
    *******************************/
    .message-admin .media label {flex: 1 0 100%; padding: 0;}
    .message-admin .message-box span.day-count {position: absolute; right: 0; top: 0; width: auto;}  
    .message-admin .message-box p {text-align: justify;}
	
	/*Profile page*/
    .profileSection{ padding: 20px; display: block;}
    .profileUserImg{ margin: 0 0 20px;}
    .profileUserDetail{  margin: 0 0 20px; }
	
	.delProfileBtn{ position: absolute; top: 15px; right: 15px;}

    .popupForm{ padding: 25px;}
    a.closeBtn{top: 15px; right: 15px; background-image: url(../images/close-icon-dark.png);}

    /******************************
    Land Listing Page
    *******************************/
    .w_100 {width: 100%;} 
    .reportsBody.land-listing .tab-content .card-deck {margin-right: 0px; margin-left: 0px;}
    .bottom-border {margin: 8px 0 15px;}
    .activeLand .badge-success, .inactiveLand .badge-success, span.landPrice, span.listingExpiring {margin: 10px 0px 0;}
    .for-sale-land a.btn-primary {width: 100%; margin:0;}
    .sale-land-details div:nth-of-type(odd), .sale-land-details div:nth-of-type(even) {flex: 1 0 100% !important;}

    .seeGraph-popup button.mfp-close {top: -30px;}

    /********** Schedule-Visit-popup **********/
    .schedule-Visit .popup-body {width: auto;}
    .selectExpart, .selectDate, .selectTime {flex: 0 0 100%; margin-bottom: .7rem;}
    .selectTime .gj-unselectable .form-control {border-left: 1px solid #e0e0e0 !important;}
    .selectTime .input-group {display: inherit;}
    .scheduleVisit-btn .btn-primary {width: 100%;}

    /******************* suggestAnotherTime *******************/
    .form-filds {padding-left: 15px !important; padding-right: 15px !important;}
    .suggestAnotherTime .popup-body {width: 100%;}

    
    /*Appointment page*/
    .appointmentTopLinks{ overflow-x: auto; padding-bottom: 10px;}
    .appointmentTopLinks a{margin-right:20px; font-size: 14px; white-space: nowrap;}

    .customStyleCalendar .fc .fc-button{ min-width: 50px; font-size: 11px;}

    .customStyleCalendar .fc-header-toolbar .fc-left { max-width: 45%; flex: 0 0 45%; order: 1; }
    .customStyleCalendar .fc-header-toolbar .fc-right {  max-width: 55%; flex: 0 0 55%; order: 2;}
    .customStyleCalendar .fc-header-toolbar .fc-center {  max-width: 100%; flex: 0 0 100%; order: 3; padding-top: 10px;}
    .customStyleCalendar .fc .fc-head-container th, 
    .customStyleCalendar .fc .fc-widget-content td{ padding: 5px; font-size: 12px; }

}

@media only screen and (max-width : 640px) {   
    /******************** Report Page Popup Css **********************/
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-prev {left: 250px;}
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-next {right: 250px;}
}


@media only screen and (max-width : 575px) {  

}

@media only screen and (max-width : 480px) { 
    /******************************
    Land Report Body Section
    *******************************/
    .uploadBtn {margin-bottom: 10px;}
    .reportBox .uploadReport .custom-file-label img {width: 40%;}
    .reportBox .uploadReport .custom-file-label {margin-top: 15px;}
    .reportsBody .card.accepted-box p {margin: 0 0 1px 0;}
    .expartUpdate h6 {flex: 1 0 100%;}

    /******************** Report Page Popup Css **********************/
    #requestReport-popup p {line-height: 20px;}
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-prev {left: 150px;}
    .deliveredReport .popup-body .owl-carousel .owl-nav button.owl-next {right: 150px;}
    /******************* view-all-appointments-popup *******************/
    .viewAll-appointment .searchForm ul li {width: 100%; padding-right: 10px; margin-bottom: 10px;}
}

@media only screen and (max-width : 320px) {

}