@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{ 
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-size: 14px; 
    font-weight: 400;
} 

h1, h2, h3, h4, h5, h6{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #212121;
    line-height: normal;
}
 
input, select, textarea, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
a{color: #00dfbe; text-decoration: none; transition: all ease 0.4s;}
a:hover{ color: #00add8; text-decoration: none;}
a:focus{ outline:none; box-shadow:none;}
strong{font-weight: 700;}

button:focus,
textarea:focus {outline: 1px dotted; outline: 0px auto -webkit-focus-ring-color;}

/*Btn-primary*/
.btn{font-size: 12px; padding: 10px 20px; font-weight: 400; transition: all ease 0.4s; border-radius: 2px;  }
.btn:focus{outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}

.btn-primary {background-color:#42bbac; border-color:#42bbac;}
.btn-reserved {background-color: transparent; border-color:#42bbac; color:#42bbac;}
.btn-primary:hover, .btn-primary:focus{ background-color:#12BDA3; border-color:#12BDA3; outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{ background-color: #00dfbe;  border-color: #00dfbe; outline: none; box-shadow: none!important; -moz-box-shadow: none; -webkit-box-shadow: none;}

.btn-primary-bordered{ border:#00dfbe solid 1px; color:#00dfbe; background-color: transparent;}
.btn-primary-bordered:hover, .btn-primary-bordered:focus{ background-color:#00dfbe; color:#ffffff;}

/*Primary Btn*/
.btn-default{border: 1px solid #eeeeee; background-color: #ffffff; color: #212121;}

/*Form fields*/
.form-group{ margin-bottom: 50px;} 
.form-control::placeholder{ color: #757575;}
.form-control:focus{ box-shadow: none; outline: none;}


/*Form fields*/
.form-group{ margin-bottom: 50px;} 

/* label floating style */
.floating-field{ position: relative;}
.floating-label { position: absolute; top:10px; left: 0; user-select: none; z-index: 1; display: block; margin: 0; color:#212121; font-size: 14px; transition: all ease 0.4s;} 
.floating-field .form-control{ color: #000000; padding: 10px 0; font-size: 14px; border:none; border-bottom: 1px solid #e0e0e0;  background-color: transparent;  border-radius: 0;  transition: all ease 0.4s;}
.floating-field input.form-control::placeholder {color: transparent;} 
.floating-field input.form-control:focus,
.floating-field input.form-control:not(:placeholder-shown){box-shadow:none; outline: none;border-color: #999999;}
.floating-field input.form-control:focus + .floating-label,
.floating-field input.form-control:not(:placeholder-shown) + .floating-label{transform: translate(0, -22px);   font-size: 12px;  opacity: 0.7;} 
.floating-field input.form-control:invalid{ border-color: rgba(255, 71, 87, .3);} 

.floating-field textarea.form-control{ resize: none;}
.floating-field textarea.form-control::placeholder {color: transparent;} 
.floating-field textarea.form-control:focus,
.floating-field textarea.form-control:not(:placeholder-shown){box-shadow:none; outline: none;border-color: #999999;}
.floating-field textarea.form-control:focus + .floating-label,
.floating-field textarea.form-control:not(:placeholder-shown) + .floating-label{transform: translate(0, -22px);   font-size: 12px;  opacity: 0.7;} 
.floating-field textarea.form-control:invalid{ border-color: rgba(255, 71, 87, .3);} 

/*Dropdown Field*/
.floating-field select.form-control:focus{box-shadow:none; outline: none;border-color: #999999;}
.floating-field select.form-control:focus~label,
.floating-field select.form-control:not([value=""]):valid~label { transform: translate(0, -22px); font-size: 12px;  opacity: 0.7;}
.floating-field select.form-control:not([size]):not([multiple]){height:auto}

span.fieldFormat{color: #757575; font-size: 14px; font-weight: 400; position: absolute; top:12px; right:0;}
 
/*Mobile Field*/
.mobile-field .floating-label{left: 47px;}
.mobile-field.floating-field .form-control{ padding-left: 47px;}
.mobile-field .mobileCode {color: #9e9e9e; border-right: 1px solid #e0e0e0; font-size: 14px; display: block; padding-right: 10px; position: absolute; top: 10px; left: 0; }

/*************************************** 
Custom Checkbox
****************************************/ 
.customCheckbox{ position: relative;}
.customCheckbox input{ position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;}
.customCheckbox label{ display: inline-block; margin: 0; cursor: pointer; position: relative; padding-left:24px; color: #757575; font-size: 14px;}
.customCheckbox label::before{ width:16px; height:16px; display: block; content:''; border:#9e9e9e solid 1px; border-radius: 2px; position: absolute; top:3px; left: 0;}
.customCheckbox input:checked ~ label::before{ border-color: #00dfbe; background-color: #00dfbe; background-image: url(../images/svg-icons/checked-icon.svg); background-repeat: no-repeat; background-position: center;}


/***************************************
input-group has-float-label
****************************************/
.custom-control-input:focus~.custom-control-label::before {box-shadow: unset;}
.custom-control-label::before {background-color: #ffffff; border: 1px solid #9e9e9e; border-radius: 2px !important;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {background-color: #00dfbe; border-color: #00dfbe;}
.input-group {display: table-cell; width: 100%;}
.form-control {border:0; border: 1px solid #e0e0e0; border-radius: 0 !important; padding: .375rem .75rem .375rem 20px; font-size: 12px; font-weight:400; color: #757575; height: 36px;}
.form-control::placeholder {color: #9e9e9e;}
.form-control:focus {box-shadow: none; border-color: #e0e0e0;}
.form-control:placeholder-shown:not(:focus)+ label {font-size: 14px; opacity: 1; top: 0.8em; left: 0; color: #212121;}
textarea.form-control {height:auto; resize: none;}
.custom-control {padding-left: 2rem;}
.custom-control-label {font-size: 12px; font-weight: 400; color: #757575;}
.custom-control-label span {color: #00dfbe;}

select.form-control:not([size]):not([multiple]) {height: calc(2.25rem + 0px); -webkit-appearance: none; -moz-appearance: none; background-image: url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position: 95% center; background-size: auto;}


/***************************************
input-group has-float-label
****************************************/
.form-filds .custom-control-input:focus~.custom-control-label::before {box-shadow: unset;}
.form-filds .custom-control-label::before {background-color: #ffffff; border: 1px solid #9e9e9e; border-radius: 2px !important;}
.form-filds .custom-checkbox .custom-control-input:checked~.custom-control-label::before {background-color: #00dfbe; border-color: #00dfbe;}
.form-filds .has-float-label,
.form-filds .has-float-label .input-group {display: block; width: 100%;}
.form-filds .form-control {border:0; border-bottom: 1px solid #bdbdbd; border-radius: 0 !important; padding: .375rem .75rem .375rem 0; font-size: 14px;height: 40px;}
.form-filds .form-control:focus {box-shadow: none; border-color: #bdbdbd;}
.form-filds .has-float-label .form-control:placeholder-shown:not(:focus)+ label {font-size: 14px; opacity: 1; top: 1.2em; left: 0; color: #212121;}
.form-filds .has-float-label label {left: 0; font-size: 12px; color: #212121; top: -.8em;}
.form-filds .custom-control {padding-left: 2rem;}
.form-filds .custom-control-label {font-size: 12px; font-weight: 400; color: #757575; line-height: 26px}
.form-filds .custom-control-label span {color: #00dfbe;}

/***************************************
GJ Date Time Picker
****************************************/
.form-filds {padding-left: 40px !important; padding-right: 40px !important;}
.multisteps-form__content .form-group {margin-bottom: 30px;}
.form-control.border {border:0 !important;}
.gj-unselectable .form-control {background-color: #ffffff; border-bottom: 1px solid #e0e0e0 !important; border-radius: 0 !important; width: 100% !important; height: 36px; font-family: 'Poppins', sans-serif !important; color: #212121 !important; padding: .375rem .75rem .375rem 20px;}
.gj-timepicker [role=right-icon] {cursor: pointer; position: absolute; top:0; width: 100%; height: 37px; z-index: 4;}
.gj-timepicker-bootstrap [role=right-icon] button {width: 100%; position: relative; border: 0 !important;}
.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {background-color: #6c757d00;}
.gj-timepicker-bootstrap [role=right-icon] button .gj-icon, 
.gj-timepicker-bootstrap [role=right-icon] button .material-icons {left:auto; background-image: url(../images/svg-icons/clock-icon.svg); background-position:right 0; background-repeat: no-repeat; background-size: auto; color: transparent; top: .4em !important; opacity: 1 !important; right: 10px; width: 20px;}

.has-float-label label[for=timepicker],
.has-float-label label[for=datepicker] {font-size: 14px; opacity: 1; top: 1em; left: 0; color: #212121;}

.has-float-label label[for=timepicker].active,
.has-float-label label[for=datepicker].active {font-size: 12px; opacity: 1; top: -.8em;}

.gj-datepicker-md [role=right-icon] {background-image: url(../images/svg-icons/calender-icon.svg); background-position:right 0; background-repeat: no-repeat; background-size: 35%; color: transparent; top: .3em !important; opacity: 1 !important; right: 10px;}
.multisteps-form__content .button-row {border-radius: 0 0 11px 11px; background-color: #000000; padding: 30px 70px; float: left; width: 100%;}
.multisteps-form__content .button-row h4 {color: #ffffff; font-size: 24px; font-weight: 600;  line-height: normal; text-align: left; text-transform: uppercase; float: left;}
.multisteps-form__content .button-row h4 label {opacity: 0.59; font-size: 13px; font-weight: 400; text-transform: capitalize; margin: 0; display: block;}
.multisteps-form__content .button-row .btn.btn-primary {margin-top: auto; margin-bottom: auto; margin-left: auto; border-radius: 19px; padding: 9px 50px; float: right; margin-top: 10px;}


/*************************************** 
Calendar Css 
****************************************/
.gj-picker-md div[role=navigator] {background-color: #00dfbe;}
.gj-picker-md table tr td div, .gj-picker-md table tr th div {width: 30px; height: 30px; line-height: 30px;}
.gj-picker-md table tr th div {color: #212121;}
.gj-picker-md table tr td.today {background-color: #00dfbe; border-radius: 50%; color: #ffffff;}
.gj-picker-md table tr td.today div {color: #ffffff;}
.gj-picker-md table tr td.selected.gj-cursor-pointer div {background-color: #00dfbe;}
.gj-picker-md div[role=navigator] div i.gj-icon, 
.gj-picker-md div[role=navigator] div i.material-icons {background-position: 0  0; background-repeat: no-repeat; background-size: 70%; left: 10px; top: 15px; color: transparent;}
.gj-picker-md div[role=navigator] div:first-child i.gj-icon, 
.gj-picker-md div[role=navigator] div:first-child i.material-icons {background-image: url(../images/svg-icons/left-arrow.svg);}
.gj-picker-md div[role=navigator] div:last-child i.gj-icon, 
.gj-picker-md div[role=navigator] div:last-child i.material-icons {right: 12px; background-image: url(../images/svg-icons/right-arrow.svg);}

/*************************************** 
Clock Css 
****************************************/
.gj-picker-bootstrap [role=header] {background-color: #00dfbe;color: #757575;}
.gj-picker-bootstrap .selected {color: #212121;}
.gj-picker [role=body] [role=dial] {background: #f8f9fa;}
.gj-picker [role=body] [role=dial] {color:#212121;}
.gj-picker-bootstrap .arrow-begin, .gj-picker-bootstrap [role=body] [role=arrow] {background-color: #212121;}
.gj-picker-bootstrap .arrow-end {border: 16px solid #00dfbe;}
.modal-footer .btn-default {border: 1px solid #00dfbe; background-color: #00dfbe; color: #fff;}

/*************************************** 
Custom-radio Css
****************************************/
.custom-radio .custom-control-label::before {border-radius: 50% !important;}
.custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #ffffff;}
.custom-radio .custom-control-input:checked~.custom-control-label::after {background-image: url(../images/svg-icons/radio-check-icon.svg); background-size: auto;}

/*************************************** 
Custom file label css
****************************************/
.custom-file-label {position: absolute; top: 0; right: 0; left: 0; z-index: 1; height: calc(2.25rem + 2px); padding: .375rem .75rem .375rem 0; line-height: 1.5; color: #212121; font-size: 14px; font-weight:400px; background-color: #fff; border: 0; border-bottom: 1px solid #bdbdbd; border-radius: 0;}
.custom-file-label::after {color: #00dfbe; background-color: #ffffff; border-left: 0px solid #ced4da; border-radius: 0 .25rem .25rem 0; font-size: 14px; font-weight: 500;}
.multisteps-form__content .custom-file {margin-bottom: 30px;}
.custom-file-label + span {color: #9e9e9e; font-size: 12px; font-weight: 400;  line-height: normal; text-align: left;}

 /******************************
 Custom Scrollbar Css 
 *******************************/
 /* width */
 .customScrollbar::-webkit-scrollbar {width: 7px;}  
 /* Track */
 .customScrollbar::-webkit-scrollbar-track {box-shadow: inset 0 0 0px grey; border-radius: 10px;}
 /* Handle */
 .customScrollbar::-webkit-scrollbar-thumb {background: #e0e0e0; border-radius: 10px;}
 /* Handle on hover */
 .customScrollbar::-webkit-scrollbar-thumb:hover {background: #e0e0e0;}
 

.wrapper{ min-height: 100vh; /*display: flex; flex-wrap: wrap;*/}
.main{ /*max-width: calc(100% - 250px); flex: 0 0 calc(100% - 250px);*/ padding-left:250px; }
.pageContainer{ padding: 25px 40px 30px; min-height: 100vh;}
.pageTitle{ margin-bottom: 12px;}
.pageTitle h1{ font-size: 16px; font-weight: 500;}

a.hamburgerMenu{ width:30px; height: 30px; display: block; border: 1px solid #ebebeb; background-color: #ffffff; background-image: url(../images/svg-icons/humburger-icon.svg); background-repeat: no-repeat; background-position: center; border-radius: 100%;} 

/***************************
Header
****************************/
header.header{ padding: 10px 40px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); background-color: #ffffff; height: 60px; display: flex; align-items: center; position: relative; }
header a.hamburgerMenu{ border:none; display: none; padding: 0; margin-right: 15px; width:12px; height: 12px; border-radius: 0;}

.mobileLogo{ width:42px; display: none;}
.mobileLogo img{ width: 42px;}

.headSearhBar{ width:350px; display: flex; position: relative;}
.headSearhBar .form-control{ height: 36px; border:none;border: 1px solid #e0e0e0; background-color: #fafafa; border-radius: 0; color: #444444; font-size: 12px; padding: 5px 5px 5px 10px;}

.headSearhBar select.form-control:not([size]):not([multiple]){   max-width: 125px; flex: 0 0 125px; height: 36px;}
.headSearhBar input.form-control{ flex: 1; border-left: none; padding-right: 50px; background-image: url(../images/svg-icons/search-icon.svg); background-repeat: no-repeat; background-position: calc(100% - 10px) center;}
.headSearhBar button{ width:36px; height: 36px; position: absolute; right: 0; top: 0; cursor: pointer; opacity: 0;}

.headRightLinks{ margin-left: auto; display: flex;}
.headRightLinks a{color: #424242; font-size: 12px; display: flex; position: relative; align-items: center; position: relative;}
.headRightLinks a em{ font-style: normal;}
.headRightLinks a img{ margin-right:8px; width:16px;}

.headRightLinks a.notificationLink{ margin-right: 20px;}
.headRightLinks a.notificationLink span{ width: 18px; height: 18px; display: block; position: absolute; top: -7px; left: 5px; background-color: #ff5757; color:#ffffff; font-size: 9px; text-align: center; line-height: 18px; border-radius: 100%; }

.notificationDropdown{max-width: 281px; padding:10px 20px; box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; border: 1px solid #e0e0e0; background-color: #ffffff;     margin-left: -51px;}
.notiData{ padding: 8px 0; border-bottom: #eeeeee solid 1px; color: #424242; font-size: 11px; font-weight: 500; line-height: 20px;}
.notificationDropdown::before{ content:''; display: block; width: 0; height: 0; border-bottom: #fff solid 10px; border-left: transparent solid 7px; border-right: transparent solid 7px; position: absolute; top: -10px; left:50px; }
.notiData:last-child{ border: none;}
.notiData a{ color: #00dfbe;}

/*header notification*/
.headRightLinks .notificationDropdown{margin-left: -50px; margin-top: 20px;}

/***************************
Sidebar Nav
****************************/
.sidebar{ width:250px; /*flex: 0 0 250px;*/ padding: 16px 30px; box-shadow: 1px 0 0 rgba(0, 0, 0, 0.06), inset -40px 0 20px rgba(0, 0, 0, 0.01); background-color: #ffffff; position: relative; z-index: 1; position: fixed; height:100vh; }
.sidebar a.hamburgerMenu{ position: absolute; top: 83px; right: -15px; width:30px; } 

.sidebarLogo { position: relative; margin-bottom: 30px;}
.sidebarLogo a{  display: flex; align-items: center; color: #000000; font-size: 15px; font-weight: 600;}
.sidebarLogo img { width: 42px; display: block; margin-right: 12px;}

.sideNavigation{ padding: 0; margin: 0 -30px 60px;}
.sideNavigation ul{ margin: 0; padding: 0;}
.sideNavigation ul li{ list-style: none; margin-bottom: 20px;}
.sideNavigation ul li a{ display: block; padding: 5px; padding-left: 65px; color: #212121; font-size: 12px; background-repeat: no-repeat; background-position: 30px center; border-left: 5px solid transparent; transition: none;} 
.sideNavigation ul li a.active{ color:#00e9bb; border-color: #00dfbe; }

.sideNavigation ul li a.nav_dashboard{ background-image: url(../images/sidebarNav-icons/dashboard.svg);}
.sideNavigation ul li a.nav_appoint{ background-image: url(../images/sidebarNav-icons/appointments.svg);}
.sideNavigation ul li a.nav_reports{ background-image: url(../images/sidebarNav-icons/reports.svg);}
.sideNavigation ul li a.nav_land{ background-image: url(../images/sidebarNav-icons/land-listing.svg);}
.sideNavigation ul li a.nav_experts{ background-image: url(../images/sidebarNav-icons/experts.svg);}
.sideNavigation ul li a.nav_payments{ background-image: url(../images/sidebarNav-icons/payments.svg);}
.sideNavigation ul li a.nav_rating{ background-image: url(../images/sidebarNav-icons/rating.svg);}
.sideNavigation ul li a.nav_msg{ background-image: url(../images/sidebarNav-icons/message.svg);}
.sideNavigation ul li a.nav_profile{ background-image: url(../images/sidebarNav-icons/your-profile.svg);}
.sideNavigation ul li a.nav_logout{ background-image: url(../images/sidebarNav-icons/logout.svg);}

.sideNavigation ul li a.active.nav_dashboard{ background-image: url(../images/sidebarNav-icons/dashboard-active.svg);}
.sideNavigation ul li a.active.nav_appoint { background-image: url(../images/sidebarNav-icons/appointments-active.svg);}
.sideNavigation ul li a.active.nav_reports{ background-image: url(../images/sidebarNav-icons/reports-active.svg);}
.sideNavigation ul li a.active.nav_land{ background-image: url(../images/sidebarNav-icons/land-listing-active.svg);}
.sideNavigation ul li a.active.nav_experts{ background-image: url(../images/sidebarNav-icons/experts-active.svg);}
.sideNavigation ul li a.active.nav_payments{ background-image: url(../images/sidebarNav-icons/payments-active.svg);}
.sideNavigation ul li a.active.nav_rating{ background-image: url(../images/sidebarNav-icons/rating-active.svg);}
.sideNavigation ul li a.active.nav_msg{ background-image: url(../images/sidebarNav-icons/message-active.svg);}
.sideNavigation ul li a.active.nav_profile{ background-image: url(../images/sidebarNav-icons/your-profile-active.svg);}
.sideNavigation ul li a.active.nav_logout{ background-image: url(../images/sidebarNav-icons/logout-active.svg);}
.addSecondAdminBtn a.btn{ width:100%; border-radius: 50px;}

/***************************
Footer
****************************/ 
.footer{ box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06); background-color: #ffffff; padding: 15px 40px; text-align: center; color: #bdbdbd; font-size: 12px; line-height: 20px;}
.footer a{ color:#212121; }
.footer a:hover{ color: #00dfbe;}
.footer p{ margin: 0;}



 /********************************
 Border css
 *******************************/
 .border {border: 1px solid #eeeeee !important;}

 /********************************
 Flex Box Css
 *******************************/
 .flexBox {border-radius: 8px; background-color: #ffffff; padding:25px 20px; -ms-flex: 1 1 auto !important; flex: 1 1 auto !important;}

 /*****************************
 Pagination Css
 *************************/
 .pagination li {margin: 0 5px;}
 .pagination li.disabled a, .pagination li a {background-color: transparent; border-color: transparent; color: #212121; font-size: 12px; font-weight: 400; border: 0;}
 .pagination li.active a {color: #fff; background-color: #00dfbe; border-color: #00dfbe; border-radius: 50%; text-align: center; padding: 4px 12px;}
 .pagination li a:hover {background-color: #eeeeee; border-color: #eeeeee;border-radius: 50%; text-align: center;}
 .pagination li a.prev:hover,
 .pagination li a.next:hover {background-color:transparent; border-color: transparent;}
 .page-item.active .page-link {background-color: #42bbac; border-color: #42bbac;}
 .page-link:focus {z-index: 2; outline: 0; box-shadow: 0 0 0 0rem rgba(0,123,255,.25);}
 .pagination-sm .page-link {border-radius: 50%;}

 ul.form-fields {padding: 0px; margin: 0px;}
 ul.form-fields li {padding: 0px; margin: 0px; list-style: none; width:100%;}
 ul.form-fields .form-group {margin-bottom: 20px;}
 ul.form-fields .custom-file-label {border: 1px solid #e0e0e0; color: #757575; font-size: 12px; font-weight: 400; padding: .375rem .75rem .375rem 20px; line-height: 24px;}
 ul.form-fields .custom-file-input:lang(en)~.custom-file-label::after {content: "Upload"; color: #00dfbe; font-size: 11px; font-weight: 500; line-height:26px;}

 .row_20 {margin: 0 -10px;}
 .row_20 [class*="col-"] {padding: 0 10px;}
 
 /***************************** SEARCH FORM START *****************/
 .searchForm .open-mobile-search {display: none;}

 /******************************
 Dashboard Body Section
 *******************************/
 h2 {font-size: 16px; font-weight: 500;}
 h3 {font-size: 14px; font-weight: 500;}
 h5 {font-size: 24px; font-weight: 500; letter-spacing: normal; line-height: normal; text-align: left; margin: 0;}
 .flexBox p {color: #757575; font-size: 14px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; margin: 0; white-space: nowrap;}

 .div-repeat {width:100%; padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto; margin-bottom: 40px;}
 .showBy span {color: #757575; font-size: 11px; font-weight: 500; letter-spacing: normal; line-height: normal; text-align: left; margin-right: 2px;}
 .showBy .dropdown {display: inline;}
 .showBy .dropdown {border-radius: 5px; border: 1px solid #e0e0e0; background-color: #ffffff; color: #757575; font-size: 12px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; padding: 5px 10px; float: right; width: 70px; min-width: 70px; position: unset; opacity: 1; max-height: 28px; box-shadow: none;}
 .showBy .dropdown a {color: #757575; width:100%; float: left; position: relative; line-height: 16px;}
 .showBy .dropdown .dropdown-toggle::after {box-sizing: border-box; height: .4vw; width: .4vw; border-style: solid; border-color: #757575; border-width: 0px 1px 1px 0px; transform: rotate(45deg); transition: border-width 150ms ease-in-out; position: absolute; right:0; top: 30%; background-image: unset;} 
 .showBy .dropdown-menu.show {top: 4px !important; left: -10px !important; width: 70px; min-width: 70px !important; padding: 10px 5px !important;}
 .showBy .dropdown-menu.show li a {font-size: 11px; font-weight: 400; padding: 0 9px;}

 /****************** secondary-Admin-popup css ******************/
 .secondary-Admin-popup .popup-body {width: 517px; height:auto; border-radius: 12px; background-color: #ffffff;}
 .secondary-Admin-popup .popup-body h2 {font-size: 14px; padding: 20px 20px 0;}
 .secondary-Admin-popup .popup-body h3 {font-size: 12px; padding: 20px 20px 0;}
 .secondary-Admin-popup ul {padding: 0 20px 25px; margin: 0; display:flex; border-bottom: 1px solid #f0f0f0;}
 .secondary-Admin-popup ul li {padding: 0 10px 0 0; margin: 0; list-style: none; flex: 1 0 0%; color: #757575; font-size: 12px; font-weight: 400;}
 .secondary-Admin-popup ul li:last-child {text-align: right;}
 .secondary-Admin-popup ul li:last-child a {margin: 0 5px;}
 .secondary-Admin-popup .dropdown-menu {display: none; padding: 10px 0;}
 .secondary-Admin-popup .dropdown-menu.show {display: block;}
 .secondary-Admin-popup .dropdown-menu li, 
 .secondary-Admin-popup .dropdown-menu li:last-child {text-align: left; padding: 5px 0;}
 .secondary-Admin-popup .dropdown-menu li:last-child a {margin:0;}
 .secondary-Admin-popup .dropdown-menu li a label {padding: 3px 20px 3px 15px;}
 .addSecondaryAdmin {border-bottom: 0 !important;}
 .addSecondaryAdmin .form-group {margin-bottom: 0;}
 .addSecondaryAdmin .form-control {padding: .375rem .75rem .375rem 10px;}
 .addSecondaryAdmin .btn-group {width: 100%;}
 .secondary-Admin-popup ul.addSecondaryAdmin li a {color: #757575; font-size: 11px; font-weight: 400;}
 .secondary-Admin-popup ul.addSecondaryAdmin li {flex: 1 0 42%;}
 .secondary-Admin-popup ul.addSecondaryAdmin li:last-child {flex: 1 0 15%; padding: 0;}
 .addSecondaryAdmin .btn-primary {border-radius: 16px; padding: 7px 20px;}
 .multiselect {padding: .5rem .75rem .5rem 10px; border-radius: 0; text-align: left;}
 span.multiselect-selected-text {font-size: 12px; font-weight: 400; color: #757575; display: block; width: 100%;}
 .dropdown-toggle::after {width: 10px; height: 6px; -webkit-appearance: none; -moz-appearance: none; background-image: url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position: 95% center; background-size: auto; border:0; position: absolute; top: 40%; right: 8px;}

 input[type=checkbox] {height: 14px; width: 14px; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; border-radius: 2px; border: 1px solid #bdbdbd; outline: none; transition-duration: 0.3s; background-color: #fff; cursor: pointer; float: left; margin-right: 8px;}
 input:checked {border: 1px solid #00dfbe; background-color:transparent; background-image: url(../images/svg-icons/checkbox-icon.svg); background-repeat: no-repeat; background-position: -1px -1px; background-size: auto;}

 /****************** urban-planning-popup css ******************/
 .urban-planning-popup .popup-body {width: 460px; height:auto; border-radius: 12px; background-color: #ffffff;}
 .urban-planning-popup ul {padding: 10px 20px 0; margin: 0;}
 .urban-planning-popup ul li {padding: 10px 0 10px; margin: 0; list-style: none; border-bottom: 1px solid #e0e0e0; position: relative;}
 .urban-planning-popup ul li:first-child {padding-left: 10px;}
 .urban-planning-popup ul li:first-child::before {position:absolute; top:13px; left:0; width: 2px; height: 33px; background-color: #63e8e9; content:"";}
 .urban-planning-popup h2 {color: #212121; font-size: 14px; font-weight: 500; margin: 0;}
 .dateTime {color: #757575; font-size: 12px; font-weight: 400;}
 .joinMeeting {display: block;color: #757575; font-size: 13px; font-weight: 400;}
 .urban-planning-popup a {color: #1d6be5; font-size: 12px; font-weight: 400;}
 .urban-planning-popup label {color: #424242; font-size: 12px; font-weight: 400; display: block;}
 .urban-planning-popup footer {border-radius: 0 0 12px 12px; background-color: #f4f4f4; color: #9e9e9e; font-size: 11px; font-weight: 500; line-height:40px; padding-left: 20px;}
 .urban-planning-popup .dropdown {top: 5px; right: -9px;}
 .urban-planning-popup .dropdown ul li {padding: 0 !important; border:0 !important;}
 .urban-planning-popup .dropdown ul li:before {display: none !important;}
 .urban-planning-popup.approval-appointment ul li:first-child::before {background-color: #ff91a0;}
 .confirmAppointment {display: flex; padding: 10px 20px 20px !important; margin: 0;border-bottom:0;}
 .confirmAppointment li {padding: 0 !important; margin: 0 !important; list-style: none; flex:1 0 43%; border-bottom:0 !important; color: #212121; font-size: 12px; font-weight: 400;}
 .confirmAppointment li::before {display: none;}
 .confirmAppointment li:last-child {flex:1 0 20%;}
 .confirmAppointment li a {color: #00dfbe;}
 .confirmAppointment li a.btn {padding: 3px 20px; color: #fff;border-radius: 12px;}

 /******************* view-all-appointments-popup *******************/
.viewAll-appointment .popup-body {width: 626px; height:auto; border-radius: 12px; background-color: #ffffff;}
.viewAll-appointment .popup-body h2 {padding: 15px 20px 0;}
.viewAll-appointment .searchForm {padding: 15px 40px 15px 20px; background-color: #f0f0f0;height: auto; background-image: none;}
.viewAll-appointment .searchForm ul {margin-top: 0;}
.viewAll-appointment .searchForm ul li .form-group {margin-bottom: 0;}
.viewAll-appointment .searchForm ul li {width: 30%; padding-right:10px;}
.viewAll-appointment .searchForm .btn-primary {background-image: url(../images/svg-icons/white-search-icon.svg); background-position: center; background-repeat: no-repeat; background-size: auto; color: transparent;}
/******************* appointments-list *******************/
.appointments {padding: 15px 11px 15px 20px; height: 280px;}
.appointments-list {display: flex; padding: 0 0 15px; margin: 0 0 15px; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; border-bottom: 1px solid #eeeeee;}
.appointments-list li {list-style: none; flex: 1 0 33.33%; font-size: 12px; font-weight: 400;}
.appointments-list li h3 {padding: 0; margin: 0;}
.appointments-list li:last-child {flex: 1 0 100%;}
.appointments-list .form-group {margin-bottom: 0px; float: right;}
.appointments-list .form-control {padding: 4px 30px 4px 10px; height: auto !important;}
.not-accepted {color: #ff444f; font-size: 12px; font-weight: 500;}
/******************* suggestAnotherTime *******************/
.suggestAnotherTime .popup-body {width: 409px; height:auto; border-radius: 12px; background-color: #ffffff;padding: 25px 0 15px;}
.suggestAnotherTime h2 {font-size: 16px; font-weight: 600; text-align: center; margin-bottom: 50px;}
.suggestAnotherTime .popup-body .btn-primary {width: 100%; border-radius: 21px; margin-top:25px;}
.suggestAnotherTime .gj-unselectable .form-control {padding: .375rem .75rem .375rem 0px; border-bottom: 1px solid #bdbdbd !important;}
.suggestAnotherTime .gj-datepicker-md [role=right-icon] {top: .4em !important;}

/******************************** Graph Div Css ********************************/
 .graphDiv {width:100%; background-color: #FFFFFF;border-radius: 8px; padding:20px;}
 .graphDiv img {width:100%;}

/******************************** Nav-tabs Css ********************************/
.nav-tabs {border-bottom: 0; margin-bottom: 27px;}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {background-color: transparent; border-color: transparent; color: #212121; font-size: 12px; font-weight: 600; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; text-transform: uppercase; position: relative; padding: .5rem 1.5rem;}
.nav-tabs .nav-link.active::before {content:"";position: absolute; bottom: -7px; left: 0; width: 100%; height:3px; background-color:#00eeb8;}
.nav-tabs .nav-link {color: #9e9e9e; font-size: 12px; font-weight: 600; text-transform: uppercase; padding: .5rem 1.5rem; height: 36px;}
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {border-color: transparent;}

/******************************** Count-Cards Css ********************************/
.countCards{ margin-bottom: 20px;}
.countCards .row{ margin: 0 -10px;}
.countCards .row [class*="col-"]{ padding:0 10px;}

.countCards .col-lg-3{ margin-bottom: 10px;}
.countCards .col-lg-4{ margin-bottom: 10px;}
.countCardArt { display: flex; align-items: center; padding: 22px 20px; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff;}
.countCardArt .coutRepIcon{ max-width: 45px; flex: 0 0 45px; margin-right: 20px;}
.countCardArt .countRepDetail{ flex: 1; color: #757575; font-size: 12px; line-height: 24px;}
.countCardArt .countRepDetail strong{color: #212121; font-size: 24px; font-weight: 500;}
.countCardArt .countRepDetail p{ margin:0;}


/******************************
 Report Body Section
 *******************************/
.searchForm span {display: none;}
.searchForm ul {padding:0; margin:0; margin-top: 20px;}
.searchForm ul li {padding:0 20px 0 0; margin:0; list-style:none; width:22.5%;}
.searchForm ul li:last-child {width:10%; padding-right: 0;}
.searchForm ul li .form-group {margin-bottom: 30px;}
.searchForm ul li .btn {padding: 8px 3px; border-radius: 4px; width: 100%;}
.searchForm form .closeSearch {display: none;}
.searchForm.searchForm-sm ul li {width: 18%;}
.searchForm.searchForm-sm ul li:last-child {width: 10%;}

.dataTable {background-color: #fff; border-radius: 8px; padding: 10px 20px; position: relative;}
.dataTable .dropdown {right: 5px;}
.dataTable div {vertical-align:top;}
.dataTable div.data:first-child { white-space: normal;}
.dataTable div.data:nth-child(3) {min-width:25%;}
.dataTable div.data:last-child {min-width:2%; max-width: 2%; padding: 0;} 
.data {color: #212121; white-space: nowrap;}
.data:nth-last-child(2),
.data:last-child {text-align: right!important; -ms-flex-item-align: center!important; align-self: center!important;}
.data h4 {font-size: 14px; font-weight: 500; padding: 0; margin: 0;}
.data h4 a {color: #212121;}
.data span {font-size: 12px; font-weight: 400; word-break: break-all;}
.data label {color: #757575; font-size: 12px; font-weight: 400; display: block; padding:0; margin:0 0 3px;}
.data label span {color: #212121;font-weight: 500;}
.data .dropdown {position: unset; max-height: unset;}
.selectExpart {color: #00dfbe !important;}
.delivered {color: #3cdb6a !important;}
.pending {color: #fa7070 !important;}
.inprogress {color: #db833c !important;}
.data .btn {border-radius: 30px; padding: 7px 20px;}
.reportFine {color: #9e9e9e; font-size: 12px; font-weight: 400; position: relative; padding-left: 23px;}
.reportFine::after {content: '\2022'; font-size:70px; position: absolute; top: 0; left: -6px; width: 20px; height: 20px; border-radius:50%; color: #9e9e9e; line-height: 14px;}
.statusChanges {color: #9e9e9e; font-size: 12px; font-weight: 400; position: relative; padding-left: 23px;}
.statusChanges::after {content: '\2022'; color: #00dfbe !important; font-size:70px; position: absolute; top: 0; left: -6px; width: 20px; height: 20px; border-radius:50%; color: #9e9e9e; line-height: 14px;}

/******************** Report Page Popup Css **********************/
.select-expert .popup-body {width: 300px; height: auto; padding: 20px;}
.select-expert .selectExpart {margin-right: 0 !important; flex: 1 0 0%;}

.deliveredReport .popup-body {width: 557px; max-height: 370px; padding: 0px; border-radius: 16px; position: relative;}
.deliveredReport .popup-body .owl-carousel .owl-nav button.owl-prev, 
.deliveredReport .popup-body .owl-carousel .owl-nav button.owl-next {position:absolute; top: 120px; width: 26px; height: 26px; border-radius: 50%; font-size: 30px; line-height: 0px; font-weight: 200;}
.deliveredReport .popup-body .owl-carousel .owl-nav button.owl-prev {left: -50px;} 
.deliveredReport .popup-body .owl-carousel .owl-nav button.owl-next {right: -50px;}
.edit-block img {width: auto !important; float: right;}
.delivered-report-title {width:100%; padding: 14px 20px; border-radius: 12px 12px 0 0; background-color: #3cdb6a; display: flex;}
.delivered-report-title h2 {flex: 1 0 0%; color: #ffffff; font-size: 16px; font-weight: 500; text-align: left; margin: 0;}
.delivered-report-title #counter {color: #ffffff; font-size: 16px; font-weight: 500;}
.deliveredReport-items p {max-height: 47px; overflow-x: auto;}
#inprogressReport-popup .blockquote-editComment {display: inline-block;}
.inprogress-report-title {background-color: #f4a769;}
.blockquote-editComment form {display: flex;}
.blockquote-editComment textarea {flex:1 0 90%; resize:none; border-radius : 6px 0px 0px 6px; background-color: #f5f5f5; border:0; font-size: 12px; font-weight: 400; color: #212121; padding: 5px 10px;}
.blockquote-editComment textarea::placeholder {color: #bdbdbd; font-size: 12px; font-weight: 400;}
.blockquote-editComment input[type="submit"] {flex:1 0 10%; border: 0; outline: 0; background-image: url(../images/svg-icons/send-icon.svg); background-repeat: no-repeat; background-position: center; background-size: auto; border-radius: 6px;}
.blockquote-editComment {display: none;}
.request-report-title {background-color: #fa7070;}
#requestReport-popup p {color: #9e9e9e; line-height: 28px;}
.viewReportPopup .popup-body {width: 450px; max-height: fit-content; height: auto !important;}
.viewReportPopup .popup-body img {width: 100%; border-radius: 16px;}
.deliveredReport.viewReportPopup .popup-body .owl-carousel .owl-nav button.owl-prev, 
.deliveredReport.viewReportPopup .popup-body .owl-carousel .owl-nav button.owl-next {top: 250px;}



/*********** 3 Dots Css ************/
.dropdown {position: absolute; top: 10px; right: -15px; border: 0px solid #eeeeee; outline: none; z-index: 1; max-height: 0;} 
.dropdown .btn {padding: 0;}
.dropdown button.btn::before {cursor: pointer; color: #9e9e9e; content: '\2807'; font-size: 24px; padding: 0;}
.dropdown .dropdown-menu.show {min-width: 149px; padding: 10px 20px 10px 20px; box-shadow: 0 10px 20px #e5e5e5; border-radius: 8px 8px; background-color: #ffffff;}  
.dropdown .dropdown-menu.show a {display: block; color: #212121; font-size: 12px; font-weight: 400; line-height:25px; text-align: left;}

/************************** Thankyou Popup ************************/
.thankyou .popup-body {width: 300px; height: auto; padding: 20px 28px; text-align: center;}
.thankyou h1 {margin-bottom: 1rem;}
.thankyou span {color: #757575; font-size: 12px; font-weight: 400; line-height: 27px; text-align: center; display: block; padding: 0 10px; margin-bottom: 1rem;}
.thankyou .btn-primary {border-radius: 23px; width: 104px;}



/******************************
Magnific Popup CSS3
*******************************/
/* ====== Zoom effect ====== */
.mfp-zoom-in {
	/* start state */
	/* animate in */
	/* animate out */
}
 .mfp-zoom-in .mfp-with-anim {
	 opacity: 0;
	 transition: all 0.2s ease-in-out;
	 transform: scale(0.8);
}
 .mfp-zoom-in.mfp-bg {
	 opacity: 0;
	 transition: all 0.3s ease-out;
}
 .mfp-zoom-in.mfp-ready .mfp-with-anim {
	 opacity: 1;
	 transform: scale(1);
}
 .mfp-zoom-in.mfp-ready.mfp-bg {
	 opacity: 0.8;
}
 .mfp-zoom-in.mfp-removing .mfp-with-anim {
	 transform: scale(0.8);
	 opacity: 0;
}
 .mfp-zoom-in.mfp-removing.mfp-bg {
	 opacity: 0;
}
.popup-body {position: relative; background: #fff; border-radius: 16px; padding: 0; width: 1069px; height: 580px; margin: 10px auto;}
button.mfp-close{ display: block; width:22px; height:22px; position: absolute; right: -40px; top: 5px; background-image: url(../images/svg-icons/close-icon.svg); background-repeat: no-repeat; background-position: center; background-size: 100%; opacity: 1;}
button.mfp-close:active {top: 5px;}


/******************************
 Land Report Body Section
 *******************************/
.reportsBody .tab-content .card-deck {margin-right: 0; margin-left:0;}
.reportBox {background-color: #fff; border-radius: 8px; padding: 23px 0 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 0 0%; flex: 1 0 0%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0 0 20px; position: relative;}
.reportBox .dropdown {right: 5px;}
.reportBox .threeDotMenu {position: absolute; right: 15px; top: 10px;}
.reportBox .media {padding: 0 20px;} 
.reportBox .media img {width: auto; margin-right: 1rem!important; -ms-flex-item-align: start!important; align-self: flex-start!important; display: -ms-flexbox!important; display: flex!important;}
.media-body h5 {font-size: 14px; font-weight: 500; padding: 0; margin: 0;}
.media-body span {font-size: 12px; font-weight: 400; word-break: break-all; color: #212121;}
.landTitle {margin-bottom: 10px; margin-top: 10px; width: 100%;  background-image: url(../images/svg-icons/land-title-search-icon.svg); background-position:0 0; background-repeat: no-repeat; background-size: auto; color: #757575; font-size: 12px; font-weight: 400; padding-left: 20px;}
.landLocation {margin-bottom: 10px; background-image: url(../images/svg-icons/location-icon.svg); background-position:0 0; background-repeat: no-repeat; background-size: auto; color: #757575; font-size: 12px; font-weight: 400; padding-left: 20px;} 

.expartUpdate {border-top: 1px solid #eeeeee; margin-top:10px; padding:10px 0 0; display: -ms-flexbox !important; display: flex !important; -ms-flex-wrap: wrap !important; flex-wrap: wrap !important;}
.expartUpdate h6 {font-size: 12px; font-weight: 400; color: #757575; flex: 1 0 55%; margin-bottom: 0;}
.expartUpdate h6 span {color: #212121; font-weight: 500; width: auto; display: inline-block; margin-right: 8px;}
.daysAgo {font-size: 12px !important; font-weight: 400 !important; color: #9e9e9e !important; display: block !important;}
.expartUpdate .btn {flex: 1 0 30%; border-radius: 16px; padding: 7px 15px; -ms-flex-item-align: center !important; align-self: center !important;}
.reportBox .blockquote {border-top: 1px solid #eeeeee; margin-top: 20px; padding: 10px 20px 0; height:100%; margin-bottom: 0;}
.reportBox .blockquote .blockquote-header {color: #9e9e9e; font-size: 12px; font-weight: 400;}
.reportBox .blockquote p {color: #424242; font-size: 12px; font-weight: 400; line-height:22px;}
.reportBox .uploadReport {border-radius: 7px; border: 1px solid #eeeeee; min-height: 166px; max-width: 125px;  width: 125px; margin-right: 1rem!important; -ms-flex-line-pack: center!important; align-content: center!important; -ms-flex-wrap: wrap!important; flex-wrap: wrap!important; display: -ms-flexbox!important; display: flex!important;}
.uploadBtn {width:100%; position: relative; text-align: center; height: 42px; margin-bottom: 15px;}
.uploadBtn input[type="file"] {position:absolute; top: 0; left: 0; height: 48px;} 
.reportBox .uploadReport span {color: #9e9e9e; font-size: 12px; font-weight: 500; line-height: 20px; text-align: center; width: 100%;}
.reportBox .uploadReport .custom-file-input:lang(en)~.custom-file-label::after {content: ""; background-color: transparent;}
.reportBox .uploadReport .custom-file-label {border-bottom: 0; padding: 0; margin: 0;}
.reportBox .uploadReport .custom-file-label img {display: unset!important; margin-right: 0rem!important;}
.reportBox .blockquote.uploadYoourReport p {color: #9e9e9e; font-size: 14px; font-weight: 400; line-height: 105px;}
.reportBox .blockquote.uploadYoourReport p img {width: 8%; opacity: 0.4; margin-right: 15px;}

.projectNotification {margin-bottom: 30px;}
.projectNotification .row [class*="col-"] {padding: 0 10px;}
.notificationCard {display: flex; align-items: inherit; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; padding: 15px 20px; flex-wrap: wrap!important;}
.landAddress {flex: 0 0 75%;}
.acceptClose {flex: 1; display: -ms-flexbox!important; display: flex!important; -ms-flex-wrap: wrap!important; flex-wrap: wrap!important; -ms-flex-pack: end!important; justify-content: flex-end!important;}
.card-title {font-size: 14px; font-weight: 500; padding: 0; margin: 0 0 10px;}
.notificationCard label {color: #9e9e9e; font-size: 12px; font-weight: 400; margin-top: 0;}
.notificationCard label:last-child {margin: 0;}
.acceptClose a {background-position:0 0; background-repeat:no-repeat; background-size: auto; width:40px; height:40px; float: right; margin: 0 0 0 10px;}
.closeCard {background-image: url(../images/svg-icons/close-box-icon.svg);}
.acceptedCard {background-image: url(../images/svg-icons/right-box-icon.svg);}
.accepted-box, .assigned-box {flex: 0 0 100%;}
#accepted-box {display: none;}
.accepted-box p {color: #212121; font-size: 14px; font-weight: 500; background-image: url(../images/svg-icons/accepted-icon.svg); background-repeat: no-repeat; background-position: 0 0; background-size: auto; margin: 10px 0 20px; padding: 0 30px 0 70px; line-height: 26px;}
.card-text {text-align: right; color: #9e9e9e; font-size: 12px; font-weight: 400; float: right; white-space: nowrap;}


/******************************
 Payments Page
 *******************************/
.paymentsBody .payment-table-desktop {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06); border-radius: 8px; background-color: #ffffff;}
.paymentsBody .table thead th {background-color: #fafafa; color: #212121; font-size: 12px; font-weight: 500;}
.paymentsBody .table thead th, .paymentsBody .table td {border-bottom: 1px solid #eeeeee; border-top: 0; padding: 1.2rem 0rem 1.2rem 1.3rem;}
.paymentsBody .table td {color: #212121; font-size: 12px; font-weight: 400;}
.paymentsBody .table td:first-child {font-weight: 500;}
.table-hover tbody tr:hover {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #ffffff;}
.deleteRow {margin:0 10px; visibility: hidden;}
.table-hover tbody tr:hover .deleteRow {visibility: visible;}
.paymentsBody .showBy .dropdown, .paymentsBody .showBy .dropdown-menu {width: 55px; min-width: 55px;}
.payment-table-Mobile {display: none;}

/******************************
 Experts Page
 *******************************/
 .expertPage.paymentsBody .flexBox {width: 30%; flex: unset !important;}
 .expertPage .searchForm ul li {width: 25%;}
 .expertPage .searchForm ul li:last-child, .expertPage .searchForm ul li:nth-last-child(2) {width: 12%;}
 .expertPage .searchForm ul li:last-child {padding-right: 0;}
 .expertPage .card-deck {margin: 0;}
 .valueAddedServices .media {min-height: 100%; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; padding: 27px 10px 27px 20px; margin-bottom: 20px;}
 .valueAddedServices .card-deck .card {flex: 1 0 0%; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; margin:0 0 20px;}
 .valueAddedServices .card-body {padding: 27px 10px 27px 20px; display: flex; position: relative;}
 .valueAddedServices p {color: #757575; font-size: 12px; font-weight: 400; line-height:22px; margin:0;}
 .value-added-services .popup-body {width: 340px; height: 342px; padding: 30px 30px 20px;}
 .value-added-services .popup-body h2 {color: #000000; font-size: 16px; font-weight: 500;}

 #landDetail-popup{ position: relative;}


 /********************* RATING STAR CSS *************************/
 :root {
    --star-size: 25px;
    --star-color: #e0e0e0;
    --star-background: #fc0;
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 15px;
}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/********************* RATING STAR CSS *************************/

 /******************************
 Rating & Reviews Page
 *******************************/
 .rating-reviews {border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; margin-bottom: 20px;}
 .rating-reviews h4 {color: #212121; font-size: 16px; font-weight: 600; border-bottom: 1px solid #eeeeee; padding: 10px 20px;}
 .comments-review {margin: 15px 20px; border-bottom: 1px solid #eeeeee; color: #212121; font-size: 12px; font-weight: 400; line-height: 22px; padding-bottom: 15px;}
 .comments-review div+div {min-width: 33%;}
 .comments-review img {width: 38px; height: 38px; border-radius:50%;}
 .comments-review h5 {color: #212121; font-size: 14px; font-weight: 500; margin: 0; line-height: 22px;}
 .comments-review label {margin-bottom: 0; display: block;}
 .comments-review span {color: #757575; font-size: 12px; font-weight: 400;}
 .comments-review:last-child {border-bottom: 0;}
 .searchForm ul.width-18 li {width: 18%;}
 .searchForm ul.width-18 li:last-child {width: 10%;}
 .comments-review.width-25 div+div {min-width: 24%; padding-right: 10px;}

 /******************************
 Message to Admin Page
 *******************************/
 .message-admin .form-group {position: relative; margin-top: 15px; margin-bottom: 15px;}
 .message-admin .form-group .btn-primary {position: absolute; right:0; bottom: 0; padding: 7px 25px;}
 .message-admin .message-box {margin:15px 20px; border-bottom:1px solid #e0e0e0; padding-bottom: 15px; position: relative;}
 .message-admin .message-box:last-child {border-bottom:0px;}
 .message-admin .message-box div:last-child {width: 25%; text-align:right;}
 .message-admin .message-box img {margin-right: 20px;}
 .message-admin .message-box span {color: #9e9e9e; font-size: 12px; font-weight: 400; line-height: 22px; margin:0;}
 .message-admin .message-box h6 {display: inline-block; font-size: 12px; font-weight: 400; color: #424242; margin:0;}
 .message-admin .message-box p {color:#424242; padding:0; font-size: 12px; margin:0;}
 .message-admin .form-group input.form-control {background-image: url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position: 99% center; background-size: auto;}
 .message-admin .searchForm ul {margin-top: 0;}
 .message-admin .searchForm ul li .form-group {margin-top: 0;margin-bottom: 20px;}
 .message-admin .searchForm .form-group input.form-control {background-image:none;}
 /************** Auto Select Css ********************************/
 .message-admin .form-group .dropdown-menu li {padding-left: 20px;}
 .message-admin .form-group .dropdown-menu li a,
 .message-admin .form-group .dropdown-menu li a strong {font-size: 14px; font-weight: 400; color:#212121;}
 
 
 
/***************************************
Your profile page
****************************************/
.profileSection{ position: relative; padding: 25px 30px; background-color: #ffffff; border: 1px solid #eeeeee;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06); border-radius: 8px; display: flex; flex-wrap: wrap; }
.profileUserImg{ max-width: 105px; flex: 0 0 105px; margin-right: 30px; position: relative; }
.profileUserImg img{ display: block; width: 100%; border-radius: 4px;}

.cameraIcon{ position: absolute; bottom: -12px; left: 50%; transform: translateX(-50%); width:24px; height: 24px; display: block; background-image: url(../images/svg-icons/camera-icon.svg); background-repeat: no-repeat; background-position: center; }
.cameraIcon input{ width:24px; height: 24px; opacity: 0; cursor: pointer;}

.profileUserDetail{ flex: 1; color: #212121; font-size: 12px; }
.profileUserDetail span{color: #757575; }

.editProfileBtn{ max-width: 145px; flex: 0 0 145px; text-align: right;}
.editProfileBtn .btn{ border-radius: 50px; padding: 9px 13px 9px 36px; font-size: 12px; font-weight: 500; background-image: url(../images/svg-icons/edit-icon.svg); background-repeat: no-repeat; background-position: 15px center;}

.delProfileBtn{ max-width: 100px; flex: 0 0 100px; text-align: right;} 
.delProfileBtn a{ display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat; background-position: center; background-image: url(../images/svg-icons/delete-icon.svg);}

/***************************************
Modal popup
****************************************/
.modal-backdrop.show {opacity: .8;}
.modal-content{ border:none; border-radius: 10px;}

.w-400 .modal-dialog {width: 400px; max-width: calc(100% - 50px); margin: 25px auto; } 
a.closeBtn {width: 21px;height: 21px;display: block;background-image: url(../images/svg-icons/close-icon.svg);background-repeat: no-repeat;background-position: center;background-size: 100%;position: absolute;top: 0;
right: -30px; z-index: 1;}

.popupHeading{ margin: 0 0 35px;}
.popupHeading h2{font-size: 18px; font-weight: 600; margin:0 0 5px; text-align: center;} 
.popupForm{ padding: 35px 50px;}  
.popupForm .form-group{ margin-bottom: 35px;} 
.formBtn .btn{ width: 100%; padding: 12px 15px; border-radius: 50px;} 


 /******************************
 Land Listing Page
 *******************************/
.land-listing .valueAddedServices .card-body {padding: 15px 0px 0; margin:0 15px; display: flex; -ms-flex-pack: justify!important; justify-content: space-between!important; -ms-flex-wrap: wrap!important; flex-wrap: wrap!important; min-height: 34vh;}
.land-listing h5 {font-size: 14px; font-weight: 500; padding: 0; margin: 0;}
.land-listing span {color: #757575; font-size: 13px; font-weight: 400; margin-bottom: 30px;}
.activeLand .badge-success { margin-right: 15px; border-radius: 11px; background-color: #64f1a278; color: #30d779; font-size: 11px; font-weight: 600; text-transform: uppercase; padding: 6px 15px;}
.inactiveLand .badge-success { margin-right: 15px; border-radius: 11px; background-color: #ff9a9a78; color: #ee5e5e; font-size: 11px; font-weight: 600; text-transform: uppercase; padding: 6px 15px;}
.land-listing .three-dots:after {line-height: 26px; font-size: 25px; top: 15px; right: 6px; position: absolute;}
.land-listing .threeDotMenu .dropdown a {width:auto; height: auto; float: unset;}
span.landPrice {color: #212121; font-size: 16px; font-weight: 600; text-align: left; display: inline-block; margin: 0;}
span.listingExpiring {color: #ff6161; font-size: 11px; font-weight: 500; text-align: right; display: inline-block; margin: 0;}
h5 img {margin-left: 15px; vertical-align: top; display: inline-block;}
.bottom-border {border-bottom: 1px solid #e0e0e0; flex:1 0 100%; margin: 15px 0;}

.featFacilities {margin-top: 0; margin-bottom: 18px; padding-top: 0; display: flex; flex-wrap: wrap; align-items: center;}
.featFacilities span.featFaTitle {font-size: 12px; margin: 0; margin-right: 10px;}
.featFacilities span.parking-icon {background-image: url(../images/svg-icons/parking-icon.svg);}
.featFacilities span.faci-icon {width: 27px;height: 27px;border-radius: 4px;background-repeat: no-repeat; background-position: center; margin: 0 5px;}
.featFacilities span.noSmooking-icon {background-image: url(../images/svg-icons/no-smoking-icon.svg);}
.featFacilities span.wifi-icon {background-image: url(../images/svg-icons/wifi-icon.svg);}

ul.day-view {padding: 0; margin-top: 0; margin-bottom: 18px; display: flex; -ms-flex-pack: end !important; justify-content: flex-end !important;}
ul.day-view li {padding: 0; margin: 0; line-height: 27px; color: #9e9e9e; font-size: 11px; font-weight: 400;}
ul.day-view li:first-child {list-style: none;}
ul.day-view li:last-child {margin-left:25px;}

.for-sale-land a.btn-primary {width: auto; height: auto; border-radius: 24px; font-weight: 600; margin: 0 0 15px 0; float: left;}
.for-sale-land a.schedule-visit {width: auto; height: auto; float: left; margin: 0; line-height: 40px; font-size: 12px; font-weight: 500;} 
.for-sale-land ul.day-view li {line-height: 40px;}

.sale-land-details {-ms-flex-pack: justify!important; justify-content: space-between!important; -ms-flex-wrap: wrap!important; flex-wrap: wrap!important; display: -ms-flexbox!important; display: flex!important; margin-bottom: 10px; flex: 1 0 100%;}
.sale-land-details div {color: #757575; font-size: 12px; font-weight: 400; line-height: 30px;}
.sale-land-details div span {color: #212121;}
.sale-land-details div img {margin-right: 15px;}
.sale-land-details div:nth-of-type(odd) {flex: 1 0 60% !important;}
.sale-land-details div:nth-of-type(even) {flex: 1 0 40% !important;}
.inprogress, 
.pending {font-weight: 500 !important;}

/********** seeGraph-popup **********/
.seeGraph-popup .popup-body {width: 1139px; height: 472px; padding: 20px;}
.viwe-graph {border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff; padding: 15px;}

/********** Schedule-Visit-popup **********/
.schedule-Visit .popup-body {width: 517px; height: auto; padding: 20px;}
.scheduleVisit {display: -ms-flexbox!important; display: flex!important; -ms-flex-wrap: wrap!important; flex-wrap: wrap!important;}
.scheduleVisit .form-group {margin-bottom: 0;}
.selectExpart {margin-right: 1rem !important; flex:0 0 40%;}
.selectDate {flex:0 0 28%;}
.selectTime {flex:0 0 28%; position: relative;}
.selectTime .gj-unselectable .form-control {border-left: 0 !important;}
.selectTime .gj-timepicker [role=right-icon]{top:0;}
.scheduleVisit-btn {flex: 0 0 100%; text-align: end;}
.scheduleVisit-btn .btn-primary {border-radius: 16px; padding: 6px 30px; margin-top: .7rem;}

/************************************
calender-section
*************************************/
.calender-section {box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06); -radius: 2px; border: 1px solid #eeeeee; background-color: #ffffff;}
#calendar {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  #photoLoader{
      position: absolute;
      display: none;
  }
  
  .reportNavBar{ display: flex; flex-direction: row-reverse; align-items: center;}
.genReportLink{ margin-left: auto; padding-bottom: 3px;}
.genReportLink a{ color: #42bbac; font-size: 12px; font-weight: 500; display: inline-block; padding-left: 25px; background-image: url(../images/svg-icons/plus-icon.svg); background-repeat: no-repeat; background-position: left center;}

.reportsListing{ padding: 0;}
.reportsListing .col-md-6{ margin-bottom: 20px;}

.reportArticle{ display: flex; padding: 20px; border-radius: 8px; border: 1px solid #eeeeee; background-color: #ffffff;}
.reportArticle .repArtImg{ max-width: 124px; flex: 0 0 124px; margin-right: 20px;}
.repArtContent{ flex: 1; position: relative; color: #757575; font-size: 12px; }
a.moreOptLink{ width: 16px; height: 16px; display: block; position: absolute; top: 0; right: 0; background-image: url(../images/svg-icons/moreOpt-icon.svg); background-repeat: no-repeat; background-position: center; z-index: 1;}
.repArtImg img{ display: block; width: 100%; border:#eeeeee solid 1px; border-radius: 4px;} 

.repArtContent h2{font-size: 14px; font-weight: 500; margin: 0 0 5px; padding-right: 25px;}
.repArtContent h3{font-size: 12px; font-weight: 400;  margin: 0 0 5px;}
.repArtContent p{ margin-bottom: 5px; line-height: 20px;}
.repArtContent p.repOneLine{ padding-left: 25px; background-repeat: no-repeat; background-position: left center; line-height: 23px;}
.repArtContent p.repTitleIcon{ background-image: url(../images/svg-icons/rep-icon.svg);}
.repArtContent p.repLocIcon{ background-image: url(../images/svg-icons/loc-icon.svg);}

.repArtAdditional{ padding-top: 10px; margin-top: 10px; border-top: 1px solid #eeeeee;}
p.ArtAuthor span{ color: #212121; }
p.timeDetail{color: #9e9e9e; margin: 0;}
.activeLand .badge-success {
    margin-right: 25px;
    border-radius: 11px;
    background-color: #64f1a278;
    color: #30d779;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 15px;
}
.activeLand .badge-danger{
    margin-right: 25px;
    border-radius: 11px;
    background-color: #ff9a9a78;
    color: #ee5e5e;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 15px;
}
.activeLand .badge-warning{
    margin-right: 25px;
    border-radius: 11px;
    background-color: #f9ecc3;
    color: #856404;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 15px;
    border-color: #ffeeba;
}