.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

.multisteps-form__progress div:first-child {padding-left: 0;}

.multisteps-form__progress-btn span.noCount {width: 62px; height: 62px; border-radius: 8px; border: 1px solid #e0e0e0; color: #e0e0e0; font-size: 32px; font-weight: 600; font-style: normal; letter-spacing: normal; line-height: 64px; text-align: center; display: inline-grid; margin-right: 40px; float: left; padding:0; position: relative; background-color: #ffffff;}
.multisteps-form__progress-btn span {color: #bdbdbd; font-size: 13px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; display: inline-grid; width: 50%; padding-top: 10px; text-indent: unset;}
.multisteps-form__progress-btn h3 {color: #bdbdbd; font-size: 16px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: normal; text-align: left; display: inline-grid; width: 50%; margin: 0;}

.multisteps-form__progress-btn.js-active span.noCount {color: #42bbac; border-color:  #42bbac;}
.multisteps-form__progress-btn.js-active span {color: #757575;}
.multisteps-form__progress-btn.js-active h3 {color: #424242;}

.multisteps-form__progress-btn span.noCount::before {content: ""; width: 53px; height: 1px; background-color: #e0e0e0; position: absolute; top: 50%; left:-65%; z-index: -1;}
.multisteps-form__progress-btn span.noCount::after {content: ""; width: 53px; height: 1px; background-color: #e0e0e0; position: absolute; top: 50%; left:65%; z-index: -1;}
.multisteps-form__progress-btn.js-active span.noCount::before,
.multisteps-form__progress-btn.js-active span.noCount::after {background-color: #42bbac;}

.multisteps-form__progress div:first-child span.noCount::before {display: none;}

.multisteps-form__title {color: #212121; font-size: 20px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: 60px; text-align: center;}
  

.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 0px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: unset;
    background-color: transparent;
    outline: none !important;
    cursor: default;
    padding-left: 20px;
  }
  @media (min-width: 500px) {
    .multisteps-form__progress-btn {
      text-indent: 0;
    }
  }
  .multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
    display: none;
  }
  .multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
    display: none;
  }
  .multisteps-form__progress-btn:first-child:after {
    display: none;
  }
  .multisteps-form__progress-btn.js-active {
    color: #007bff;
  }
  .multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
  }
  
  .multisteps-form__form {
    position: relative;
  }
  
  .multisteps-form__panel {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;*/
    opacity: 0;
    /* visibility: hidden; */
    padding-top: 35px;
    display: none;
  }
  .multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    /* visibility: visible; */
    display: block;
  }
  .multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
  }
  .multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
  }
  .multisteps-form__panel[data-animation="slideVert"] {
    top: 30px;
  }
  .multisteps-form__panel[data-animation="slideVert"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    top: 0;
  }
  .multisteps-form__panel[data-animation="fadeIn"].js-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }
  .multisteps-form__panel[data-animation="scaleIn"] {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .multisteps-form__panel[data-animation="scaleIn"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

.multisteps-form__progress { display: flex; justify-content: center;}
.multisteps-form__form {box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); height: auto!important; border-radius: 10px; border: 1px solid #f5f5f5; background-color: #ffffff; margin:50px 0 60px;}

  @media only screen and (max-width : 767px) {
    .multisteps-form__progress-btn {text-align: center; padding-left: 0;}
    .multisteps-form__progress-btn span.noCount {font-size: 22px; float: unset; text-align: center; margin-right: 0; padding-left: 0;}
    .multisteps-form__progress-btn span,
    .multisteps-form__progress-btn h3 {width:100%; text-align: center;}
    .multisteps-form__form {margin: 20px 0;}
    .multisteps-form__progress-btn span.noCount::after {display: none;}
    .multisteps-form__progress-btn span.noCount::before {width: 300%;left: -230%;}
  }