/*Responsive css coding for ipad, iphone, tabs, smart phones*/
@media only screen and (max-width : 1350px) {  
    .minHeight_100{ min-height: inherit;}
    .locationTooltip{ transform: translateX(-50%); left: 50%;}
    .locationTooltip::after{transform: translateX(-50%); left: 50%;} 

    /*Home banner*/
    .homeBanner{ height:auto; display: block; align-items: inherit; margin: 0 0 80px;}
    #bannerSlider{ height:auto;}
    #bannerSlider.owl-carousel .item{ height:auto;}
    #bannerSlider.owl-carousel .item > img{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 0;}
    #bannerSlider.owl-carousel .item .container{ position: relative; transform: none; left: inherit; top: inherit;  padding: 100px 20px 40px; padding-bottom: calc(40px + 120px); min-height: 600px; background-image: url(../images/m-banner-gradient.png); background-repeat: repeat-x; background-position: center bottom;}
    
    .bannerContent{ text-align: center; padding: 0px 15px; margin: 0 auto;}
    .bannerContent h2{ font-size: 24px; line-height: 39px; margin: 0 0 10px;}
    .bannerContent p{font-size: 14px; line-height: 28px;}
    .bannerContent .banKnowBtn .btn{  min-width: 140px; font-size: 12px; padding: 12px;}

    #bannerThumbnails{ top: inherit; bottom: -80px; transform: inherit; right: inherit; width: 100%;}
    /*#bannerThumbnails .firstActiveItem.active { display:inherit;}*/
    #bannerThumbnails .owl-stage-outer{ padding: 0 20px;}
    #bannerThumbnails.owl-carousel .owl-dots,
    #bannerThumbnails.owl-carousel .owl-nav{ display: none;}
    #bannerThumbnails.owl-carousel .owl-nav.disabled{ display: none;}
    .thumbBanTiles{ width: 195px; height: 225px; border-radius: 15px;}

    /*Buy land*/
    .listSorting label{ display: none;}
    .listSorting select.form-control{ padding: 5px; height: auto!important;}
    /*.m_filterBtn{ display: block; }*/
    .filterSection a.filterClose{ display: block;}

    .filterSection.adjustHeaderSpace{ margin: 0;}
    .filterSection { position: fixed; top: 0; right: -100%; background-color: #fff; z-index: 21; width: 100%; box-shadow: 0 0 10px rgba(0,0,0,0.2); padding: 45px 20px 20px; max-height: 100vh; overflow-y: auto; transition: all ease 0.4s; height: 100vh; overflow-y: auto;}
    .filterSection.show { right: 0; }
    .filterSection .container{ padding: 0;}
    .filterSection .d-flex{ flex-direction: row; flex-wrap: wrap; position: relative; padding-top: 10px;}
    .filterFields, .filterFields.w-220, .filterRangeSlider{ padding: 0; border: none; max-width: 100%; flex: 0 0 100%; margin-bottom: 20px;}
    .filterRangeSlider{ margin-top: 20px;}
    .filterFields .form-control, 
    .filterFields select.form-control:not([size]):not([multiple]){ border-bottom:#dfdfdf solid 1px; padding:14px 10px 14px 45px; background-position: 15px center; font-size: 13px; border-radius: 5px; }
    .filterBtns{ flex-direction: column; margin-left:inherit; max-width: 100%; flex: 0 0 100%; justify-content: center;}
    .filterBtns .btn{ width:100%; max-width: 400px; margin-bottom: 10px;}

    .listingRightSide{ padding: 65px 0 20px;}
    .mapArea{ top:44px;}
    
    /*Property detail popup*/
    .popup-body { width: calc(100% - 80px);}
    #landDetail-popup button.mfp-close{ right:10px;}
    .contactAgentBtn .btn { padding: 12px 15px; font-size: 12px;}

    /*Sell your land*/
    .listingAttributes{ padding: 100px 0;}

    /*title page, feasibility*/
    .landTitleSearchBanner{ background-position: 124% bottom;}

    /*Admin Login*/
    .leftloginBanner{ padding:30px;}
    .userSignBox_scrollBox{ padding: 0 30px;}
    .socialLoginBtn a{ padding: 7px 15px 7px 45px;}
}    


@media only screen and (max-width : 991px) {  
    /*input and fields*/
    .floating-label{ font-size: 13px;}

    /*Header*/
    .navigation, .headerUserBtn{ display: none;}
    .hamburgerMenu{ margin-left: auto;}
    .buyLandSection{ margin-top:42px;}
    .adjustHeaderSpace{ margin-top: 42px;}

    header.header{ padding: 10px 0;}
    .logo img{ width: 33px;}
    .logo a{ font-size: 13px;}
    .hamburgerMenu .dropdown-menu{  min-width: inherit; width: 280px; padding: 25px; right: 0; left: inherit!important; transform: inherit!important; top: 0px!important; height: 100vh; overflow-y: auto; border-radius: 0; margin-top: 0!important;}
    .hamburgerMenu .dropdown-menu ul.mainMenuMobile{ display: block;} 
    .hamburgerMenu .dropdown-menu ul li a{ font-size: 14px; padding: 10px 0;}
    .hamburgerMenu .dropdown-menu ul li.desktopLogout{ display: none;}
    .hamburgerMenu .dropdown-menu ul li a.subMenuDropdownBtn::after{ right: 0;}
    .hamburgerMenu .dropdown-menu ul li .subMenuDropdown{ padding: 0px 0px 5px;}
    .mobileNavCloseBtn, .mobileLoginBtn{ display: block;}

    .loginUserInfo{ margin: 0 -25px; padding: 10px 25px 25px;}

    /*Home page*/
    .bannerContent span.banTopLine{ height: 2px;}
    .thumbContent p{ font-size: 11px;}

    .home_featureSection{ padding: 40px 0;}
    .home_valueSection { padding: 40px 0;}
    .home_contactSection { padding: 40px 0;}

    .featureLocationMap img{ height:250px; object-fit: cover; border-radius: 15px;}
    .homeSecTitle{ margin: 0 0 10px;}
    .homeSecTitle h2{ font-size: 18px;}
    .featureViewBtn a.btn { font-size: 11px; min-width: 85px; padding: 4px 8px;}
    .valueServiceSummary{ font-size: 13px; line-height: 23px;} 
    .contactTitle h2{ font-size: 18px; margin: 0 0 5px;}
    .contactTitle h3{ font-size: 14px; line-height: 23px;}
    .contactSubmitBtn .btn{ font-size: 13px; padding: 10px;}

    .featureArticle .featureArtCont{ font-size: 13px;}
    .featureArticle .featureArtCont h3{ font-size: 14px;}

    
    /*Service popup*/
    #serviceModal .modal-dialog{ max-width: calc(100% - 32px);  margin: 25px auto; }
    a.closeBtn{ right: 20px; top: 20px;}
    .popupFormPic{ height: 200px; border-radius: 8px 8px 0 0;}

    /*About us*/    
    .innerPageBanner {min-height: inherit;}
    .cliensSaying.owl-carousel{ margin-top: 0;}
    .cliensSaying.owl-carousel .owl-nav button.owl-prev {left: 174px; top: 180px;}
    .cliensSaying.owl-carousel .owl-nav button.owl-next {right: 174px; top: 180px;}
    .cliensSaying.owl-carousel article {margin-top:33px;}
    .cliensSaying.owl-carousel article::after {bottom: 87px;}
    .cliensSaying.owl-carousel article p {padding: 0 10px 15px;}
    .clientdetails {padding: 18px 10px 0;}

    /*Land Title Search*/ 
    .landTitleSearchBanner{ background-size:700px auto; background-position: 130% bottom;}
    .landBannerImg{ width: 90%;}
    .quoteReportSection{ padding: 50px 0 50px;}
    .subSecHeading{ margin-bottom: 20px;}
    .subSecHeading h2{ font-size: 18px; line-height: 28px; margin-bottom: 5px;} 
    .landReportFormBox{ padding: 25px;}   
    .landRepBottomBox{ padding: 25px;}

    /*buy Land*/
    .listingRightSide{ padding:20px 0;}
    .switchBtnMobile{ display: flex; justify-content: center;}
    .switchBtnMobile a{ display: none;}
    .switchBtnMobile a.showViewBtn{ display: block;}
    .mapArea{ display: none; position: relative; z-index: 1; top: inherit;  bottom: inherit; width: 100%; left: inherit; z-index: 1; height: calc(100vh - 155px);}

    /*No property found*/
    .noPropertySection{ margin: 30px auto 60px; padding-top: 115px; background-size: 200px auto;}
    .noPropertySection h2{ font-size: 16px;}
    .noPropertySection p{ font-size: 13px; line-height: 24px;}
    
    /*Property detail popup*/
    .detailPopheader{ display: block;}
    #landDetail-popup { position: fixed; top:0; left: 0; right: 0; height: 100vh; overflow-y: auto;}
    .popup-body { width: 100%; border-radius: 0;}
    #landDetail-popup button.mfp-close{ top:13px; right:20px; background-image: url(../images/svg-icons/cross-icon.svg); width:16px; height:16px;}
    .popup-body{ height: auto; margin: 0;}  
    .descriptionArea{ height: calc(100vh - 90px);}
    .loanPending { min-height:100vh}

    .contactAgentformSection { width:100%; border:none; background-color:rgba(0,0,0,0.8); padding: 30px; height:100%; right: inherit; display: none;}
    .contactAgentformSection_mBox{ background-color: #ffffff; border-radius: 10px; max-width: 340px; margin: 0 auto;}
    .contactAgentformSection h3{ padding: 15px 30px;}
    .contactAgentformSection h3 a.agentCloseBtn{ left: inherit; top: 5px; right: 5px; visibility: visible; opacity: 1; border:none;}
    .contactAgentForm{ padding: 30px 30px;}
    
    #landDetail-popup.show_contactForm .popup-body .prop_DetailMain{ transform: translateX(0);}
    .show_contactForm .contactAgentformSection { display: block;}

    /*Book your Appointment*/  
    .formPageHeading{ margin-bottom: 50px;}
    .formPageHeading h1{font-size: 24px; line-height: 34px; margin: 0 0 10px;}   
    .form-filds {padding-left: 50px !important; padding-right: 50px !important;}
    .multisteps-form__content .button-row {padding: 25px 50px;}

    /*Land report Analysis*/ 
    .form-filds {padding-left: 50px !important; padding-right: 50px !important;}
    .multisteps-form__progress-btn {padding-left: 0 !important;}
    .multisteps-form__content .button-row {padding: 25px 50px;}

    /*Sell your land form*/     
    .form-filds {padding-left: 50px !important; padding-right: 50px !important;}
    .multisteps-form__progress-btn {padding-left: 0 !important;}
    .multisteps-form__content .button-row {padding: 25px 50px;}

    /*Meet the expert*/    
    .youMeetExpertSection{ padding:50px 0 0;}
    .youMeetExpertSection_bg{ padding: 20px 0;}
    .youMeetExpertSection h2{  font-size: 18px; line-height: 28px; margin-bottom: 20px;} 
    .youMeetExpertSection a{  height: 130px; font-size: 16px; line-height: 25px; padding-right: 30px;}
    .youMeetExpertSection a span { font-size: 50px;}
    .meetOurExpertSection{ padding:50px 0;}
    .meetOurExpertSection h2{ font-size: 18px; line-height: 28px;}
    .meetOurExpertSection p{ font-size: 14px; line-height: 24px;}
    .custom-meet-radio{ width:33.333%;}

    /*Sell your land*/    
    .sellYourLandBanner { padding: 130px 0 70px;}
    .sellYourLandBanner h1{ font-size: 32px; line-height: 40px;}
    .sellYourLandBanner p {font-size: 14px; line-height: 24px;}
    .listingAttributes {background-size: 100%; padding: 50px 0;}
    .listingAttributes h2{ font-size: 18px; line-height: 36px;}
    .listingAttributes p{font-size: 14px; line-height: 28px;}
    .subSecHeading p{font-size: 14px; line-height: 28px; }

    .signupLeftContent{ padding: 0;}
    .signupLeftContent h1{font-size: 53px;}
    .signupLeftContent h2{font-size: 36px;}

}

@media only screen and (max-width : 767px) { 
    /*Splash*/
    .splashContent .splashlogo{ width:178px;}
    .splashContent h2 { font-size: 16px;}

    /*Footer*/
    .footerLogo{ margin:0 auto 15px;}
    .footerSocial{ text-align: center; margin-top: 20px;}
    .footerSocial a{ margin:0 5px;}
    a.meetExpertBtn{ width: 60px; height: 60px; right: 10px; bottom: 10px;}

    /*Home page*/
    .valueAddedDetail{ margin-bottom: 10px;} 
    .valueArticlesCarousel.owl-carousel{ padding-top:0px; padding-bottom: 25px;}
    .valueArticlesCarousel.owl-carousel .owl-nav{display: none;}
    .progressBarMain{ left: 0; top: inherit; bottom: 0; width: 100%;}
    article.valArticle{ padding: 0;}

    .contactTitle{ margin-bottom: 30px;}
    .contactForm{ max-width: inherit; margin-bottom: 30px;}
    .contactSubmitBtn, .contAdditionBtns, .viewLgMapBtn{ text-align: left;}
    .locationTooltipBox{ width: inherit; max-width: inherit; margin: 0px 0 20px;}
    .locationTooltipBox a.locationIcon{ display: none;}
    .locationTooltip{ visibility: visible; opacity: 1; position: inherit; bottom: inherit; transform: inherit; left: inherit; width:100%;  background-color: transparent; padding: 0; font-size: 11px;}
    .locationTooltip h3{ font-size: 12px;}
    .locationTooltip::after{ display: none;}

    .viewLgMapBtn a{ margin: 0; font-size: 12px; border: 1px solid #8e8e8e; padding: 8px 20px; background-color: #191919;}
    .contAdditionBtns{ margin-bottom: 20px; font-size: 12px;}
    .contAdditionBtns a.btn{ margin: 0; margin-right: 12px; padding: 3px 0 3px 34px; border: none;  border-radius: 0; background-position: 0 center;}

    .locationTooltipBox{ order: 1;}
    .contAdditionBtns{ order: 2;}
    .viewLgMapBtn{ order: 3;}
    
    /*Service popup*/
    .popupForm { padding: 30px; }
    .form-group { margin-bottom: 30px; }
    .popupHeading{ margin: 0 0 25px;}
    
    /*Signup page*/
    .signup-page{ padding-top: 80px; padding-bottom: 30px;}
    .signupLeftContent{ text-align: center; margin-bottom: 30px;}
    .signupLeftContent .headingTopLine{ height: 2px;}
    .signupLeftContent h1{ font-size: 32px; margin: 0 0 5px;}
    .signupLeftContent h2{ font-size: 24px; line-height: 28px;}
    .userSignBox{ padding: 30px;}
    .loginPageBox{ padding: 0;}
    .loginPageBox .tab-content{ padding: 30px;}
    .userSignBox_scrollBox{ max-height: inherit; height: auto; overflow:inherit; padding: 0;}
    .userSignBox_scrollBox.signupBox{ height: auto;}
    .socialLoginBtn a {font-size: 10px; line-height: 20px; padding: 7px 15px 7px 37px; margin: 0 3px; background-position: 5px center; }

    /*About us*/  
    .innerPageBanner h1:before{ height: 2px; top:-15px;}  
    .innerPageBanner h1 {font-size: 24px; line-height: normal;}
    .innerPageBanner p {font-size: 14px; line-height:28px;}
    .innerPageBanner a.btn { font-size: 12px; padding: 12px 20px; min-width: 160px;}
    .aboutBanner {padding-bottom: 100px; min-height: 100vh; align-items: flex-start; padding: 170px 0 50px; background-size: 100%;}
    .services {padding-top: 50px; padding-bottom: 50px;}
    .services h2 {font-size: 20px; margin-bottom: 10px;}
    .services p {font-size: 14px; line-height: 25px;}
    .partnersCompanies.owl-carousel .owl-nav,
    .cliensSaying.owl-carousel .owl-nav {display: none !important;}
    .cliensSaying.owl-carousel .owl-item.active.center {transform: scale(.94);}

    .sellYourLandBanner h2{font-size: 16px; margin-bottom: 30px;}

    /*Buy Listing*/
    .listingProducts{ padding-bottom: 70px;}
    .listingHeader h1{ font-size: 16px;}

    /*Detail popup*/
    .contactAgentBtn{ text-align: left; margin-top: 10px;}
    .contactAgentBtn .btn{ padding: 12px 20px;}

    /*Book your Appointment*/     
    .bookYourAppointmentForm .container {padding-left: 15px; padding-right: 15px;}
    .form-filds {padding-left: 15px !important; padding-right: 15px !important;}
    .multisteps-form__content .button-row {padding: 25px 15px;}
    .multisteps-form__content .button-row h4 {font-size: 20px; width: 100%; text-align: center;}
    .multisteps-form__content .button-row .btn.btn-primary {margin: 0 auto; display: block; float: unset; position: relative; top: 7px;}

    /*Land report Analysis*/     
    .bookYourAppointmentForm .container {padding-left: 15px; padding-right: 15px;}
    .form-filds {padding-left: 15px !important; padding-right: 15px !important;}
    .whoYouAre .custom-control.custom-radio {width: 100%;}
    .multisteps-form__form {width: 100%;}
    .multisteps-form__content .button-row {padding: 25px 15px;}
    .multisteps-form__content .button-row h4 {font-size: 20px; width: 100%; text-align: center;}
    .multisteps-form__content.whoYouAre .button-row {padding: 0px 0px 60px;}
    .multisteps-form__content .button-row .btn.btn-primary {margin: 0 auto; display: block; float: unset; position: relative; top: 7px;}
    .multisteps-form__progress-btn span.noCount::before {width: 200% !important; left: -130% !important;}
    .selectRadio .custom-control.custom-radio {width: auto; margin-right: 5%;}

    /*Sell your land form*/ 
    .bookYourAppointmentForm .container {padding-left: 15px; padding-right: 15px;}
    .form-filds {padding-left: 15px !important; padding-right: 15px !important;}
    .whoYouAre .custom-control.custom-radio {width: 100%;}
    .multisteps-form__form {width: 100%;}
    .multisteps-form__content .button-row {padding: 25px 15px;}
    .multisteps-form__content .button-row h4 {font-size: 20px; width: 100%; text-align: center;}
    .multisteps-form__content.whoYouAre .button-row {padding: 0px 0px 60px;}
    .multisteps-form__content .button-row .btn.btn-primary {margin: 0 auto; display: block; float: unset; position: relative; top: 7px;}
    .multisteps-form__progress-btn span.noCount::before {width: 200% !important; left: -130% !important;}
    .selectRadio .custom-control.custom-radio {width: auto; margin-right: 5%;}

    /*Meet the Expert*/
    .meetTheExpertBanner {background-position: center bottom, left bottom; background-size:auto 260px, auto; min-height: 100vh; padding: 120px 0 240px; align-items: flex-start;}
    .custom-meet-radio{ width:50%;}
    .youMeetExpertSection_bg {background-size: 100%; padding-top: 170px;}
    .youMeetExpertSection a {height: auto; margin-bottom: 0;}
    .youMeetExpertSection a span {line-height: 50px;}

    /*Sell your land*/
    .sellYourLandBanner { padding: 70px 0 0; background-size: 230px; min-height: 100vh; align-items: flex-start;}  
    .listingAttributes { background-image: url(../images/attributes-bg-img-m.png); padding-bottom: 467px; background-size: cover; background-position: center bottom;}  
    .priceForYouSection{ padding: 50px 0;}

    /* land Title Search Banner */
    .landTitleSearchBanner {min-height: 100vh; padding: 120px 0 50px; align-items: flex-start; background-position: bottom; background-size:auto 380px;} 
    .mobileBanImageSpace{ height:300px;}

    /*Admin Login screen*/
    .adminLoginWrapper{ display: block;}
    .leftloginBanner, .rightadminLoginSection{ max-width: inherit; flex: inherit; display: block;}
    .leftloginBanner{ text-align: center; padding-top:70px; padding-bottom:50px;}
    .adminLoginTitle h2{ font-size: 24px; line-height: 38px;}
    .adminLoginTitle h2 strong{ font-size: 24px;}
    .adminLoginTitle h2::before{ left: 50%; transform: translateX(-50%); top:-20px;}
    .rightadminLoginSection{ padding: 40px 0;}

    .backBtn_forgot{ left:25px; top:15px;}
    .backBtn_forgot a{ margin-right:10px;}
    .backBtn_forgot span{ font-size: 12px;}

    /*Service popup*/
    #serviceModal .modal-dialog{ max-width: calc(100% - 32px);  margin: 25px auto; }
    a.closeBtn{ right: 20px; top: 20px;}
    .popupFormPic{ height: 200px; border-radius: 8px 8px 0 0;}
}

@media only screen and (max-width : 640px) {   
}


@media only screen and (max-width : 575px) { 
    .contactSubmitBtn .btn{ min-width: inherit; width: 100%;} 
    .formBtn .btn{ max-width: inherit; width: 100%;} 
    .landReportFormBox label.form-label{ font-size: 14px; line-height: 28px;}
    .reportTotalVal{ text-align: center; margin-bottom: 15px;}
    .landRepBottomBox .text-right{ text-align: center!important;}    
    .custom-meet-radio{ width:100%;}

    /*Footer*/
    .footerLinks{ padding-bottom: 0; border: none;}
    .footerNav{ display: flex; text-align: left;}
    .footerNav ul{ max-width:50%; flex: 0 0 50%; display: block; justify-content: inherit;}
    .footerNav ul li{ margin: 0 0 15px;}
    
    .footerSocial { margin-top: 10px; padding: 16px 0; display: flex; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;}
    .footerSocial h3 {margin: 0 10px 0 0;}
    .footerLogo{ width: 35px; margin: 0 auto 5px;}

}

@media only screen and (max-width : 480px) { 
    .listingAttributes{ padding-bottom: 357px;}
}

@media only screen and (max-width : 320px) {

}