@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{ 
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-size: 14px; 
    font-weight: 400;
} 

h1, h2, h3, h4, h5, h6{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #212121;
    line-height: normal;
}

input, select, textarea, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
a{color: #42bbac; text-decoration: none; transition: all ease 0.4s;}
a:hover{ color: #1aa28e; text-decoration: none;}
a:focus{ outline:none; box-shadow:none;}
strong{font-weight: 700;}

.font_12{ font-size: 12px;} 
.error-span{ font-size: 12px;}

.container { max-width: 1680px; padding: 0 20px;}

/*Btn-primary*/
.btn{font-size: 13px; padding: 10px 20px; font-weight: 400; transition: all ease 0.4s; border-radius: 2px;  }
.btn:focus{outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}

.btn-primary{ background-color: #42bbac; border-color:#42bbac; }
.btn-primary:hover, .btn-primary:focus{ background-color: #1aa28e; border-color: #1aa28e; outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{ background-color: #42bbac;  border-color: #42bbac; outline: none; box-shadow: none!important; -moz-box-shadow: none; -webkit-box-shadow: none;}

.btn-primary-bordered{ border:#42bbac solid 1px; color:#42bbac; background-color: transparent;}
.btn-primary-bordered:hover, .btn-primary-bordered:focus{ background-color:#42bbac; color:#ffffff;}

/*Primary Btn*/
.btn-default{border: 1px solid #eeeeee; background-color: #ffffff; color: #212121;}

/*Form fields*/
.form-group{ margin-bottom: 50px;} 

/* label floating style */
.floating-field{ position: relative;}
.floating-label { position: absolute; top:10px; left: 0; user-select: none; z-index: 1; display: block; margin: 0; color:#212121; font-size: 14px; transition: all ease 0.4s;} 
.floating-field .form-control{ color: #000000; padding: 10px 0; font-size: 14px; border:none; border-bottom: 1px solid #e0e0e0;  background-color: transparent;  border-radius: 0;  transition: all ease 0.4s;}
.floating-field input.form-control::placeholder {color: transparent;} 
.floating-field input.form-control:focus,
.floating-field input.form-control:not(:placeholder-shown){box-shadow:none; outline: none;border-color: #999999;}
.floating-field input.form-control:focus + .floating-label,
.floating-field input.form-control:not(:placeholder-shown) + .floating-label{transform: translate(0, -22px);   font-size: 12px;  opacity: 0.7;} 
.floating-field input.form-control:invalid{ border-color: rgba(255, 71, 87, .3);} 

.floating-field textarea.form-control{ resize: none;}
.floating-field textarea.form-control::placeholder {color: transparent;} 
.floating-field textarea.form-control:focus,
.floating-field textarea.form-control:not(:placeholder-shown){box-shadow:none; outline: none;border-color: #999999;}
.floating-field textarea.form-control:focus + .floating-label,
.floating-field textarea.form-control:not(:placeholder-shown) + .floating-label{transform: translate(0, -22px);   font-size: 12px;  opacity: 0.7;} 
.floating-field textarea.form-control:invalid{ border-color: rgba(255, 71, 87, .3);} 

/*Dropdown Field*/
.floating-field select.form-control:focus{box-shadow:none; outline: none;border-color: #999999;}
.floating-field select.form-control:focus~label,
.floating-field select.form-control:not([value=""]):valid~label { transform: translate(0, -22px); font-size: 12px;  opacity: 0.7;}
.floating-field select.form-control:not([size]):not([multiple]){height:auto}

span.fieldFormat{color: #757575; font-size: 14px; font-weight: 400; position: absolute; top:12px; right:0;}

/*Mobile Field*/
.mobile-field .floating-label{left: 47px;}
.mobile-field.floating-field .form-control{ padding-left: 47px;}
.mobile-field .mobileCode {color: #9e9e9e; border-right: 1px solid #e0e0e0; font-size: 14px; display: block; padding-right: 10px; position: absolute; top: 10px; left: 0; }

/*************************************** 
Custom Checkbox
****************************************/ 
.customCheckbox{ position: relative;}
.customCheckbox input{ position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;}
.customCheckbox label{ display: inline-block; margin: 0; cursor: pointer; position: relative; padding-left:24px; color: #757575; font-size: 14px;}
.customCheckbox label::before{ width:16px; height:16px; display: block; content:''; border:#9e9e9e solid 1px; border-radius: 2px; position: absolute; top:3px; left: 0;}
.customCheckbox input:checked ~ label::before{ border-color: #42bbac; background-color: #42bbac; background-image: url(../images/svg-icons/checked-icon.svg); background-repeat: no-repeat; background-position: center;}


/***************************************
input-group has-float-label
****************************************/
.custom-control-input:focus~.custom-control-label::before {box-shadow: unset;}
.custom-control-label::before {background-color: #ffffff; border: 1px solid #9e9e9e; border-radius: 2px !important;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {background-color: #42bbac; border-color: #42bbac;}
.input-group .has-float-label {display: table-cell; width: 100%;}
.form-control {border:0; border-bottom: 1px solid #bdbdbd; border-radius: 0 !important; padding: .375rem .75rem .375rem 0; font-size: 14px;height: 40px;}
.form-control:focus {box-shadow: none; border-color: #bdbdbd;}
.has-float-label .form-control:placeholder-shown:not(:focus)+ label {font-size: 14px; opacity: 1; top: 0.8em; left: 0; color: #212121;}
.has-float-label label {left: 0; font-size: 12px; color: #212121; top: -.8em;}
.custom-control {padding-left: 2rem;}
.custom-control-label {font-size: 12px; font-weight: 400; color: #757575;}
.custom-control-label span {color: #42bbac;}

.has-float-label .select-label~label {top:0.9em; font-size:14px; color:#212121;}
.has-float-label .select-label:not([value=""]):valid~label {top:-0.5em; font-size: 12px;}

/*Splash Screen*/
.splashscreen{ display:none; background-image:url(../images/splash-bg.jpg);   background-size: cover; background-position: center bottom; background-repeat: no-repeat; position: fixed; top:0; bottom:0; left:0;  width:100%; background-color: #000; height:100%; z-index: 1000; align-items: center; justify-content: center; } 
.splashscreen.show {display:flex;}
.splashContent{ max-width:500px; margin: 0 auto; padding:30px; text-align: center;}
.splashContent .splashlogo{ width:254px; margin:0 auto; position: relative; top:-30px; opacity:0;  animation: splashLogo_anim 0.8s ease-out forwards; }
.splashContent .splashlogo img{width:100%;}
.splashLine { opacity:0; width:0; height:2px; background-color:transparent; opacity: 0; display:inline-block; margin: 20px 0 10px; animation: splashLine_anim 0.5s ease-out 0.5s forwards;}
.splashContent h2 {color: #ffffff; font-size: 22px; font-weight: 500; margin: 0; position: relative; bottom:-20px; opacity:0; animation: splashTitle_anim 1s ease-out 0.5s forwards; }

@keyframes splashLogo_anim {
    0% { opacity:0; top:-30px; }
    100% { opacity:1; top:0px; }
}
@keyframes splashTitle_anim {
    0% { opacity:0; bottom:-20px; }
    100% { opacity:1; bottom:0px;}
}
@keyframes splashLine_anim {
    0% { opacity:0; width:0; background-color:transparent; }
    100% { opacity:1; width:104px; background-color:#42bbac;}
}

/*Pagination*/ 
ul.pagination { display: flex; padding:0; margin: 0; overflow-x: auto; flex-wrap: wrap; justify-content: center;  }
ul.pagination li.page-item span.page-link{ padding: 0; margin: 0; background-color: transparent; border-radius: 0; border: none;  font-size: 12px;  line-height: 24px;}
ul.pagination li.page-item{ list-style: none; margin: 0 5px;}
ul.pagination li.page-item a{ width:24px; height:24px; text-align: center; padding: 0; background-color: transparent; border: none; line-height: 24px; color: #212121; font-size: 12px; border-radius: 100%; display: block; }
ul.pagination li.page-item a:focus{ box-shadow: none; outline: none;}
ul.pagination li.page-item a:hover{ background-color: #eeeeee;}
ul.pagination li.page-item.active span { margin: 0; border: none;  padding: 0; background-color: #42bbac; color:#ffffff; text-align: center; border-radius: 100%; display: block;  width:24px; height:24px; line-height: 24px; font-size: 12px; } 
ul.pagination li.page-item a.pag-ctr-btn {width:inherit; border-radius: 2px; padding: 0px 8px;}


/***************************************
GJ Date Time Picker
****************************************/
.form-filds {padding-left: 70px !important; padding-right: 70px !important;}
.multisteps-form__content .form-group {margin-bottom: 30px;}
.gj-unselectable .form-control {border: none !important; border-bottom: 1px solid #bdbdbd !important; border-radius: 0 !important; width: 100% !important; height: 40px; font-family: 'Poppins', sans-serif !important; color: #212121 !important; padding: .375rem .75rem .375rem 0rem;}
.gj-timepicker [role=right-icon] {cursor: pointer; position: absolute; width: 100%; height: 37px; z-index: 4;}
.gj-timepicker-bootstrap [role=right-icon] button {width: 100%; position: relative; border: 0 !important;}
.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {background-color: #6c757d00;}
.gj-timepicker-bootstrap [role=right-icon] button .gj-icon, 
.gj-timepicker-bootstrap [role=right-icon] button .material-icons {left:auto; background-image: url(../images/svg-icons/clock-icon.svg); background-position:right 0; background-repeat: no-repeat; background-size: auto; color: transparent; top: .4em !important; opacity: 1 !important; right: 10px; width: 20px;}

.has-float-label label[for=timepicker],
.has-float-label label[for=datepicker] {font-size: 14px; opacity: 1; top: 1em; left: 0; color: #212121;}

.has-float-label label[for=timepicker].active,
.has-float-label label[for=datepicker].active {font-size: 12px; opacity: 1; top: -.8em;}

.gj-datepicker-md [role=right-icon] {background-image: url(../images/svg-icons/calender-icon.svg); background-position:right 0; background-repeat: no-repeat; background-size: auto; color: transparent; top: .4em !important; opacity: 1 !important; right: 10px;}
.multisteps-form__content .button-row {border-radius: 0 0 11px 11px; background-color: #000000; padding: 30px 70px; float: left; width: 100%;}
.multisteps-form__content .button-row h4 {color: #ffffff; font-size: 24px; font-weight: 600;  line-height: normal; text-align: left; text-transform: uppercase; float: left;}
.multisteps-form__content .button-row h4 label {opacity: 0.59; font-size: 13px; font-weight: 400; text-transform: capitalize; margin: 0; display: block;}
.multisteps-form__content .button-row .btn.btn-primary {margin-top: auto; margin-bottom: auto; margin-left: auto; border-radius: 19px; padding: 9px 50px; float: right; margin-top: 10px;}

/*************************************** 
Calendar Css 
****************************************/
.gj-picker-md div[role=navigator] {background-color: #42bbac;}
.gj-picker-md table tr td div, .gj-picker-md table tr th div {width: 30px; height: 30px; line-height: 30px;}
.gj-picker-md table tr th div {color: #212121;}
.gj-picker-md table tr td.today {background-color: #42bbac; border-radius: 50%; color: #ffffff;}
.gj-picker-md table tr td.today div {color: #ffffff;}
.gj-picker-md table tr td.selected.gj-cursor-pointer div {background-color: #42bbac;}
.gj-picker-md div[role=navigator] div i.gj-icon, 
.gj-picker-md div[role=navigator] div i.material-icons {background-position: 0  0; background-repeat: no-repeat; background-size: contain; left: 10px; top: 12px; color: transparent;}
.gj-picker-md div[role=navigator] div:first-child i.gj-icon, 
.gj-picker-md div[role=navigator] div:first-child i.material-icons {background-image: url(../images/svg-icons/left-arrow.svg);}
.gj-picker-md div[role=navigator] div:last-child i.gj-icon, 
.gj-picker-md div[role=navigator] div:last-child i.material-icons {right: 12px; background-image: url(../images/svg-icons/right-arrow.svg);}

/*************************************** 
Clock Css 
****************************************/
.gj-picker-bootstrap [role=header] {background-color: #42bbac;color: #757575;}
.gj-picker-bootstrap .selected {color: #212121;}
.gj-picker [role=body] [role=dial] {background: #f8f9fa;}
.gj-picker [role=body] [role=dial] {color:#212121;}
.gj-picker-bootstrap .arrow-begin, .gj-picker-bootstrap [role=body] [role=arrow] {background-color: #212121;}
.gj-picker-bootstrap .arrow-end {border: 16px solid #42bbac;}
.modal-footer .btn-default {border: 1px solid #42bbac; background-color: #42bbac; color: #fff;}

/*************************************** 
Custom-radio Css
****************************************/
.custom-radio .custom-control-label::before {border-radius: 50% !important;}
.custom-radio .custom-control-input:checked~.custom-control-label::before {background-color: #ffffff;}
.custom-radio .custom-control-input:checked~.custom-control-label::after {background-image: url(../images/svg-icons/radio-check-icon.svg); background-size: auto;}

/*************************************** 
Custom file label css
****************************************/
.custom-file-label {position: absolute; top: 0; right: 0; left: 0; z-index: 1; height: calc(2.25rem + 2px); padding: .375rem .75rem .375rem 0; line-height: 1.5; color: #212121; font-size: 14px; font-weight:400px; background-color: #fff; border: 0; border-bottom: 1px solid #bdbdbd; border-radius: 0;}
.custom-file-label::after {color: #42bbac; background-color: #ffffff; border-left: 0px solid #ced4da; border-radius: 0 .25rem .25rem 0; font-size: 14px; font-weight: 500;}
.multisteps-form__content .custom-file {margin-bottom: 30px;}
.custom-file-label + span {color: #9e9e9e; font-size: 12px; font-weight: 400;  line-height: normal; text-align: left;}

/******************************
Custom Scrollbar Css 
*******************************/
/* width */
.customScrollbar::-webkit-scrollbar {width: 7px;}  
/* Track */
.customScrollbar::-webkit-scrollbar-track {box-shadow: inset 0 0 0px grey; border-radius: 10px;}
/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {background: #e0e0e0; border-radius: 10px;}
/* Handle on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {background: #e0e0e0;}

/*Custom row padding*/

.row_10.row{ margin:0 -10px;}
.row_10 > [class*="col-"]{ padding:0 10px;}


/***************************
Header
****************************/
.adjustHeaderSpace{ margin-top: 44px;}

header.header{ padding: 2px 0; position: fixed; top:0; left: 0; right: 0; z-index: 20; background-color:#ffffff; transition: all ease 0.4s; box-shadow: 0 0 5px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2); transition:  all ease 0.4s;}
header.header .container{ display: flex; align-items: center;}

a.hamburgerBtn{ width:20px; height:20px; margin-left: 8px; display: block; background-image: url(../images/svg-icons/hamburger.svg); background-repeat: no-repeat; background-position: center; }

.logo img.whiteLogo{ display: none;}
.logo img.darkLogo{ display: block;}
.logo{ width: 200px; position: relative;}
.logo a{ display: flex; align-items: center; color:#212121; font-size: 14px;}
.logo img{ width:46px; display: block; margin-right: 12px;} 

.navigation{ margin-left: auto;}
.navigation ul{padding: 0; margin: 0; display: flex;}
.navigation ul li{padding: 0; margin: 0; list-style: none; display: block; margin:0px 12px;}
.navigation ul li > a{color: #212121; font-size:13px; text-decoration: none; font-weight: 500; display: block; line-height: 40px; position:relative;} 
.navigation ul li > a:hover{color:#42bbac;}
.navigation ul li > a.active{color:#42bbac;}
.navigation ul li > a.active::after{content:''; display:block; height:3px; background-color:#42bbac; position: absolute; top:-25px; left:0px; right:0px;}

/*Header User Button*/
.headerUserBtn{ margin:0 10px;} 
.headerUserBtn a.btn{padding:5px 15px; font-weight: 500; color:#42bbac; border-color:#42bbac; font-size: 13px; border-radius:20px;}
.headerUserBtn a.btn:hover{ background-color: #42bbac; border-color:#42bbac; color:#ffffff;}

.headerUserBtn .dropdown-menu{ min-width: 200px; width:200px; padding: 5px 0; box-shadow: 0 5px 10px rgba(0,0,0,0.1); border-radius: 8px; border:none; top: 10px!important;}
.headerUserBtn .dropdown-menu a{ display: block; color: #212121; font-size: 12px; font-weight: 400; padding: 10px 15px; border-bottom:#eeeeee solid 1px;} 
.headerUserBtn .dropdown-menu a:last-child{ border:none;}
.headerUserBtn .dropdown-menu a strong{ display: inline-block; color: #212121; font-size: 13px; font-weight: 500; padding-right:10px; background-image:url(../images/svg-icons/login-arrow.svg); background-repeat: no-repeat; background-position: right center; margin-bottom:3px;} 
.headerUserBtn .dropdown-menu a span{ display: block; color: #757575; font-size: 11px; font-weight: 400; } 

/*hamburger Menu*/
.hamburgerMenu .dropdown-menu{ min-width: 200px; width:200px; padding: 5px 0; box-shadow: 0 5px 10px rgba(0,0,0,0.1); border-radius: 8px; border:none; top: 10px!important;}
.hamburgerMenu .dropdown-menu ul{ padding: 0; margin: 0;}
.hamburgerMenu .dropdown-menu ul.mainMenuMobile{ display: none;}
.hamburgerMenu .dropdown-menu ul li{ list-style: none;}
.hamburgerMenu .dropdown-menu ul li a{ display: block; color: #212121; font-size: 12px; font-weight: 400; padding: 10px 15px;} 
.hamburgerMenu .dropdown-menu ul li a:hover{color:#42bbac;}

/*Sub menu*/
.hamburgerMenu .dropdown-menu ul li a.subMenuDropdownBtn{ position: relative; }
.hamburgerMenu .dropdown-menu ul li a.subMenuDropdownBtn::after{ display: block; content:''; width:10px; height:10px; position: absolute; top:50%; margin-top:-5px; right:10px; background-image:url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position: center; transition: all ease 0.4s; }
.hamburgerMenu .dropdown-menu ul li a.subMenuDropdownBtn.opened::after{ transform: rotate(180deg);}
.hamburgerMenu .dropdown-menu ul li .subMenuDropdown { display: none; padding: 0px 15px 5px;}
.hamburgerMenu .dropdown-menu ul li .subMenuDropdown a{ padding: 7px 15px;}

.mobileNavCloseBtn{ text-align: right; margin-bottom: 10px; display: none;}
.mobileNavCloseBtn a{ display: inline-block; width: 20px; height: 20px; background-image: url(../images/close-icon-dark.png); background-repeat: no-repeat; background-position: center;}

.mobileLoginBtn{ padding-top:25px; display: none;}
.mobileLoginBtn a.btn{ display: block; width:100%;  color:#42bbac; border-color:#42bbac; }
.mobileLoginBtn a.btn:hover{background-color: #42bbac; border-color:#42bbac; color:#ffffff;}

.loginUserInfo{ display: flex; align-items: center; border-bottom: 1px solid #eeeeee; padding: 10px 20px 15px; margin:0 -10px 10px;}
.userAvtar{ max-width:35px; flex: 0 0 35px; margin-right: 14px; background-image: url(../images/svg-icons/userIcon.svg); background-repeat: no-repeat; background-position:center}
.userAvtar img{ width:100%; display: block;}
.userName{ flex:1}
.userName h3{ margin:0 0 2px; font-size: 14px; font-weight: 500;}
.userName h4{ margin:0; color: #757575; font-size: 12px; font-weight: 400;}

/*Transparent Header - Home page*/
header.transparentHeader{ background-color: transparent; box-shadow: none;}
header.transparentHeader a.hamburgerBtn{ background-image: url(../images/svg-icons/hamburger-white.svg);}
header.transparentHeader .logo a{color: #ffffff;}
header.transparentHeader .logo img.whiteLogo{ display: block;}
header.transparentHeader .logo img.darkLogo{ display: none;}

header.transparentHeader .navigation ul li > a{ color:#ffffff}  
header.transparentHeader .navigation ul li > a:hover{ color:#42bbac}  
header.transparentHeader .navigation ul li > a.active{color:#42bbac;}
header.transparentHeader .headerUserBtn a.btn{ color:#ffffff; border-color:#ffffff; }
header.transparentHeader .headerUserBtn a.btn:hover{ background-color: #42bbac; border-color:#42bbac;}

/*Sticky Header - Global*/
header.stickyHeader{ /*padding: 12px 0;*/ background-color: #ffffff;  box-shadow: 0 0 5px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);} 
header.stickyHeader a.hamburgerBtn{ background-image: url(../images/svg-icons/hamburger.svg);  position: relative; }
header.stickyHeader .logo img.whiteLogo{ display: none;}
header.stickyHeader .logo img.darkLogo{ display: block;} 
header.stickyHeader .logo a{  color:#212121; }
header.stickyHeader .navigation ul li > a{ color:#212121}  
header.stickyHeader .navigation ul li > a:hover{ color:#42bbac}  
header.stickyHeader .navigation ul li > a.active{color:#42bbac;}
header.stickyHeader .navigation ul li > a.active::after{ top:-12px;}
header.stickyHeader .headerUserBtn a.btn{ color:#42bbac; border-color:#42bbac; }
header.stickyHeader .headerUserBtn a.btn:hover{ background-color: #42bbac; border-color:#42bbac; color:#ffffff;} 

/*header.staticHeightHeader{ padding:12px 0;}*/
header.staticHeightHeader .navigation ul li > a.active::after{ top:-12px;}

/***************************
Footer
****************************/
.footer{ font-size: 12px;border-top:#f6f6f6 solid 1px;}
.footer a{ color: #424242;}
.footer a:hover{ color:#42bbac;}

.footerLinks{ padding: 15px 0; border-bottom: #f6f6f6 solid 1px;}
.footerLogo{ width:56px;}
.footerLogo img{width:100%; display: block;} 
.footerNav{ text-align: center;}
.footerNav ul{ display: flex; justify-content: center; flex-wrap: wrap; margin: 0; padding: 0;}
.footerNav ul li{ list-style: none; margin: 4px 15px;}
.footerSocial{text-align: right;}
.footerSocial h3{color: #757575; font-size: 12px; font-weight: 400; margin: 0 0 10px;}
.footerSocial a{  width:18px; height:18px; display: inline-block; margin-left: 10px;}
.footerSocial a.facebook{ background-image: url(../images/svg-icons/facebook-black.svg);}
.footerSocial a.twitter{background-image: url(../images/svg-icons/twitter-black.svg);}
.footerSocial a.linkedin{background-image: url(../images/svg-icons/linkdln-black.svg);}
.footerSocial a.facebook:hover{ background-image: url(../images/svg-icons/facebook-color.svg);}
.footerSocial a.twitter:hover{background-image: url(../images/svg-icons/twitter-color.svg);}
.footerSocial a.linkedin:hover{background-image: url(../images/svg-icons/linkdln-color.svg);}

.footerCopyright{padding:10px 0; line-height: 24px; text-align: center;}

a.meetExpertBtn{ width:80px; height:80px; background-image: url(../images/meet-the-expert-icon.svg); background-repeat: no-repeat; background-position: center; background-size:100%; position: fixed; right:20px; bottom:20px; z-index: 10; opacity: 0.6; transition:all ease 0.2s}
a.meetExpertBtn:hover{ opacity: 1;}

/***************************
Home page
****************************/
/*Banner*/
/*.homeBanner{ height: 100vh; display: flex; align-items: center; position: relative;}*/

/*Banner background Slider*/
#bannerSlider{ height:100vh;}
#bannerSlider.owl-carousel .item{ position: relative; height: 100vh;}
#bannerSlider.owl-carousel img.banMainImg{ height:100%; object-fit: cover;}

#bannerSlider.owl-carousel .item .container{ position: absolute; top: 0; left: 50%; transform: translateX(-50%); padding:100px 0; height: 100%; display: flex; align-items: center;  padding: 150px 20px; }

.bannerContent{ max-width:480px;}
.bannerContent span.banTopLine{ display: inline-block; width: 104px; height: 4px; border-radius: 4px; background-color:#42bbac; margin: 0 0 14px;}
.bannerContent h2{color: #ffffff; font-size: 42px; font-weight: 600; line-height: 60px; margin:0 0 5px;}
.bannerContent p{ margin: 0 0 20px;  color: #ffffff; font-size: 18px; line-height: 33px;} 
.bannerContent .banKnowBtn .btn{min-width: 203px; border-radius: 50px; font-size: 18px; padding:15px; }

/*Banner Tile Thumbnail*/
#bannerThumbnails{ position: absolute; top: 50%; transform: translateY(-50%); right: 0; width: 58%; /*width:calc(58% + 268px + 20px);*/}
#bannerThumbnails .owl-item{opacity: 1; } 
/*
#bannerThumbnails .owl-item.firstActiveItem{ opacity: 0;}
#bannerThumbnails .owl-item.beforeActiveItem{ opacity: 0;}
*/
#bannerThumbnails .firstActiveItem.active { display:none;}

.thumbBanTiles{width: 268px; cursor: pointer; height: 398px; border-radius: 26px; overflow: hidden; position: relative;} 
.thumbBanTiles img{ width:100%; height:100%; object-fit: cover;}
.thumbContent{ 
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    padding: 20px; font-size: 12px; position: absolute; bottom: 0; left: 0; right: 0 ; height: 50%; display: flex; flex-direction: column; justify-content: flex-end; }
.thumbContent h3{color: #ffffff; font-size: 14px; font-weight: 500; margin: 0 0 10px;}
.thumbContent h3 a{ text-decoration:none; color: #ffffff; }
.thumbContent h3 a:hover{ color:#42bbac;}
.thumbContent span.thumbHeadSep{ display: block; width:50px; height:1px; border-top:#ffffff solid 1px; margin: 0 0 10px;}
.thumbContent p{ font-size: 12px; opacity: 0.75; color: #ffffff; margin: 0;}

/*Banner Control Buttons*/
#bannerThumbnails.owl-carousel .owl-nav button.owl-prev, 
#bannerThumbnails.owl-carousel .owl-nav button.owl-next{ display: inline-block; width: 52px; height: 52px;  background-color: transparent; background-repeat: no-repeat; background-position: center; border:#ffffff solid 1px; text-indent: -999999px; overflow: hidden; border-radius: 100%; position: absolute; bottom: -75px; }
#bannerThumbnails.owl-carousel .owl-nav button:focus{outline: none; box-shadow: none; }
#bannerThumbnails.owl-carousel .owl-nav button.owl-prev{background-image: url(../images/svg-icons/ban-next-arrow.svg); left: 0; } 
#bannerThumbnails.owl-carousel .owl-nav button.owl-next{ background-image: url(../images/svg-icons/ban-prev-arrow.svg); left: 72px;}

#bannerThumbnails.owl-carousel .owl-dots{ position: absolute; bottom: -60px; left: 170px; right: 170px; display: flex;justify-content: space-between; }
#bannerThumbnails.owl-carousel .owl-dots::before{ content:''; display: block; width:100%; height:1px; background-color: #878787; position: absolute; left: 0; top: 12px; z-index: 0;}
#bannerThumbnails.owl-carousel button.owl-dot{ width: 20px; height: 20px; background-color: #878787; border-radius: 100%; transition: all ease 0.4s; color:transparent; font-size: 10px; font-weight: 600; position:  relative; z-index: 1;}
#bannerThumbnails.owl-carousel .active button.owl-dot{ transform: scale(1.4); color:#ffffff; }
#bannerThumbnails.owl-carousel button.owl-dot:focus{outline: none; box-shadow: none;}

#bannerThumbnails.owl-carousel .owl-nav.disabled { display:block;}

/*Home section titles*/
.homeSecTitle{ margin: 0 0 20px;}
.homeSecTitle h2{font-size: 26px; margin: 0 0 10px; } 
.homeSecTitle h3{color: #757575; font-size: 14px; font-weight: 400; margin: 0;}

.featureViewBtn{ margin-left:10px;}
.featureViewBtn a.btn{ font-size: 14px; min-width: 120px; border-radius: 30px;}

.minHeight_100{ min-height: 100vh;}

/*Feature Section*/
.home_featureSection{ padding:50px 0;}
.home_featureSection .row{ margin:0 -10px;}
.home_featureSection .row [class*="col-"]{ padding:0 10px;}

.featureArticle{border-radius: 6px; border: 1px solid #e0e0e0; margin-bottom: 20px;}
.featureArticle .featureArtImg img{ display: block; width: 100%; height:133px; object-fit: cover; border-radius: 6px;}
.featureArticle .featureArtCont{ padding:10px 20px; color: #757575; font-size: 13px; }
.featureArticle .featureArtCont h3{ font-size: 14px; font-weight: 500; margin:0 0 5px;}
.featureArticle .featureArtCont h3 a{  color:#212121; display: flex; align-items: center; flex-wrap: wrap;}
.featureArticle .featureArtCont h3 a:hover{ color:#42bbac;}
.featureArticle .featureArtCont h3 a span.featlinkText {display: block; max-width: calc(100% - 30px); text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.featureArticle .featureArtCont h3 em.featureIcon{ width:18px; height: 18px; display:inline-block; background-image: url(../images/svg-icons/verified-icon.svg); background-repeat: no-repeat; background-position: center; margin-left: 10px;}
.featureArticle .featureArtCont p.shortDetail{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin:0 0 7px;}
.featureArticle .featArtPric{ color: #212121; font-size: 16px; font-weight: 600;}

.featFacilities{ margin-top:9px; padding-top:9px; border-top:#e0e0e0 solid 1px; display: flex; flex-wrap: wrap; align-items: center;}
.featFacilities span.featFaTitle{ font-size: 12px; margin-right: 10px;}
.featFacilities span.faci-icon{width: 27px; height: 27px; border-radius: 4px; background-repeat: no-repeat; background-position: center; margin:0 5px; opacity: 0.39;}
.featFacilities span.parking-icon{ background-image: url(../images/svg-icons/Parking-icon.svg);}
.featFacilities span.noSmooking-icon{ background-image: url(../images/svg-icons/no-smoking-icon.svg);}
.featFacilities span.wifi-icon{ background-image: url(../images/svg-icons/wifi-icon.svg);}

.featureLocationMap{border-radius:10px; overflow:hidden;} 

/*home_valueSection*/
.home_valueSection{ padding: 50px 0; background-color:#f7f7f7;}
.valueAddedDetail{ margin-bottom: 30px;}
.valueServiceSummary{ color: #757575; font-size: 16px; line-height: 30px;}
.valueServiceSummary h2{ margin:0;} 

article.valArticle{ padding: 20px 0;}
article.valArticle a{ display: block; padding: 20px; border-radius: 8px; background-color: #ffffff;}
article.valArticle a:hover{box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);}
article.valArticle a .valArtIcon{ height:65px; margin:0 0 10px;}
article.valArticle a h3{color: #212121; font-size: 14px; margin:0 0 5px;}
article.valArticle a h3 span.titleArrowIcon{ width:7px; height:10px; display: inline-block; margin-left: 5px; background-image: url(../images/svg-icons/chevron-icon.svg); background-repeat: no-repeat; background-position: center; transition: all ease 0.4s;}
article.valArticle a:hover h3 span.titleArrowIcon{ margin-left: 10px;}
article.valArticle a p{color: #757575; font-size: 12px; line-height: 22px; margin:0; text-align: left;}

.valueArticlesCarousel.owl-carousel { padding-top: 45px;}
.valueArticlesCarousel.owl-carousel .owl-item article.valArticle img{ width:inherit;}
.valueArticlesCarousel .owl-stage{ padding-left: 0!important;}

.valueArticlesCarousel.owl-carousel .owl-nav button.owl-prev, 
.valueArticlesCarousel.owl-carousel .owl-nav button.owl-next{ display: inline-block; width: 32px; height: 32px; box-shadow: 0 10px 20px #e5e5e5; background-color: #ffffff; background-repeat: no-repeat; background-position: center; text-indent: -999999px; overflow: hidden; border-radius: 100%; position: absolute;top: 0; }
.valueArticlesCarousel.owl-carousel .owl-nav button:focus{outline: none; box-shadow: none; }
.valueArticlesCarousel.owl-carousel .owl-nav button.owl-prev{background-image: url(../images/svg-icons/left-icon.svg); left: 0; } 
.valueArticlesCarousel.owl-carousel .owl-nav button.owl-next{ background-image: url(../images/svg-icons/right-icon.svg); right: 0;}

/*Value added Carousel Status bar*/
.progressBarMain{ position: absolute; width: calc(100% - 124px); left:62px; top:12px;}
.progressBar{ height: 6px; border-radius: 6px; background-color: #f3f3f3; position: relative;}
#bar{ width:0%; position: absolute; top: 0; left: 6; height: 6px; background-color: #42bbac; border-radius: 6px; transition: all ease 0.4s;}


/*home_contactSection*/
.home_contactSection{ padding: 50px 0; background-color: #000000; background-image: url(../images/contact-bg.png); background-repeat: no-repeat; background-position: right center; background-size: auto 100%; min-height:700px;}
.contactTitle { margin-bottom: 50px;}
.contactTitle h2{color: #ffffff; font-size: 26px; margin:0 0 5px; }
.contactTitle h3{color: #ffffff; opacity: 0.86; font-size: 14px; font-weight: 400; margin:0; }

.contactForm{ max-width: 340px;}
.contactForm .floating-label{color:#bababa; }
.contactForm .floating-field .form-control{ color:#ffffff; border-color: #bdbdbd;}
.contactSubmitBtn .btn{ font-size: 14px; border-radius: 30px; min-width: 120px;}

.contactRightCont{ height:100%; display: flex; flex-direction: column; justify-content: space-between;}
.contAdditionBtns{ text-align: right;}
.contAdditionBtns a.btn{ color:#ffffff; border:#ffffff solid 1px; border-radius: 30px; padding-left: 50px; margin:0 5px 10px; background-repeat: no-repeat; background-position: 10px center; }
.contAdditionBtns a.btn-phone{ background-image: url(../images/svg-icons/phone-icon.svg);}
.contAdditionBtns a.btn-mail{ background-image: url(../images/svg-icons/mail-icon.svg);}

.viewLgMapBtn{ text-align: right;}
.viewLgMapBtn a{ color:#ffffff; border:#ffffff solid 1px; border-radius: 30px; margin:0 5px;  }

.locationTooltipBox{ margin:150px auto; position: relative; width:34px;}
.locationTooltipBox a.locationIcon{ width:34px; height:40px; display: inline-block; background-image: url(../images/svg-icons/location-icon.svg); background-repeat: no-repeat; background-position: center;}
.locationTooltip{width: 335px;  border-radius: 14px; background-color: rgba(82,82,82,0.61); color: #e3e3e3; font-size: 12px; line-height: 23px; padding:15px 25px; position: absolute; bottom: 55px; left: -32px; visibility: hidden; opacity: 0; transition: all ease 0.4s;}
.locationTooltipBox:hover .locationTooltip{visibility: visible; opacity: 1; bottom:65px;}

.locationTooltip::after{ width:0; height:0; display: block; content:''; border-top:rgba(82,82,82,0.61) solid 14px; border-left: transparent solid 10px; border-right: transparent solid 10px; position: absolute; bottom:-14px; left: 40px;}
.locationTooltip h3{color: #ffffff; font-size: 13px; font-weight: 500; margin:0 0 5px;}
.locationTooltip p{ margin: 0;}

/***************************************
Service Popup
****************************************/
.modal-backdrop.show {opacity: .57;}
.modal-content{ border:none; border-radius: 10px;}

#serviceModal .modal-dialog{ max-width: 796px;}
#joinBroker_expert .modal-dialog{ max-width: 796px;}

a.closeBtn {width: 21px;height: 21px;display: block;background-image: url(../images/close-icon.png);background-repeat: no-repeat;background-position: center;background-size: 100%;position: absolute;top: 0;
            right: -30px; z-index: 1;}

.popupFormPic{ height: 100%; border-radius: 8px 0 0 8px; overflow:hidden;}
.popupFormPic img{display: block; width: 100%; min-width: 100%; min-height: 100%; object-fit: cover;}

.popupHeading{ margin: 0 0 40px;}
.popupHeading h2{font-size: 18px; font-weight: 600; margin:0 0 5px;}
.popupHeading h3{ opacity: 0.64; color: #757575; font-size: 12px; font-weight: 400; line-height: 28px; margin:0;}

.popupForm{ padding: 50px;}  
.formCaptcha img{max-width: 100%;}
.formBtn{text-align: right;}
.formBtn .btn{ max-width: 120px; padding: 12px 25px; font-size: 14px; font-weight: 600; border-radius: 30px;} 


/***************************
Signup page
****************************/
.signup-page{ background-color: #000000; background-image: url(../images/login-bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; min-height: 100vh; padding: 140px 0 50px;}

.signupLeftContent{padding-left: 70px;}
.signupLeftContent .headingTopLine{ display: inline-block; width: 104px; height: 4px; border-radius: 4px; background-color:#42bbac; margin: 0 0 14px;}
.signupLeftContent h1{color: #ffffff; font-size: 56px; font-weight: 700; margin: 0 0 5px;}
.signupLeftContent h2{color: #ffffff; font-size: 40px; font-weight: 500; line-height: 37px; margin-bottom:20px;}

.signupKylBtn{padding: 0;}
.signupKylBtn .btn{ font-size:14px; padding:14px 30px; border-radius:50px;}

.userSignBox{ max-width: 460px;  margin: 0 auto; padding: 40px 5px; background-color: #ffffff; border-radius: 10px; }
.userSignBox_scrollBox{ /*max-height: calc(100vh - 290px);*/  max-height:calc(100vh - 260px);; overflow-y: auto; padding: 0 55px;}
.userSignBox_scrollBox::-webkit-scrollbar {width: 7px; border-radius: 10px;}
.userSignBox_scrollBox::-webkit-scrollbar-track {background: #ffffff; border-radius: 10px;}
.userSignBox_scrollBox::-webkit-scrollbar-thumb { background: #e0e0e0; border-radius: 10px;} 

.userSignBox h3{color: #757575; font-size: 12px; font-weight: 400; letter-spacing: 1px;  text-align: center; margin:0 0 15px; }

/*Login page*/
.loginPageBox{ padding: 0;}
.loginPageBox .nav-tabs { display: flex; flex-wrap: nowrap; border: none; /*white-space: nowrap; flex-wrap: nowrap;*/ border-bottom:#e0e0e0 solid 1px;}
.loginPageBox .nav-tabs li { list-style: none; display: block; flex:0 0 33.333%; max-width:33.333%; text-align: center; margin-bottom: -1px;}
.loginPageBox .nav-tabs li a{  color: #9e9e9e; font-size: 14px; padding: 10px 15px; line-height: 25px; font-weight: 600; border:none; border-bottom: transparent solid 2px; display: block; white-space: nowrap; }
.loginPageBox .nav-tabs li a:hover{ border-color: transparent;}
.loginPageBox .nav-tabs li a.active { border-color: #42bbac; color: #212121; background-color: transparent;}
.loginPageBox .tab-content{ padding: 35px 0;}

/*Signup modal*/
#joinBroker_expert .loginPageBox .nav-tabs li{ flex:0 0 50%; max-width:50%;}
#joinBroker_expert .loginPageBox .nav-tabs li a{ padding:12px 15px;}
#joinBroker_expert .loginPageBox .tab-content{ padding:0;}

.socialSignup { margin: 0 0 40px; text-align: center;}
.socialLoginBtn a{ display: inline-block; border-radius: 2px; border: 1px solid #e0e0e0; background-color: #ffffff; color: #212121; font-size: 12px; font-weight: 500; letter-spacing: 1px; line-height: 28px; padding: 7px 25px 7px 54px; margin: 0 5px; background-repeat: no-repeat; background-position: 15px center;}
.socialLoginBtn a.facebookLogin{ background-image: url(../images/svg-icons/facebookLogin.svg);}
.socialLoginBtn a.googleLogin{ background-image: url(../images/svg-icons/googleLogin.svg);}

.signupForm h3{ margin: 0 0 30px;}
.loginTermsCheck{ margin-bottom: 25px; display: flex; align-items: flex-start;}
.loginTermsCheck .customCheckbox{ max-width: 16px; flex: 0 0 16px; margin-right: 14px; margin-top:3px; }
.loginTermsCheck span{ flex: 1; display: block; color: #757575; font-size: 12px; line-height: 26px;}

.LoginBtn .btn{ font-size: 14px; font-weight: 600; padding: 14px; width: 100%; border-radius: 50px;}
.joinBroBtn-desktop { margin-top:20px;}
.joinBroBtn-desktop .btn{ font-size: 14px; font-weight: 600; padding: 14px; width: 100%; border-radius: 50px;}

.accountSwitchOpt{ text-align:center; padding-top:25px; color: #424242; line-height: 17px;}
.accountSwitchOpt a{ font-weight: 500;}
a.sendOTP_Link{ position: absolute; top: 14px; right: 0; font-size: 12px; font-weight: 500;}


/*Signup modal Thankyou*/
.signup_Thankyou{ text-align: center; padding:40px 25px; max-width:355px; margin:0 auto;     flex-direction: column; justify-content: center; height: 100%; display:none;}
.signup_Thankyou .thankIcon{ margin-bottom: 20px;}
.signup_Thankyou h2{font-size: 16px; font-weight: 500; margin:0 0 3px; line-height:normal;}
.signup_Thankyou p{color: #757575; font-size: 14px; line-height: 30px; margin-bottom:20px;}
.signupHomeBtn .btn { padding:14px 30px; border-radius:50px; }


/***************************
About Us page
****************************/
/*Inner banner common CSS*/
.innerPageBanner {background-repeat: no-repeat;  background-color: #000000; padding: 150px 0 50px; min-height:750px; display: flex; align-items: center;}
.innerPageBanner h1 {color: #ffffff; font-size: 42px; line-height: 64px; text-align: left; position: relative; margin-bottom: 15px;}
.innerPageBanner h1:before {position: absolute; left:0; top: -25px; content:""; width: 104px; height: 4px; background-color: #42bbac; border-radius: 4px;}
.innerPageBanner p {color: #ffffff; font-size: 18px; font-weight: 400; line-height: 37px; text-align: left; margin-bottom: 30px;}
.innerPageBanner a.btn {font-size: 16px; font-weight: 600; padding: 15px 30px; border-radius: 28px;}
/*Inner banner common CSS*/

.aboutBanner {background-image: url(../images/about-bg.png); background-position: right bottom; background-repeat: no-repeat; background-size: 57%; } 

.services {padding:50px 0;}
.services h2 { font-size: 26px; text-align: center; margin-bottom: 20px;}
.services p {color: #757575; font-size: 16px; font-weight: 400;  line-height: 30px; text-align: center; margin-bottom: 40px;}
.services p.shortDetail {color: #757575; font-size: 13px; font-weight: 400;  line-height: 22px; text-align: left; text-overflow: unset; white-space: normal;}

.grayBackground {background-color: #f9f9f9;}
.partnersCompanies.owl-carousel .owl-nav.disabled { display: block !important;}
.partnersCompanies.owl-carousel {display: block; width: 100%; margin:50px 0 0; padding:0;}
.partnersCompanies.owl-carousel li {display: table; list-style: none;}
.partnersCompanies.owl-carousel li img {width:148px; height: 38px; object-fit: contain; display: table-cell; vertical-align: bottom;}
.partnersCompanies.owl-carousel .owl-nav button.owl-prev, 
.partnersCompanies.owl-carousel .owl-nav button.owl-next {display: inline-block; width: 32px; height: 32px; box-shadow: 0 10px 20px #e5e5e5; background-color: #ffffff; background-repeat: no-repeat; background-position: center; text-indent: -999999px; overflow: hidden; border-radius: 100%; position: absolute; top: 0;}
.partnersCompanies.owl-carousel .owl-nav button.owl-prev {background-image: url(../images/svg-icons/left-icon.svg); left: 280px; top: -109px;}
.partnersCompanies.owl-carousel .owl-nav button.owl-next {background-image: url(../images/svg-icons/right-icon.svg); left: 340px; top: -109px;}
.partnersCompanies.owl-carousel .owl-nav button:focus {outline: none;}

.cliensSaying.owl-carousel article {border-radius: 16px; border: 1px solid #e0e0e0; padding: 30px 0; position: relative; margin-top: 23px;}
.cliensSaying.owl-carousel article::before {content:""; position: absolute; left:20px; top:-14px; background-color: white; background-image: url(../images/svg-icons/open.svg); background-repeat: no-repeat; background-position:0  0; background-size: 100%; width: 43px; height: 37px; z-index: 99;}
.cliensSaying.owl-carousel article::after {content:""; position: absolute; right: 14px; bottom:90px; background-color: white; background-image: url(../images/svg-icons/close.svg); background-repeat: no-repeat; background-position:0  0; background-size: 100%; width: 43px; height: 37px;}
.cliensSaying.owl-carousel article p {color: #757575; font-size: 12px; font-weight: 400;  line-height: 30px; text-align: center; margin-bottom: 0; padding: 0 30px 15px; border-bottom: 1px solid #e0e0e0;}

.cliensSaying.owl-carousel .owl-nav.disabled {display: block !important;}
.cliensSaying.owl-carousel {display: block; width: 100%; margin:50px 0 0; padding:0;}
.cliensSaying.owl-carousel li {display: table; list-style: none;}
.cliensSaying.owl-carousel li img {width:148px; height: 38px; object-fit: contain; display: table-cell; vertical-align: bottom;}
.cliensSaying.owl-carousel .owl-nav button.owl-prev, 
.cliensSaying.owl-carousel .owl-nav button.owl-next {display: inline-block; width: 48px; height: 48px; box-shadow: 0 10px 20px #e5e5e5; background-color: #ffffff; background-repeat: no-repeat; background-position: center; text-indent: -999999px; overflow: hidden; border-radius: 100%; position: absolute; top: 0;}
.cliensSaying.owl-carousel .owl-nav button.owl-prev {background-image: url(../images/svg-icons/left-icon.svg); left: 374px; top: 100px;}
.cliensSaying.owl-carousel .owl-nav button.owl-next {background-image: url(../images/svg-icons/right-icon.svg); right: 374px; top: 100px;}
.cliensSaying.owl-carousel .owl-nav button:focus {outline: none;}

.cliensSaying.owl-carousel .owl-item.active > div:after {content: 'active';}
.cliensSaying.owl-carousel .owl-item.center > div:after {content: 'center';}
.cliensSaying.owl-carousel .owl-item.active.center > div:after {content: 'active center';}

.cliensSaying.owl-carousel .owl-item {opacity: .5; transform: scale(0.9);}
.cliensSaying.owl-carousel .owl-item.active.center {opacity: 1; transform: scale(1.1);margin: 0 0 20px;}

.clientdetails {display:table; width:100%; padding: 18px 30px 0;}
.clientdetails .clientImg {display: table-cell; width: 60px; height: 60px; border-radius: 50%;}
.clientdetails .companayName {color: #212121; font-size: 16px; font-weight: 500;  line-height: normal; text-align: left; display: table-cell; vertical-align: middle; padding-left: 21px;}
.clientdetails .companayName span {color: #757575; font-size: 12px; font-weight: 400;  line-height: 22px; text-align: left; display: block;} 

/***************************
Land Title Search page
****************************/
.landTitleSearchBanner {background-color:#000; background-image: url(../images/Land-title-search-banner-report.png); background-repeat: no-repeat; background-position: 110% bottom; } 
.feasibiltiyBanner{background-image: url(../images/Feasibility-Analysis-banner-report.png);}
.quoteReportSection{ padding: 160px 0 100px;}
.subSecHeading { margin-bottom: 35px;}
.subSecHeading h2{ font-size: 32px; font-weight: 600; line-height: 57px; margin: 0 0 15px;}
.subSecHeading p {color: #757575; font-size: 16px; font-weight: 400;  line-height: 35px;}

.landReportForm{ max-width: 540px; margin: 0 auto; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); border-radius: 11px; border: 1px solid #f5f5f5; background-color: #ffffff;}
.landReportFormBox{ padding: 45px 70px;}
.landReportFormBox label.form-label{color: #9e9e9e; font-size: 15px; font-weight: 400; line-height: 32px; margin-bottom: 40px;}
.landReportFormBox .form-group{ margin-bottom: 30px;}
.landReportFormBox .btn{ border-radius:40px; width:100%; padding:12px; font-size: 14px; font-weight: 500;}

.landRepBottomBox{ padding: 25px 70px; background-color: #000000; border-radius: 0 0 11px 11px;}
.reportTotalVal{color: #ffffff; font-size: 24px; font-weight: 600;}
.reportTotalVal span{ display: block; opacity: 0.59; font-weight: 400; font-size: 13px; margin-bottom: 4px;}
.landRepBottomBox .btn{ border-radius: 30px; padding: 8px 25px;}


/***************************
Buy your Land page
****************************/
.filterSection{ padding: 15px 0; /*border-bottom: #ededed solid 1px;*/ position: fixed; width:100%; z-index: 2; background-color: #f8f8f8;}
.filterSection .form-control{background-color: transparent; }
.filterFields{ padding: 0 20px; border-right:#ededed solid 1px; max-width: 350px; flex: 0 0 350px;}
.filterFields:first-child{ padding-left: 0;}
.filterFields.w-220{max-width: 220px; flex: 0 0 220px;}

.filterFields .form-control, 
.filterFields select.form-control:not([size]):not([multiple]){ border:none; padding: 5px 0; padding-left: 30px; height: auto; background-repeat: no-repeat; background-position: left center;} 
.filterBtns{ margin-left: auto;} 

.filterFields .f_searchIcon{ background-image: url(../images/svg-icons/search-icon.svg);}
.filterFields .f_typeIcon{ background-image: url(../images/svg-icons/type-icon.svg);}
.filterFields .f_areaIcon{ background-image:url(../images/svg-icons/land-area-icon.svg);}

/*Filter Range slider*/
.filterRangeSlider{ padding:0 20px; max-width: 250px; flex: 0 0 250px; }
.filterRangeSlider .rangeSlider{ display: flex; align-items: center; margin: 0;}
.filterRangeSlider .rangeSlider label{font-size: 13px;  max-width:50px; flex:0 0 50px; margin: 0;}
.filterRangeSlider .rangeSlider .range-slider{ flex:1;}

.filterRangeSlider .range-slider{ padding: 8px 0 7px;}
.filterRangeSlider .range-slider .track{ height: 2px; z-index: 1}
.filterRangeSlider .range-slider .slider-thumb{ border:2px solid #42bbac; display: block;  height: 14px; width: 14px; top: 9px;     z-index: 2;}
.filterRangeSlider .range-slider [type=range]{ height:14px; opacity:0;}
.filterRangeSlider .range-slider .output, 
.filterRangeSlider .range-slider output{color: #212121; font-size: 10px; height: auto; top: -17px; text-align: center;}

.filterBtns { display: flex; align-items: center;}
.filterBtns .btn{ margin-right: 15px; border-radius: 50px; padding: 7px 20px;}
.filterSection a.filterClose { position: absolute; top: -28px; left: 0px; width: 15px; height: 15px; display: block; background-image: url(../images/close-icon-dark.png); background-repeat: no-repeat; background-position: center; z-index: 1; display: none;}

.buyLandSection{ position: relative;}
.mapArea{ /*position: absolute; top: 0;*/ position: fixed; top: 109px; bottom: 0; width: calc(50% - 10px);  left: 0; z-index: 1;}
.mapArea iframe{ height: 100%;}

.listingRightSide{ padding:130px 0 20px;}
.listingHeader{ display: flex; align-items: center; margin-bottom:0px;}
.listingHeader h1{color: #212121; font-size: 18px; font-weight: 600; margin: 0px; line-height: 22px; margin-right: 15px;}
.listSorting{ display: flex; margin-left: auto; align-items: center;}
.listSorting label{ margin-right: 10px; color: #212121; font-size: 12px; margin:0; margin-right: 10px;}
.listSorting select.form-control:not([size]):not([multiple]){ height:auto; padding:4px 8px; border: 1px solid #e0e0e0; background-color: #ffffff; width: 112px; font-size:12px; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; appearance: none; -moz-appearance: none; -webkit-appearance: none; background-image: url(../images/svg-icons/dropdown-arrow.svg); background-repeat: no-repeat; background-position:calc(100% - 8px) center;}
/*
.m_filterBtn{ display: none; margin-left:10px;}
.m_filterBtn a{ width:16px; height:16px; background-image: url(../images/svg-icons/filter-icon.svg); background-repeat: no-repeat; background-position: center; background-size: contain; display: block;}
*/
.itemCount{ margin-bottom: 12px; color: #757575; font-size: 14px;}


/******************************
Property Detail - Popup
*******************************/
.popup-body {position: relative; background: #fff; border-radius: 16px 16px 0 0; padding: 0; width: 1200px; min-height: 580px; height:calc(100vh - 44px); margin: 44px auto 0;}
.popup-body .row,
.popup-body .row [class*="col-"]{ height:100%;}

.detailPopheader{ background-color:#ffffff; padding: 10px 20px; display: none;} 

#landDetail-popup{ position: relative;}
#landDetail-popup button.mfp-close{ display: block; width:22px; height:22px; position: absolute; right:calc(50% - 635px); top: 5px; background-image: url(../images/svg-icons/close-icon.svg); background-repeat: no-repeat; background-position: center; background-size: 100%; opacity: 1;   }

.switchBtnMobile{ position:fixed; left:0; right: 0; bottom:20px; display: none; text-align: center;    z-index: 2;}
.switchBtnMobile a{ padding: 13px 20px; min-width: 100px; color: #ffffff; border: #42bbac solid 1px; font-size: 16px; background-color: #42bbac; font-weight: 500; opacity: 0.8;  border-radius:50px;} 
.switchBtnMobile a#switchTo_Map{border-radius: 50px 0 0 50px;}
.switchBtnMobile a#m_filterBtn{border-radius: 0 50px 50px 0; border-left:#fff solid 1px;}
.switchBtnMobile a#switchTo_List{ border-radius: 50px 0 0 50px; } 

/*Land Detail - left side [images]*/
.landDetail-lft-side { padding:10px; height:100%;} 
ul.yourLands {display: flex; flex-wrap: wrap; padding: 0; margin: -20px -5px; padding-top: 20px; height: calc(100% + 20px); overflow-y: auto; }  
ul.yourLands li { max-width:100%; flex:0 0 100%; list-style: none; padding:0 5px; margin-bottom: 10px; width: 100%;}
ul.yourLands li.one-half{ max-width:50%; flex:0 0 50%;}
ul.yourLands li a{ display:block;}
ul.yourLands li img.img-thumbnail { width: 100%; height:300px; object-fit: cover; border-radius: 10px; border: none; padding: 0;}   
.mobileImageCarousel img.mobileCarousel_Image{width:100%; height:200px; object-fit: cover;}

/*Iframe Video*/
ul.yourLands .iframeVideo{ border-radius: 10px; overflow: hidden;} 
.iframeVideo{padding-top: 56.25%; position:relative;}
.iframeVideo iframe{ position:absolute; top:0; left:0; bottom:0; height:100%; width:100%;}

/*Land Detail - Right side*/
.landDetail-right-side {border-left: 1px solid #eeeeee; padding:15px; height: 100%;} 
.landDetail-title{ margin:0 0 10px;}
.landDetail-title h3{ font-size: 14px; font-weight: 500; margin: 0 0 5px; display: flex; align-items: center;}
.landDetail-title h3 em.featureIcon { width: 18px; height: 18px; display: inline-block; background-image: url(../images/svg-icons/verified-icon.svg); background-repeat: no-repeat; background-position: center;  margin-left: 10px;}
.landDetail-title p{color: #757575; font-size: 13px; margin: 0;}
.landDetail-title .selfTour { text-align:right;}
.landDetail-right-side .featFacilities{ border:none; padding:0; margin:0 0 5px; }
.land-price{color: #212121; font-size: 18px; font-weight: 600; text-align: right;}
.requiredDetail{ margin-bottom: 15px;}
.selfTour {font-size: 12px; color: #757575; font-weight: 400; line-height:normal; margin: 0;}
.selfTour p {margin:7px 0;} 
.contactAgentBtn{ text-align:right; padding-bottom: 5px;}
.contactAgentBtn .btn{border-radius: 50px; padding: 7px 20px;}

/* nav nav-tabs */ 
.detailTabNavBox {  border-bottom: 1px solid #eeeeee; border-top: 1px solid #eeeeee;  padding: 0px 30px 0 20px; margin:0 -20px 15px;} 
.detailTabNav a { color: #9e9e9e; font-size: 12px; display: block; font-weight: 500; padding:12px 0; margin:0 10px;}
.detailTabNav li.show a, 
.detailTabNav a.active {background-color: transparent; color: #212121; font-weight: 500; position: relative;}
.detailTabNav a.active::before {content: ""; width: 100%; height:2px; position: absolute; bottom: 0px; left: 0; background-color: #42bbac;}


/*nav left and right ctrl*/ 
.detailTabNav.owl-carousel .owl-nav button{position: absolute; top:11px;  text-indent: -99999px; overflow: hidden; width: 20px; height: 20px; background-color: transparent;}
.detailTabNav.owl-carousel .owl-nav button:focus{ outline: none; box-shadow: none;} 
.detailTabNav.owl-carousel .owl-nav button.disabled { display:none}
.detailTabNav.owl-carousel .owl-nav button.owl-prev {background: url(../images/svg-icons/owl-arrow-right.svg) no-repeat scroll center; left: -15px; transform: rotate(180deg);}
.detailTabNav.owl-carousel .owl-nav button.owl-next { background: url(../images/svg-icons/owl-arrow-right.svg) no-repeat scroll center; right: -20px; }

/*Detail section css*/
.detailTabContainer{ padding: 0;}
.descriptionArea {/*height: 265px;*/ height: calc(100vh - 300px); overflow: hidden; overflow-y: scroll; scroll-behavior: smooth; }
.descriptionContents{ margin-bottom: 50px;}
.descriptionContents h3{font-size: 14px; font-weight: 500;  margin: 0 0 10px;}
.descriptionContents p {color: #424242; font-size: 12px; line-height: 30px; }
.descriptionContents .clientdetails{ padding:0px; margin:0; }
.descriptionContents .clientdetails .clientImg{ top: 6px; position: relative;}

/*Loan pending section*/
.loanPending{ max-width:350px; margin:0 auto;}
.loanPending img.loanImg{ margin-bottom: 25px;}
.loanPending h3 {color: #212121; font-size: 16px; font-weight: 600; margin: 0 0 5px; }
.loanPending p {color: #757575; font-size: 12px; line-height: 26px; margin:0 0 20px;}
.loanPending ul {padding-top: 20px;  border-top: 1px solid #eeeeee; margin-bottom: 25px;}
.loanPending ul li {padding: 0 0 0 25px; margin: 0; list-style: none; display: block; background-image: url(../images/svg-icons/check-icon.svg); background-repeat: no-repeat; background-position: 0 center; background-size: auto; color: #424242; font-size: 13px; line-height: 24px; font-weight: 500; text-align: left; margin: 0 0 15px;}
.loanPending .btn{ border-radius: 50px; min-width:150px;}

/*Land Detail - Agent contact form*/ 
.contactAgentformSection { width: 400px; border-left: 1px solid #eeeeee; background-color: #ffffff; position: absolute; top:0; right:-400px; bottom:0; transition: all ease 0.4s;}
.contactAgentformSection h3 { font-size: 16px; font-weight: 600; border-bottom: 1px solid #eeeeee; margin:0; padding:18px 38px; position: relative; }
.contactAgentformSection h3 a.agentCloseBtn{ position: absolute; width: 30px; height: 30px; border: 1px solid #eeeeee; background-color: #ffffff; background-image: url(../images/svg-icons/cross-icon.svg); background-repeat: no-repeat; background-position: center; background-size: 10px; display: block; top:113px; left:-10px; border-radius:100%; z-index: 1; visibility: hidden; opacity: 0; transition: all ease 0.4s; }

.contactAgentForm{ padding:50px 38px; position: relative;}
.contactAgentForm form .btn-primary {border-radius: 24px; font-size:14px; font-weight: 500; padding:12px;}

/*Open Contact Form Animation*/
#landDetail-popup .popup-body{ overflow: hidden;}
#landDetail-popup .popup-body .prop_DetailMain{ transition: all ease 0.4s; transform: translateX(0);}

.show_contactForm .contactAgentformSection { right: 0;}
.show_contactForm .contactAgentformSection h3 a.agentCloseBtn{visibility: visible; opacity: 1;}
#landDetail-popup.show_contactForm .popup-body .prop_DetailMain{ transition: all ease 0.4s; transform: translateX(-400px);}


/***************************
No Property found page
****************************/
.noPropertySection{ max-width:380px; margin:130px auto; padding-top:150px; text-align: center; background-image: url(../images/no-property-bg.png); background-repeat: no-repeat; background-position: center top;}
.noPropertySection h2{font-size: 18px; font-weight: 600; margin:0 0 10px;}
.noPropertySection p{ color: #757575; font-size: 14px; font-weight: 400; line-height: 28px; margin:0 0 10px;}

.relatedPropertySection{ padding: 0; margin-bottom: 30px;}
.relatedPropertySection h2{font-size: 16px; font-weight: 500; margin:0 0 15px; padding-right: 70px;}
.relatedPropertySection .featureArticle{ margin-bottom: 0;}

.relatedProperty-carousel.owl-carousel .owl-nav button.owl-prev, 
.relatedProperty-carousel.owl-carousel .owl-nav button.owl-next{ display: inline-block; width: 25px; height: 25px; background-color: transparent; background-repeat: no-repeat; background-position: center; text-indent: -999999px; overflow: hidden; border-radius: 100%; position: absolute; top:-37px}
.relatedProperty-carousel.owl-carousel .owl-nav button:focus{outline: none; box-shadow: none; }
.relatedProperty-carousel.owl-carousel .owl-nav button.owl-prev{background-image: url(../images/svg-icons/left-icon.svg); right:35px; } 
.relatedProperty-carousel.owl-carousel .owl-nav button.owl-next{ background-image: url(../images/svg-icons/right-icon.svg); right: 0;}


/***************************
Book your Appointment page
****************************/
/*Common CSS for form pages*/
.commonFormPage{ padding:0;}
.formPageHeading{ text-align: center; margin-bottom: 50px; padding-top:30px;}
.formPageHeading h1{color: #000000; font-size: 32px; font-weight: 600; line-height: 50px; margin:0 0 15px;}
.formPageHeading h2{max-width:620px; margin:0 auto; color: #9e9e9e; font-size: 16px; font-weight: 400; line-height: 32px; }
.multiformContainer{max-width: 540px; margin:0 auto;}
/*Common CSS for form pages*/

/** Book your Appointment page **/
/*Form Cards*/
.cards-sections {margin-bottom: 40px;}
.card {width: 31%;}
.card-type {color: #757575; font-size: 14px; font-weight: 400;  line-height: normal; text-align: left;}
.card.highlight {border: 1px solid #42bbac;}
.card.highlight .custom-control-label img.black {display: none;}
.card.highlight .custom-control-label img.color {display: inline-block;}
.card .custom-control-label img.color {display: none;}
.card .custom-control-label {padding: 15px 0; width: 100%;}
.card .custom-control-label::after,
.card .custom-control-label::before {top: .4rem; left: 10px;}

.custom-radio .custom-control-label::before {border:0;}
.custom-control-label img {width:50%;}
.custom-control.custom-radio {padding-left: 0rem;}
span.month-count {color: #ffffff; font-size: 12px; font-weight: 500; text-transform: initial;}



/***************************
Land Report Analysis page
****************************/
.multisteps-form__progress div:last-child {padding-left: 35px;}
/* Step One */
.selectRadio {margin-bottom: 30px;}
.selectRadio label {color: #757575; font-size: 14px; font-weight: 400;  line-height: normal; text-align: left;}
.selectRadio .custom-control-label::before {background-color: #ffffff; border: 1px solid #bdbdbd !important; width:14px; height:14px;}
.selectRadio .custom-radio .custom-control-input:checked~.custom-control-label::after {background-image: url(../images/svg-icons/radio-round-check-icon.svg); background-size: auto; width:14px; height:14px;}
.selectRadio .custom-radio .custom-control-input:checked~.custom-control-label::before {border:0 !important;}
.selectRadio .custom-control-label {color:#212121; padding: 0 0 0 25px;}
.selectRadio .custom-control.custom-radio {width:auto; margin-right: 15%;}

.has-float-label.mobileNo {position: relative;}
.has-float-label.mobileNo::before {content:"+91"; width:auto; height:auto; position: absolute; top: 9px; left: 0; color: #9e9e9e; font-size: 14px; font-weight: 400;  line-height: normal; text-align: left; border-right: 1px solid #e0e0e0; padding-right: 4px;}
.has-float-label.mobileNo label::after, .has-float-label.mobileNo>span::after {background: transparent;}

.input-group .has-float-label.mobileNo .form-control,
.has-float-label.mobileNo .form-control:placeholder-shown:not(:focus)+ label {padding-left: 30px;}


/* Step Two */
address h4 {color: #212121; font-size: 18px; font-weight: 500; line-height: 30px; margin-bottom: 0;}
address span {color: #757575; font-size: 16px; font-weight: 400; line-height: 30px;}
.form-filds button.js-btn-prev {border: 0; outline: 0; color: #9e9e9e; font-size: 12px; font-weight: 500;  line-height: 17px; text-align: center; background-color:transparent;
                                background-image: url(../images/svg-icons/edit-icon.svg); background-repeat: no-repeat; background-position:0 0; background-size:auto; padding-left: 25px;}

/* Step Third */
.cards-sections {margin-bottom: 40px;}
.card {width: 31%;}
.card-type {color: #757575; font-size: 14px; font-weight: 400;  line-height: normal; text-align: left;}
.card.highlight {border: 1px solid #42bbac;}
.card.highlight .custom-control-label img.black {display: none;}
.card.highlight .custom-control-label img.color {display: inline-block;}
.card .custom-control-label img.color {display: none;}
.card .custom-control-label {padding: 15px 0; width: 100%;}
.card .custom-control-label::after,
.card .custom-control-label::before {top: .4rem; left: 10px;}

.custom-radio .custom-control-label::before {border:0;}
.custom-control-label img {width:50%;}
.custom-control.custom-radio {padding-left: 0rem;}
span.month-count {color: #ffffff; font-size: 12px; font-weight: 500; text-transform: initial;}

/***************************
Sell your Land page
****************************/
/* Step One */
.whoYouAre .custom-control.custom-radio {width: 110px; height: 99px; border-radius: 6px; border: 1px solid #e9e9e9; background-color: #f6f6f6; opacity: 0.75; margin: 0 auto;}
.whoYouAre .custom-control.custom-radio label {width: 100%; height:100%; text-align: center; line-height: 120px; font-size: 16px; font-weight: 500; } 
.whoYouAre .custom-control-label::before,
.whoYouAre .custom-control-label::after {top: 1.2rem; left: 40%;}
.whoYouAre .custom-control-label::before {background-image: url(../images/svg-icons/radio-uncheck-icon.svg); background-size: auto; width:20px; height:20px;}
.whoYouAre .custom-control-label::after {background-image: url(../images/svg-icons/white-radio-check-icon.svg) !important; background-size: auto; width:20px; height:20px;}
.whoYouAre .custom-control.custom-radio.highlight label {color:#fff; background-color: #08cf85;} 
.whoYouAre .custom-control.custom-radio.highlight .custom-control-input:checked~.custom-control-label::before {background-color: #46dba4;}
.multisteps-form__content.whoYouAre  .button-row {border-radius: 0 0 11px 11px; background-color: #ffffff; padding: 0px 70px 60px; float: unset; width: 100%; text-align: center;}
.multisteps-form__content.whoYouAre .button-row .btn.btn-primary {margin-bottom: auto; margin-left: auto; border-radius: 24px; padding: 9px 50px; float: unset; margin-top: 10px; width: 246px; height: 48px; font-size: 14px; font-weight: 500; opacity: 0.4;}
.multisteps-form__content.whoYouAre .button-row .btn.btn-primary.opacity1 {opacity: 1;}

/* Step Two */
.selectRadio {margin-bottom: 30px;}
.selectRadio label {color: #757575; font-size: 14px; font-weight: 400;  line-height: normal; text-align: left;}
.selectRadio .custom-control-label::before {background-color: #ffffff; border: 1px solid #bdbdbd !important; width:14px; height:14px;}
.selectRadio .custom-radio .custom-control-input:checked~.custom-control-label::after {background-image: url(../images/svg-icons/radio-round-check-icon.svg); background-size: auto; width:14px; height:14px;}
.selectRadio .custom-radio .custom-control-input:checked~.custom-control-label::before {border:0 !important;}
.selectRadio .custom-control-label {color:#212121; padding: 0 0 0 25px;}
.selectRadio .custom-control.custom-radio {width:auto; margin-right: 15%;}

.has-float-label.mobileNo {position: relative;}
.has-float-label.mobileNo::before {content:"+91"; width:auto; height:auto; position: absolute; top: 9px; left: 0; color: #9e9e9e; font-size: 14px; font-weight: 400;  line-height: normal; text-align: left; border-right: 1px solid #e0e0e0; padding-right: 4px;}
.has-float-label.mobileNo label::after, .has-float-label.mobileNo>span::after {background: transparent;}

.input-group .has-float-label.mobileNo .form-control,
.has-float-label.mobileNo .form-control:placeholder-shown:not(:focus)+ label {padding-left: 30px;}

/* Step Third */
.cards-sections {margin-bottom: 40px;}
.card {width: 31%;}
.card-type {color: #757575; font-size: 14px; font-weight: 400;  line-height: normal; text-align: left;}
.card.highlight {border: 1px solid #42bbac;}
.card.highlight .custom-control-label img.black {display: none;}
.card.highlight .custom-control-label img.color {display: inline-block;}
.card .custom-control-label img.color {display: none;}
.card .custom-control-label {padding: 15px 0; width: 100%;}
.card .custom-control-label::after,
.card .custom-control-label::before {top: .4rem; left: 10px;}

.custom-radio .custom-control-label::before {border:0;}
.custom-control-label img {width:50%;}
.custom-control.custom-radio {padding-left: 0rem;}
span.month-count {color: #ffffff; font-size: 12px; font-weight: 500; text-transform: initial;}




/***************************
Meet the Expert page
****************************/
.meetTheExpertBanner {background-image: url(../images/expert-img.png), url(../images/expert-bg.png); background-position: 85% bottom, left top; background-repeat: no-repeat; background-size: 35%, auto; background-color: #000000;}

/*youMeetExpertSection*/
.youMeetExpertSection { padding: 80px 0 0px; }
.youMeetExpertSection h2{color: #000000; font-size: 36px; font-weight: 600;  line-height: 45px; text-align: left; margin-bottom: 40px; }
.youMeetExpertSection_bg{background-image: url(../images/meet-expert-bg.png); background-repeat: no-repeat; background-position: 0 top; background-size:auto 100%; padding: 50px 0;}
.youMeetExpertSection a {border-radius: 12px; display: flex; align-items: center; height:142px; border: 1px solid #e0e0e0; background-color: #ffffff; color: #424242; font-size: 20px; font-weight: 500;  line-height: 36px; margin: 20px 0; padding: 20px 15px; padding-right: 70px; position: relative;}
.youMeetExpertSection a span {color: #ededed; font-size: 60px; font-weight: 600; line-height: 76px; margin-right: 25px; display: flex; align-items: center;}
.youMeetExpertSection a:hover::before {content: ""; position: absolute; right: 0; top:5%; width: 4px; height: 113px; border-radius: 3px; background-color: #42bbac;}

/*meetOurExpertSection */
.meetOurExpertSection{padding: 100px 0;}
.meetOurExpertSection h2{font-size: 30px; line-height: 50px; margin-bottom: 10px;}
.meetOurExpertSection p{ color: #9e9e9e; font-size: 16px; line-height: 32px; margin-bottom: 25px;}
.meetOurExpertSection a.btn {border-radius: 28px; font-size: 14px; padding:13px 25px; min-width: 250px;}

.custom-meet-radio{ position: relative; width: 25%; padding:0 10px 20px;}
.custom-meet-radio input{ position: absolute; cursor: pointer; opacity: 0;} 
.custom-meet-radio label{padding:10px 10px 10px 50px; display: block; border-radius: 22px; border: 1px solid #e0e0e0; cursor: pointer; position: relative; }
.custom-meet-radio input:checked~label{border-color: #00e4bd; color: #00e4bd;}
.custom-meet-radio input~label::before{ display: none;}
.custom-meet-radio input:checked~label::after {background-image: url(../images/svg-icons/checked-icon.svg); background-position: 0 0; background-repeat: no-repeat; background-size: auto; width:18px; height:18px; left: 20px; top: 11px; position: absolute; display: block; content: '';}   

/***************************
Sell your Land page
****************************/ 
.sellYourLandBanner {background-image: url(../images/sell-your-land-img.png), url(../images/sell-your-land-banner-bg.png); background-position: 90% bottom, left top; background-repeat: no-repeat; background-size: 35%, auto; background-color: #ffffff; padding:100px 0 50px;}
.sellYourLandBanner h2 {color: #212121; font-size: 20px; font-weight: 500; margin-bottom: 50px;}
.sellYourLandBanner h1 {color: #212121;}
.sellYourLandBanner p { color: #757575; font-size: 16px; font-weight: 400; line-height: 37px; }
.sellYourLandBanner a.btn {border-radius: 28px; min-width:230px;}

.listingAttributes { background-color:#212121; background-image: url(../images/attributes-bg-img.png); background-position: 0 0; background-repeat: no-repeat; background-size: cover; padding: 190px 0 180px;}
.listingAttributes h2 {color: #ffffff; font-size: 32px; font-weight: 600; line-height: normal;}
.listingAttributes p {color: #ffffff; font-size: 16px; line-height: 36px; }

.priceForYouSection {padding: 100px 0;} 


/***************************
Admin Login section
****************************/ 
.adminLoginWrapper{ display:flex; min-height:100vh;}
.leftloginBanner{ max-width:40%; flex:0 0 40%; background-image:url(../images/brokerModalBanner.png); background-repeat: no-repeat; background-position: center; background-size: cover; padding: 40px 70px; position: relative; display: flex; align-items: flex-end;}
.leftloginBanner::before{background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.71) 100%); width:100%; height:100%; content:''; display: block; position: absolute; top:0; bottom:0; left:0; z-index: 0;}
.adminLoginTitle{ position: relative; z-index: 1;}
.adminLoginTitle h2{color: #ffffff; line-height: 51px; font-size: 34px; font-weight: 400; position: relative;}
.adminLoginTitle h2::before{ position: absolute; left: 0; top: -25px; content: ""; width: 104px; height: 3px; background-color: #42bbac; border-radius: 4px;}
.adminLoginTitle h2 strong{font-size: 30px; font-weight: 600; }

/*Right side*/
.rightadminLoginSection{ max-width:60%; flex:0 0 60%; display:flex; align-items: center; justify-content: center; position: relative; }
.adminLoginBox{ max-width:400px; flex: 0 0 400px; margin: 0 auto; padding:25px; display: none;}
.adminLoginBox.shown{ display: block;}
.adminLoginBox .ad_logo{ display: flex; justify-content: center; margin-bottom: 40px;}
.adminLoginBox .ad_logo img { width: 46px;  display: block; margin-right: 12px;}
.adminLoginBox .ad_logo a {display: flex; align-items: center; color: #212121; font-size: 14px;}

.adminLoginForm{ padding: 0;}
.adminLoginForm label{color: #212121; font-size: 13px; font-weight: 500; display: block; margin: 0 0 5px;}
.adminLoginForm .form-group{ margin:0 0 18px;}
.adminLoginForm .form-control{border-radius: 2px; color: #212121; padding:8px 14px; font-size: 12px; border: 1px solid #e0e0e0; background-color: #ffffff;}

.adminLoginBtn .btn{ border-radius: 50px; padding: 10px 30px; width:100%; }

/*back at forgot screen*/
.backBtn_forgot{ display: none; position: absolute; top: 30px; left: 30px; width:300px;}
.backBtn_forgot.shown{ display: flex;}
.backBtn_forgot a{ display: block; max-width:18px; flex: 0 0 18px; height:18px; background-image: url(../images/svg-icons/back-icon.svg); background-repeat: no-repeat; background-position: center; margin-right:24px}
.backBtn_forgot span{ color: #212121; font-size: 14px; font-weight: 500; flex: 1;}


/*join broker & expert select2 width*/
#expert_services + .select2-container{
    width:100% !important;
}
#broker_services + .select2-container{
    width:100% !important;
}


